<div class="header-container">
  <div class="header-text">
    <a id="header-href-home"
       data-ui-sref="home()"
       data-ui-sref-opts="{reload: true}">Home</a>
  </div>
  <div>
    <div class="btn-group header-dropdown-text"
         uib-dropdown
         keyboard-nav>
      <button id="header-dropdown-under-name"
              type="button"
              class="btn btn-link header-text no-wrap"
              uib-dropdown-toggle><span data-ng-bind="profile.firstName"></span>
        <i data-ng-class="{'fas fa-caret-down': profile, 'fas fa-spinner fa-spin': !profile}"></i></button>
      <ul class="dropdown-menu-right no-wrap"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="header-log-out"
          data-ng-if="profile">
        <li role="menuitem" data-ng-if="status.isAdmin">
          <vue-migrated-link data-uri="'/admin'">Admin</vue-migrated-link>
        </li>
        <li id="header-log-out" role="menuitem">
          <a href data-ng-click="logOut()">Log Out</a>
        </li>
        <li id="header-help-mailto" role="menuitem">
          <a href="mailto:{{supportEmailAddress}}" target="_blank">Feedback/Help</a>
        </li>
      </ul>
    </div>
  </div>
</div>
