.group-create-form-name {
  font-size: 16px;
  padding: 0 10px 10px 10px;
}

.group-create-input-name {
  border: 1px solid #d9d9d9;
  border-color: #66afe9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.footer-container {
  align-items: flex-start;
  align-self: end;
  display: flex;
  flex-direction: row;
  font-weight: 300;
  justify-content: space-between;
}

.header-container div {
  margin-left: 20px;
}

.footer-container div:first-child {
  margin-left: 10px;
}

.footer-copyright {
  display: inline-block;
  margin: 0 20px 0 20px;
  text-align: right;
  white-space: nowrap;
}

.footer-separator {
  color: #4a90e2;
  height: 1px;
  margin: 20px;
}

.header-container {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
}

.header-container div:last-child {
  flex-grow: 0;
}

.header-container div:last-child > span {
  float: right;
}

.header-container div:last-child > button {
  float: right;
  margin-right: 20px;
}

.header-name {
  float: right;
}

.header-text {
  font-size: 16px;
  color: #fff;
}

.header-text a:link,
.header-text a:visited {
  color: #fff;
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
}

.header-text a:hover,
.header-text a:focus,
.header-text a:active {
  color: #ddd;
}

.header-column-01 {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.header-column-03 {
  -webkit-flex: 3 0 0;
  flex: 3 0 0;
}

.sidebar-pill {
  background-color: #8bbdda;
  border-radius: 10px;
  color: #125704;
  float: right;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 30px;
}

.sidebar-header {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 1px 0 1px 0;
  white-space: nowrap;
}

.sidebar-header-icon {
  border: 0;
  object-fit: scale-down;
  height: 16px;
  margin: 0 2px 4px 0;
}

.sidebar-row-link {
  border-left: 6px solid #125074;
  color: #8bbdda;
  font-size: 16px;
  line-height: 1.4em;
  padding: 1px 1px 1px 0;
}

.sidebar-row-link:hover,
.sidebar-row-link:focus,
.sidebar-row-link:active {
  border-left: 6px solid #f0ad4e !important;
  background-color: #083456;
  border: 0;
  color: #f0ad4e;
  text-decoration: none;
  -moz-outline-style: none;
}

.sidebar-row-link:hover .sidebar-pill,
.sidebar-row-link:focus .sidebar-pill,
.sidebar-row-link:active .sidebar-pill {
  background-color: #f0ad4e;
  color: #083456;
}

.sidebar-row-link a:link,
.sidebar-row-link a:visited {
  text-decoration: none;
  border: 0;
  color: inherit;
  -moz-outline-style: none;
}

.sidebar-row-link-label {
  padding-left: 8px;
}

.sidebar-row-without-link {
  margin-left: 14px;
}

.sidebar-section-divider {
  background-color: #4a90e2;
  border: none;
  color: #4a90e2;
  height: 1px;
  margin: 10px 10px 10px 15px;
}

.sidebar-section-header {
  margin-top: 10px;
}

.sidebar-student-alert {
  color: #f0ad4e;
  float: right;
  font-size: 16px;
  margin-right: 5px;
  padding: 3px 0 0 1px;
}

.sidebar-manage-link {
  color: #8bbdda;
  font-size: 16px;
  line-height: 1.4em;
}
