<div class="sidebar-section-search">
  <search-students-form></search-students-form>
</div>
<div data-ng-if="!isLoading">
  <div class="sidebar-row-link sidebar-section-header">
    <div class="sidebar-header sidebar-row-link-label">
      <span class="sidebar-row-link-label-text">Cohorts</span>
    </div>
    <div>
      <span class="sidebar-header sidebar-row-link-label">
        <a id="sidebar-filtered-cohort-create"
           aria-label="Create cohort"
           class="sidebar-create-link"
           data-ui-sref="filteredCohort({id: null, inactive: null, intensive: null, name: null})"
           data-ui-sref-opts="{reload: true}"><i class="fas fa-plus"></i></a>
      </span>
    </div>
  </div>
  <div class="sidebar-row-link" data-ng-repeat="cohort in profile.myFilteredCohorts">
    <div class="sidebar-row-link-label">
      <a id="sidebar-filtered-cohort-{{$index}}"
         aria-label="Cohort '{{cohort.name}}' has {{cohort.totalStudentCount}} students"
         class="sidebar-row-link-label-text"
         data-ng-bind="cohort.name"
         data-ui-sref="filteredCohort({id: cohort.id, inactive: null, intensive: null, name: null})"
         data-ui-sref-opts="{reload: true}"></a>
    </div>
    <div>
      <span id="sidebar-filtered-cohort-{{$index}}-count"
            class="sidebar-pill">{{cohort.totalStudentCount}}<span class="sr-only"
                                                                   data-ng-pluralize
                                                                   count="cohort.totalStudentCount"
                                                                   when="{'one': ' student', 'other': ' students'}"></span></span>
    </div>
  </div>

  <hr class="sidebar-section-divider"/>

  <div data-ng-if="profile.myCuratedCohorts.length">
    <div class="sidebar-row sidebar-section-header">
      <div class="sidebar-header sidebar-row-link-label">
        <span class="sidebar-row-link-label-text">Curated Groups</a>
      </div>
    </div>
    <div class="sidebar-row-link" data-ng-repeat="cohort in profile.myCuratedCohorts">
      <div class="sidebar-row-link-label">
        <a id="sidebar-curated-cohort-{{$index}}"
           aria-label="Curated group '{{cohort.name}}' has {{cohort.studentCount}} students"
           class="sidebar-row-link-label-text"
           data-ng-bind="cohort.name"
           data-ui-sref="curatedCohort({id: cohort.id})"
           data-ui-sref-opts="{reload: true}"></a>
      </div>
      <div>
        <span id="sidebar-curated-cohort-{{$index}}-count"
              class="sidebar-pill">{{cohort.studentCount}}<span class="sr-only"
                                                                data-ng-pluralize
                                                                count="cohort.studentCount"
                                                                when="{'one': ' student', 'other': ' students'}"></span></span>
      </div>
    </div>
    <hr class="sidebar-section-divider"/>
  </div>

  <div class="sidebar-row-link" data-ng-if="isAscUser">
    <span class="sidebar-row-link-label">
      <a id="sidebar-teams-link"
         data-ui-sref="teams()"
         data-ui-sref-opts="{reload: true}">Team List</a>
    </span>
  </div>
  <div class="sidebar-row-link" data-ng-if="isAscUser">
    <span class="sidebar-row-link-label">
      <a id="sidebar-cohort-intensive"
         data-ui-sref="filteredCohort({id: null, inactive: null, intensive: 'true', name: 'Intensive'})"
         data-ui-sref-opts="{reload: true}">Intensive Students</a>
    </span>
  </div>
  <div class="sidebar-row-link" data-ng-if="isAscUser">
    <span class="sidebar-row-link-label">
      <a id="sidebar-cohort-inactive"
         data-ui-sref="filteredCohort({id: null, inactive: 'true', intensive: null, name: 'Inactive'})"
         data-ui-sref-opts="{reload: true}">Inactive Students</a>
    </span>
  </div>
  <div class="sidebar-row-link">
    <span class="sidebar-row-link-label">
      <a id="sidebar-filtered-cohorts-all"
         data-ui-sref="filteredCohortsAll()"
         data-ui-sref-opts="{reload: true}">Everyone's Cohorts</a>
    </span>
  </div>
</div>
