<div class="all-cohorts-container">
  <h1 class="page-section-header">Everyone's Cohorts</h1>

  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div data-ng-if="!isLoading">
    <div data-ng-if="!owners.length">
      <div>There are no saved cohorts</div>
    </div>
    <div data-ng-repeat="owner in owners" data-ng-if="owners.length">
      <h2 class="page-section-header-sub">{{owner.firstName}} {{owner.lastName}}</h2>
      <ul>
        <li data-ng-repeat="cohort in owner.cohorts">
          <a data-ng-bind="cohort.label" data-ng-href="/cohort?c={{cohort.id}}"></a>
          (<span data-ng-bind="cohort.totalStudentCount"></span>)
        </li>
      </ul>
    </div>
  </div>
</div>
