<div class="all-cohorts-container">
  <div class="body-text" data-ng-if="me.authenticated_as.is_authenticated">
    <h1 class="page-section-header">Everyone's Cohorts</h1>

    <div class="container" data-ng-if="isLoading">
      <div>Loading.... </div>
    </div>
    <div data-ng-if="!isLoading">
      <div data-ng-if="!owners.length">
        <div>There are no saved cohorts</div>
      </div>
      <div data-ng-if="owners.length">
        <ul>
          <li data-ng-repeat="owner in owners">
            <span data-ng-bind="owner.firstName"></span>
            <span data-ng-bind="owner.lastName"></span>
            <ul>
              <li data-ng-repeat="cohort in owner.cohorts">
                <a data-ng-bind="cohort.label" data-ng-href="/cohort?c={{cohort.id}}"></a>
                (<span data-ng-bind="cohort.totalMemberCount"></span>)
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
