.cohort-avatar {
  background: #fff;
  border: 5px solid #ccc;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.cohort-avatar-container {
  align-items: center;
  display: flex;
  flex: 0 0 60px;
}

.cohort-list-item {
  border-left: none;
  border-right: none;
  display: flex;
}

.cohort-member-name {
  color: #49b;
  font-size: 16px;
  margin: 0;
}

.cohort-member-name-container {
  flex: 1;
  margin-left: 20px;
}

.cohort-member-uid {
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0;
}

.cohort-sort {
  display: inline-block;
  margin-left: 5px;
  width: 150px;
}

.cohort-sort-container {
  display: inline-block;
  flex: 1;
  text-align: right;
  vertical-align: middle;
}

.cohort-tab-button {
  background-color: #6bd;
  color: #fff;
}

.cohort-tab-button:hover {
  color: #cef;
}

.cohort-tab-button-selected {
  background-color: #49b;
}

.cohort-tab-button-selected:active,
.cohort-tab-button-selected:focus {
  color: #fff;
  outline: none !important;
}

.cohort-view-options-container {
  display: flex;
  margin: 20px 0 30px;
}
