<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <div class="container" data-ng-if="error">
    <h1>Error</h1>
    <div>
      Sorry, there was an error retrieving cohort data.
      <span class="faint-text" data-ng-if="error.message">(<span data-ng-bind="error.message"></span>)</span>
    </div>
  </div>
  <div class="container" data-ng-if="!error && !cohort">
    <div>Loading....</div>
  </div>
  <div class="flex-container cohort-manage-columns" data-ng-show="!error && cohort">
    <div class="cohort-column-search">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="cohort-column-results">
      <h1>
        <span data-ng-bind="cohort.totalMemberCount"></span> Results
      </h1>
      <div class="flex-container flex-space-between">
        <div class="btn-group cohort-btn-group" role="group" aria-label="Select results view">
          <button type="button"
                  class="btn btn-secondary cohort-tab-button"
                  data-ng-class="{'cohort-tab-button-selected': selectedTab==='list'}"
                  data-ng-click="selectedTab='list'">
            <i class="fa fa-list"></i> List
          </button>
          <button type="button"
                  class="btn btn-secondary cohort-tab-button"
                  data-ng-class="{'cohort-tab-button-selected': selectedTab==='matrix'}"
                  data-ng-click="selectedTab='matrix'">
            <i class="fa fa-table"></i> Matrix
          </button>
        </div>
        <div class="cohort-sort-container" data-ng-if="selectedTab === 'list'">
          <label class="cohort-sort-label" for="sort-by">Sort by</label>
          <select id="cohort-sort-by"
                  class="form-control"
                  data-ng-model="orderBy.selected"
                  data-ng-options="o.value as o.label for o in orderBy.options">
          </select>
        </div>
      </div>

      <div data-ng-show="selectedTab === 'list'">
        <ul class="list-group">
          <a class="list-group-item cohort-member-list-item"
             data-ng-href="/student/{{member.uid}}"
             data-ng-repeat="member in cohort.members | orderBy:cohort.orderBy">
            <div class="cohort-avatar-container">
              <img class="cohort-avatar" data-ng-src="{{member.avatar_url}}">
            </div>
            <div class="cohort-member-name-container">
              <h3 class="cohort-member-name" data-ng-bind="member.name"></h3>
              <div class="cohort-member-uid" data-ng-bind="member.uid"></div>
            </div>
          </a>
        </ul>
        <ul uib-pagination
            direction-links="false"
            items-per-page="pagination.itemsPerPage"
            total-items="cohort.totalMemberCount"
            ng-model="pagination.currentPage"
            data-ng-click="nextPage()"
            data-ng-if="cohort.totalMemberCount && cohort.totalMemberCount > pagination.itemsPerPage"></ul>
      </div>
      <div data-ng-show="selectedTab === 'matrix'">
        <div id="scatterplot"></div>
        <ul data-ng-if="membersWithoutData.length">
          <h4>Students without graphable data</h4>
          <li data-ng-repeat="member in membersWithoutData">
            <a data-ng-href="/student/{{member.uid}}">
              <img class="cohort-avatar" data-ng-src="{{member.avatar_url}}">
              <span data-ng-bind="member.name"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'"></div>
</div>
