<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <div data-ng-if="isLoading">
    <h1 class="faint-text">Loading....</h1>
  </div>
  <div data-ng-if="error">
    <h1>Error</h1>
    <div>
      Sorry, there was an error retrieving cohort data.
      <span class="faint-text" data-ng-if="error.message">(<span data-ng-bind="error.message"></span>)</span>
    </div>
  </div>
  <div data-ng-if="!isLoading && (search.results.totalCount >= 0)">
    <h1 data-ng-if="cohort">
      <span data-ng-bind="cohort.label || cohort.name"></span>
      <span class="faint-text">(<span data-ng-bind="search.results.totalCount"></span> members)</span>
    </h1>
    <h1 data-ng-if="!cohort && !isCreateCohortMode">
      <span data-ng-bind="search.results.totalCount"></span> Results
    </h1>
  </div>
  <div class="cohort-column-results" data-ng-if="!isLoading && !error && isCreateCohortMode">
    <h1>
      Create a Cohort
    </h1>
    <div>
      Find a set of users then save your search as a custom cohort. Revisit your saved cohorts at any time.
    </div>
  </div>

  <hr class="filters-section-separator" data-ng-if="!isLoading && !error && !isCreateCohortMode"/>

  <div class="flex-container flex-space-between" data-ng-if="!isLoading && !error">
    <div class="cohort-filters-column flex-column-btn">
      <div class="btn-group box-shadow-off" uib-dropdown keyboard-nav>
        <!-- Dropdown docs at https://angular-ui.github.io/bootstrap/ -->
        <button id="search-filter-teams" type="button" class="btn" uib-dropdown-toggle>
          <span class="cohort-filter-label">
            Teams (<span data-ng-bind="search.count.selectedTeams"></span>) <i class="fa fa-chevron-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu"
            uib-dropdown-menu
            role="menu"
            aria-labelledby="search-filter-teams">
          <li class="cohort-filter-list-item"
              role="menuitem"
              data-ng-repeat="team in search.options.teams">
            <input id="search-option-team-{{team.code}}"
                   type="checkbox"
                   data-ng-model="team.selected"
                   aria-label="{{team.name}}"
                   data-ng-click="updateSelectedTeamsCount(team.selected ? 1 : -1)" />
            <span data-ng-bind="team.name"></span></li>
        </ul>
      </div>
    </div>
    <div class="cohort-filters-column flex-column-50"></div>
    <div class="cohort-filters-column flex-column-btn">
      <button id="header-sign-in"
              class="btn btn-primary btn-nowrap"
              data-ng-disabled="!search.count.selectedTeams"
              data-ng-click="executeSearch()"
              data-ng-if="selectedTab === 'list'">Search</button>
    </div>
    <div class="cohort-filters-column flex-column-btn">
      <span data-ng-controller="CreateCohortController" data-ng-if="!isLoading && !isCreateCohortMode && selectedTab === 'list'">
        <button type="button"
                id="create-cohort-btn"
                class="btn btn-default btn-nowrap"
                data-ng-click="openCreateCohortModal(search.options.teams)">
          Save Cohort
        </button>
      </span>
    </div>
  </div>

  <hr class="filters-section-separator" data-ng-if="!isLoading && !error && !isCreateCohortMode"/>

  <div class="cohort-column-results" data-ng-if="!isLoading && search.results.totalCount">
    <div class="flex-container flex-space-between">
      <div class="cohort-sort-column">
        <div class="btn-group cohort-btn-group" role="group" aria-label="Select results view">
          <button type="button"
                  class="btn btn-secondary cohort-tab-button"
                  data-ng-class="{'cohort-tab-button-selected': selectedTab==='list'}"
                  data-ng-click="onTab('list')">
            <i class="fa fa-list"></i> List
          </button>
          <button type="button"
                  class="btn btn-secondary cohort-tab-button"
                  data-ng-class="{'cohort-tab-button-selected': selectedTab==='matrix'}"
                  data-ng-click="onTab('matrix')">
            <i class="fa fa-table"></i> Matrix
          </button>
        </div>
      </div>
      <div class="cohort-sort-column" data-ng-if="selectedTab === 'list'">
        <label class="cohort-sort-label" for="sort-by">Sort by</label>
        <select id="cohort-sort-by"
                class="form-control"
                data-ng-model="orderBy.selected"
                data-ng-options="o.value as o.label for o in orderBy.options">
        </select>
      </div>
    </div>
    <div data-ng-show="selectedTab === 'list'">
      <ul class="list-group">
        <a class="list-group-item cohort-member-list-item"
           data-ng-href="/student/{{row.uid}}"
           data-ng-repeat="row in search.results.rows">
          <div class="cohort-avatar-container">
            <img class="cohort-avatar" data-ng-src="{{row.avatar_url}}">
          </div>
          <div class="cohort-member-name-container">
            <h3 class="cohort-member-name" data-ng-bind="row.name"></h3>
            <div class="cohort-member-uid" data-ng-bind="row.uid"></div>
          </div>
        </a>
      </ul>
      <ul uib-pagination
          direction-links="false"
          items-per-page="pagination.itemsPerPage"
          total-items="search.results.totalCount"
          ng-model="pagination.currentPage"
          data-ng-click="nextPage()"
          data-ng-if="pagination.enabled && !isCreateCohortMode && (search.results.totalCount > pagination.itemsPerPage)"></ul>
    </div>
    <div data-ng-show="selectedTab === 'matrix'">
      <div data-ng-if="isMatrixLoading">
        <h2 class="faint-text">Loading....</h2>
      </div>
      <!-- IMPORTANT: We use data-ng-show because d3 must populate the div before we reveal it to the user. -->
      <div id="scatterplot" data-ng-show="!isMatrixLoading"></div>
      <ul data-ng-if="!isMatrixLoading && matrix.membersWithoutData.length">
        <h4>Students without graphable data</h4>
        <li data-ng-repeat="member in matrix.membersWithoutData">
          <a data-ng-href="/student/{{member.uid}}">
            <img class="cohort-avatar" data-ng-src="{{member.avatar_url}}">
            <span data-ng-bind="member.name"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'"></div>
</div>
