.cohort-matrix {
  border: 1px solid #999;
  height: 500px;
  margin: 0;
  width: 910px;
}

.cohort-matrix .dot {
  cursor: pointer;
  stroke: #000;
}

.cohort-matrix .overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.cohort-matrix-axis path,
.cohort-matrix-axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.cohort-matrix-axis text {
  display: none;
}

.cohort-matrix-axis-label {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  stroke: #999;
}

.cohort-matrix-container {
  margin-bottom: 100px;
  position: relative;
}

.cohort-matrix-tooltip {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #666;
  line-height: 1.4em;
  opacity: 1;
  padding: 5px 10px;
  position: absolute;
  text-align: left;
  width: 200px;
}

.cohort-matrix-tooltip-header {
  color: #49b;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px;
}

.cohort-matrix-tooltip-table td {
  font-size: 12px;
  padding: 0 10px 2px 0;
}

.cohort-matrix-tooltip-value {
  font-weight: bold;
}
