.cohort-avatar {
  background-image: url(/static/app/shared/avatar-50.png);
  background-size: cover;
  border: 5px solid #ccc;
  border-radius: 30px;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.cohort-avatar-container {
  align-items: center;
  display: flex;
  flex: 0 0 60px;
}

.cohort-boxplot {
  height: 18px;
  width: 75px;
}

.cohort-boxplot .highcharts-container {
  overflow: visible !important;
}

.cohort-boxplot .highcharts-tooltip {
  width: 250px;
}

.cohort-boxplot-container {
  align-items: flex-end;
  display: flex;
}

.cohort-boxplot-container .highcharts-tooltip {
  background-color: #000;
  border-color: #000;
  border-radius: 6px;
  padding: 8px;
  width: 250px;
}

.cohort-boxplot-container g.highcharts-tooltip {
  display: none !important;
}

.cohort-boxplot-container .highcharts-tooltip span {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
}

.cohort-btn-group {
  padding: 0 0 5px 0;
}

.cohort-create-form-label {
  font-size: 16px;
  padding: 0 10px 10px 10px;
}

.cohort-create-input-name {
  border: 1px solid #d9d9d9;
  border-color: #66afe9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.cohort-filter-criteria {
  align-items: stretch;
  display: flex;
  flex-flow: wrap;
}

.cohort-filter-criteria > div {
  padding: 10px 0 0 0;
}

.cohort-filter-criteria-label {
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  margin-right: 10px;
  padding: 2px 10px 2px 10px;
  white-space: nowrap;
}

.cohort-filter-dropdown-toggle {
  background: #fff;
}

.cohort-filter-label {
  color: #49b;
  font-size: 16px;
  margin: 0;
}

.cohort-filter-list {
  padding: 5px 0 10px 0;
}

.cohort-filter-list-item {
  padding: 0 30px 0 20px;
  white-space: nowrap;
}

.cohort-filter-list-section-label {
  color: grey;
  padding: 5px 20px 5px 15px;
  white-space: nowrap;
}

.cohort-filters-column {
  margin: 10px 0 10px 0;
}

.filters-section-separator {
  margin: 0 0 0 0;
}

.cohort-manage-btn {
  height: 38px;
  margin: 0 0 0 5px;
}

.cohort-column-results {
  flex: 0 0 70%;
  flex-grow: 1;
  margin-left: 20px;
}

.cohort-label {
  word-wrap: break-word;
}

.cohort-manage-label {
  width: 70%;
}

.cohort-manage-text-input {
  flex: 1;
  min-width: 200px;
}

.cohort-member-column {
  flex: 0.5;
  margin-left: 20px;
}

.cohort-member-course-activity-row {
  display: flex;
}

.cohort-member-course-activity-wrapper {
  flex: 1;
  margin-left: 0;
}

.cohort-member-gpa {
  font-size: 13px;
  font-weight: bold;
}

.cohort-member-list-item {
  border-left: none;
  border-right: none;
  display: flex;
}

.cohort-member-name {
  color: #49b;
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
}

.cohort-member-name-container {
  flex: 1;
  margin-left: 20px;
}

.cohort-member-sid {
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0;
}

.cohort-member-teams {
  color: #000;
  font-size: 13px;
}

.cohort-member-teams-container {
  margin-top: 5px;
}

.cohort-member-text {
  color: #aaa;
  font-size: 13px;
}

.cohort-missing-student-data {
  margin-top: 30px;
}

.cohort-missing-student-data-header {
  display: flex;
  font-weight: bold;
  padding: 15px 15px 5px;
}

.cohort-sort-column {
  display: flex;
  margin: 20px 0 10px 0;
  white-space: nowrap;
}

.cohort-sort-label {
  padding: 5px 10px 0 0;
}

.cohort-tab-button {
  background-color: #6bd;
  color: #fff;
}

.cohort-tab-button:hover {
  color: #cef;
}

.cohort-tab-button-selected {
  background-color: #49b;
}

.cohort-tab-button-selected:active,
.cohort-tab-button-selected:focus {
  color: #fff;
  outline: none !important;
}
