.cohort-avatar {
  background: #fff;
  border: 5px solid #ccc;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.cohort-avatar-container {
  align-items: center;
  display: flex;
  flex: 0 0 60px;
}

.cohort-btn-group {
  padding: 0 0 5px 0;
}

.cohort-filter-criteria {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
}

.cohort-filter-criteria-label {
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  margin-right: 10px;
  padding: 2px 10px 2px 10px;
  white-space: nowrap;
}

.cohort-manage-btn {
  margin: 0 0 0 5px;
}

.cohort-manage-btn-link {
  line-height: normal;
  padding: 0 0 0 2px;
}

.cohort-column-search {
  flex: 0 0 30%;
  margin: 20px 0 0 0;
  max-width: 200px;
  min-width: 200px;
}

.cohort-column-results {
  flex: 0 0 70%;
  flex-grow: 1;
  margin-left: 20px;
}

.cohort-manage-text-input {
  flex: 1;
  min-width: 200px;
}

.cohort-member-list-item {
  border-left: none;
  border-right: none;
  display: flex;
}

.cohort-member-name {
  color: #49b;
  font-size: 16px;
  margin: 0;
}

.cohort-member-name-container {
  flex: 1;
  margin-left: 20px;
}

.cohort-member-uid {
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0;
}

.cohort-sort-container {
  display: flex;
  white-space: nowrap;
}

.cohort-sort-label {
  padding: 5px 10px 0 0;
}

.cohort-tab-button {
  background-color: #6bd;
  color: #fff;
}

.cohort-tab-button:hover {
  color: #cef;
}

.cohort-tab-button-selected {
  background-color: #49b;
}

.cohort-tab-button-selected:active,
.cohort-tab-button-selected:focus {
  color: #fff;
  outline: none !important;
}
