<div class="modal-header">
  <h3 id="confirm-delete-header">Name Your Saved Cohort</h3>
</div>
<div class="modal-body" id="confirm-delete-body">
  <div class="cohort-create-form-label">Cohort Name:</div>
  <div>
    <input class="cohort-create-input-name" data-ng-model="cohortName" type="text" required>
  </div>
  <div>
    <span class="has-error" data-ng-bind="errorMessage" data-ng-if="errorMessage"></span>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          id="cohort-confirm-delete-btn"
          class="btn btn btn-primary"
          data-ng-click="create(cohort)">Save Change</button>
  <button type="button"
          id="cohort-cancel-delete-btn"
          class="btn btn-default"
          data-ng-click="cancel()">Cancel</button>
</div>
