<div class="modal-header">
  <h3 id="confirm-delete-header">Delete Saved Cohort</h3>
</div>
<div class="modal-body cohort-label" id="confirm-delete-body">
  Are you sure you want to delete "<strong><span data-ng-bind="cohort.label"></span></strong>" cohort?
</div>
<div class="modal-footer">
  <button type="button"
          id="confirm-delete-cohort-btn"
          class="btn btn btn-primary"
          data-ng-click="delete(cohort)">Delete</button>
  <button type="button"
          id="cancel-delete-cohort-btn"
          class="btn btn-default"
          data-ng-click="cancel()">Cancel</button>
</div>
