<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <h1 data-ng-if="!error">Manage Cohorts</h1>

  <div data-ng-if="error">
    <h1>Error</h1>
    <div>
      Sorry, there was an error.
      <span class="faint-text" data-ng-if="error.message">(<span data-ng-bind="error.message"></span>)</span>
    </div>
  </div>

  <h2 class="faint-text" data-ng-if="isLoading">Loading....</h2>

  <div data-ng-if="!isLoading">
    <div data-ng-if="!myCohorts.length">
      You have no saved cohorts.
    </div>
    <div data-ng-repeat="cohort in myCohorts">
      <hr class="flex-row-wrap-separator"/>
      <div class="flex-container flex-space-between" data-ng-if="!cohort.editMode">
        <div class="cohort-manage-label">
          <strong><span id="cohort-label-{{$index}}" data-ng-bind="cohort.label"></span></strong>
          <span class="faint-text">(<span id="cohort-member-count-{{$index}}" data-ng-bind="cohort.totalMemberCount"></span>)</span>
        </div>
        <div>
          <span data-ng-controller="DeleteCohortController">
            <button type="button"
                    id="delete-cohort-btn-{{$index}}"
                    class="btn-link cohort-manage-btn-link"
                    data-ng-click="openDeleteCohortModal(cohort)">
              Delete
            </button> <span class="faint-text">|</span>
          </span>
          <button type="button"
                  id="edit-cohort-btn-{{$index}}"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="setEditMode(cohort, true)">
            Rename
          </button> <span class="faint-text">|</span>
          <button type="button"
                  id="cohort-details-btn-{{$index}}"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="setShowDetails(cohort, !cohort.detailsShowing)">
            <span data-ng-if="!cohort.detailsShowing">Show Details</span>
            <span data-ng-if="cohort.detailsShowing">Hide Details</span>
          </button>
        </div>
      </div>
      <div class="flex-container flex-space-between flex-row-wrap" data-ng-show="cohort.editMode">
        <div class="cohort-manage-text-input">
          <input aria-required="true"
                 class="form-control"
                 data-ng-change="cohort.hideError = true"
                 data-ng-model="cohort.label"
                 id="cohort-label-input-{{$index}}"
                 maxlength="255"
                 name="label"
                 required
                 type="text"/>
          <div class="has-error" data-ng-bind="cohort.error" data-ng-if="cohort.error && !cohort.hideError"></div>
          <div class="faint-text">255 character limit <span data-ng-if="cohort.label.length">({{255 - cohort.label.length}} left)</span></div>
        </div>
        <div class="flex-container flex-space-between">
          <button type="button"
                  id="cohort-cancel-btn-{{$index}}"
                  class="btn btn-sm btn-default cohort-manage-btn"
                  data-ng-click="cancelEdit(cohort)">
            Cancel
          </button>
          <button type="button"
                  id="cohort-save-btn-{{$index}}"
                  class="btn btn-sm btn-primary cohort-manage-btn"
                  data-ng-disabled="!cohort.label"
                  data-ng-click="updateCohort(cohort, cohort.label)">
            Rename
          </button>
        </div>
      </div>

      <div data-ng-show="cohort.detailsShowing">
        <div id="cohort-filter-criteria-{{$index}}"
             class="cohort-filter-criteria"
             data-ng-if="cohort.teamGroups">
          <div data-ng-repeat="group in cohort.teamGroups">
            <span class="cohort-filter-criteria-label"
                  data-ng-bind="group.teamGroupName"></span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'"></div>
</div>
