<div class="splash-container" data-ng-click="closeErrorPopovers()">
  <div class="splash-cell-stripe"></div>
  <div class="avatar-container">
    <img class="avatar-airplane" src="/static/app/splash/airplane.svg">
  </div>
  <div class="splash-cell-sign-in">
    <form data-ng-submit="signIn()">
      <button id="splash-sign-in"
              class="btn btn-default btn-primary splash-btn-sign-in"
              uib-popover-html="casLogin.error.popoverHtml"
              popover-class="has-error"
              popover-is-open="casLogin.error.isPopoverOpen"
              popover-placement="top-left">Sign In</button>
    </form>
    <div class="splash-contact-us">
      Questions or feedback? Contact us at <a href="mailto:{{supportEmailAddress}}" data-ng-bind="supportEmailAddress"></a>
    </div>
    <form data-ng-submit="devAuthLogIn(uid, password)" data-ng-if="devAuthLogIn">
      <div class="flex-container splash-dev-auth">
        <div>
          <input id="dev-auth-uid"
                 class="splash-form-input"
                 data-ng-model="uid"
                 type="text"
                 placeholder="UID"
                 autofocus
                 required
                 size="10"
                 uib-popover-html="devAuth.error.popoverHtml"
                 popover-class="has-error"
                 popover-is-open="devAuth.error.isPopoverOpen"
                 popover-placement="top-left">
        </div>
        <div>
          <input id="dev-auth-password"
                 autocomplete="none"
                 class="splash-form-input"
                 data-ng-model="password"
                 type="password"
                 placeholder="Password"
                 required
                 size="10">
        </div>
        <div>
          <button id="dev-auth-submit"
                  class="btn btn-primary splash-btn-dev-auth"
                  type="submit">DevAuth!</button>
        </div>
      </div>
    </form>
  </div>
  <div class="splash-box-container">
    <div class="splash-cell-header">
      <h1 class="splash-text-header">BOAC</h1>
    </div>
  </div>
  <div class="splash-cell-copyright">
    <span class="splash-text-copyright">&copy; 2018 The Regents of the University of California</span>
  </div>
</div>
