<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <div class="body-text" data-ng-if="me.authenticated_as.is_authenticated">
    <h1>My Dashboard</h1>

    <div class="flex-container-wrap-reverse">
      <div class="flex-column-50">
        <h2>Teams List</h2>
        <div data-ng-if="isLoading">
          <div>Loading.... </div>
        </div>
        <div data-ng-if="!isLoading">
          <div data-ng-if="!teams.length">
            <div>There are zero teams in the database.</div>
          </div>
          <div data-ng-if="teams.length">
            <ul data-ng-if="!isLoading">
              <li data-ng-repeat="team in teams">
                <a data-ng-bind="team.name" data-ng-href="/cohort/{{team.code}}"></a>
                (<span data-ng-bind="team.totalMemberCount"></span>)
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-column-50">
        <h2>My Saved Cohorts</h2>
        <div data-ng-if="isLoading">
          <div>Loading.... </div>
        </div>
        <div data-ng-if="!isLoading">
          <div data-ng-if="!myCohorts.length">
            <div>You have no saved cohorts</div>
          </div>
          <div data-ng-if="myCohorts.length">
            <ul>
              <li data-ng-repeat="cohort in myCohorts">
                <a data-ng-bind="cohort.label" data-ng-href="/cohort/{{cohort.id}}"></a>
                (<span data-ng-bind="cohort.totalMemberCount"></span>)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-text" data-ng-if="!me.authenticated_as.is_authenticated">
    <h1>Welcome to BOAC</h1>
    <div data-ng-bind="alertMessage || 'Please sign in.'"></div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'"></div>
</div>
