<div class="sr-only" role="alert"
     data-ng-bind-template="Sorted by {{alerts.sortBy}} {{alerts.reverse ? 'descending' : ''}}"
     data-ng-if="alerts.students.length"></div>
<table class="landing-table" data-ng-if="alerts.students">
  <tr class="landing-table-header">
    <th class="landing-table-header-name landing-table-header-sortable" data-ng-click="sort(alerts, 'sortableName')" data-ng-class="{dropup: !alerts.reverse}">
      <span class="sr-only">Sort by </span>Name
      <span class="sr-only" data-ng-if="alerts.sortBy === 'sortableName' && !alerts.reverse">Descending</span>
      <span class="caret" data-ng-if="alerts.sortBy === 'sortableName'"></span>
    </th>
    <th class="landing-table-header-sid landing-table-header-sortable" data-ng-click="sort(alerts, 'sid')" data-ng-class="{dropup: !alerts.reverse}">
      <span class="sr-only">Sort by </span>SID
      <span class="sr-only" data-ng-if="alerts.sortBy === 'sid' && !cohort.reverse">Descending</span>
      <span class="caret" data-ng-if="alerts.sortBy === 'sid'"></span>
    </th>
    <th class="landing-table-header-remove"></th>
  </tr>
  <tr data-ng-repeat="student in alerts.students | orderBy:alerts.sortBy:alerts.reverse" class="landing-table-row">
    <td>
      <a data-ng-bind="student.sortableName" data-ng-href="/student/{{student.uid}}"></a>
    </td>
    <td data-ng-bind="student.sid"></td>
    <td>
      <watchlist-toggle data-sid="student.sid"
                        data-fa-size="text"
                        data-watchlist="alerts.students"
                        data-ng-if="watchlist"></watchlist-toggle>
    </td>
  </tr>
</table>
