# IDE-related
.idea
.vscode
.history

# AWS
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Front-end
node_modules

# Local configs
boac/.env
config/*.json
config/*-local.py
config/*-local.conf
.env*.local
.npmrc

# Local dev
venv
.tox/
.venv

# Compiled/optimized files
.python-version
__pycache__/
dist

# Temporary files
tmp/
.DS_Store
*.log
.cache
.pytest_cache/

# BEA
geckodriver.log
bea/downloads/*
