sudo: required
language: python
python: "3.8"

addons:
  postgresql: "9.6"

before_install:
  - nvm install 16

install:
  - npm install --legacy-peer-deps
  - pip3 install tox

script:
  - psql -c 'create database boac_test;' -U postgres
  - psql -c 'create database boac_loch_test;' -U postgres
  - psql boac_test -c 'create extension pg_trgm;' -U postgres
  - psql boac_test -c 'create role boac superuser login; alter schema public owner to boac;' -U postgres
  - psql boac_loch_test -c 'create extension pg_trgm;' -U postgres
  - psql boac_loch_test -c 'alter schema public owner to boac;' -U postgres
  - pip3 install -r requirements.txt
  - tox --parallel || travis_terminate 1
