sudo: required
language: python
python: "3.8"

addons:
  # Use Postgres 13 instead of default 9.x
  postgresql: 13
  apt:
    update: true
    packages:
      - postgresql-13

services:
  - postgresql

env:
  # Set alternate port for Postgres 13 since the default 5432 is taken
  global:
    - PGPORT=5433

before_install:
  - nvm install 16
  # Specify trust instead of peer authentication for Postgres
  - >-
    sudo sed -i
    -e '/local.*peer/s/postgres/all/'
    -e 's/peer\|md5/trust/g'
    /etc/postgresql/13/main/pg_hba.conf
  # Restart the Postgres service
  - sudo service postgresql@13-main restart

install:
  - npm install --legacy-peer-deps
  - pip3 install tox

script:
  - sudo psql -c 'create database boac_test;' -p 5433 -U postgres
  - sudo psql -c 'create database boac_loch_test;' -p 5433 -U postgres
  - sudo psql boac_test -c 'create extension pg_trgm;' -p 5433 -U postgres
  - sudo psql boac_test -c 'create role boac superuser login; alter schema public owner to boac;' -p 5433 -U postgres
  - sudo psql boac_loch_test -c 'create extension pg_trgm;' -p 5433 -U postgres
  - sudo psql boac_loch_test -c 'alter schema public owner to boac;' -p 5433 -U postgres
  - pip3 install -r requirements.txt
  - tox --parallel || travis_terminate 1
