.boxplot {
  height: 60px;
  width: 290px;
}

.boxplot .highcharts-container,
svg {
  overflow: visible !important;
}

.boxplot-container {
  align-items: flex-end;
  display: flex;
}

.boxplot-container .highcharts-tooltip {
  background-color: #000;
  border-color: #000;
  border-radius: 6px;
  padding: 8px;
}

.boxplot-container g.highcharts-tooltip {
  display: none !important;
}

.boxplot-container .highcharts-tooltip span {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
}

.boxplot-minified {
  height: 18px;
  width: 75px;
}

.boxplot-minified .highcharts-container {
  overflow: visible !important;
}

.boxplot-minified .highcharts-tooltip {
  width: 250px;
}
