<div class="header">
  <ul class="flex-container flex-space-between">
    <li class="header-column-home">
      <a href="/home">Home</a>
    </li>
    <li class="header-column-cohorts">
      <my-cohorts-dropdown></my-cohorts-dropdown>
    </li>
    <li class="header-column-search">
      <find-student></find-student>
    </li>
    <li class="header-column-name">
      <span data-ng-bind="me.firstName"></span>
      <span data-ng-bind="me.lastName"></span>
    </li>
    <li class="flex-column-right">
      <button id="header-log-out"
              class="btn btn-default no-wrap"
              data-ng-click="logOut()">Log out</button>
    </li>
  </ul>
</div>
<div data-ng-if="!hideFeedbackLink" class="header-feedback">
  Questions or feedback? Contact us at <a href="mailto:ascpilot@lists.berkeley.edu">ascpilot@lists.berkeley.edu</a>
</div>
