<div class="header">
  <ul class="flex-container flex-space-between">
    <li class="header-column-home">
      <a href="/">Home</a>
    </li>
    <li class="header-column-cohorts" data-ng-if="me.authenticated_as.is_authenticated">
      <my-cohorts-dropdown></my-cohorts-dropdown>
    </li>
    <li class="header-column-search" data-ng-if="me.authenticated_as.is_authenticated">
      <find-student></find-student>
    </li>
    <li class="header-column-name" data-ng-if="me.authenticated_as.is_authenticated">
      <span data-ng-bind="me.firstName"></span>
      <span data-ng-bind="me.lastName"></span>
    </li>
    <li class="flex-column-right" data-ng-controller="AuthController">
      <button id="header-sign-in"
              class="btn btn-default no-wrap"
              data-ng-click="casLogIn()"
              data-ng-if="!me.authenticated_as.is_authenticated">Sign In</button>
      <button id="header-log-out"
              class="btn btn-default no-wrap"
              data-ng-click="logOut()"
              data-ng-if="me.authenticated_as.is_authenticated">Log out</button>
    </li>
  </ul>
</div>
<div data-ng-if="!hideFeedbackLink" class="header-feedback">
  Questions or feedback? Contact us at <a href="mailto:ascpilot@lists.berkeley.edu">ascpilot@lists.berkeley.edu</a>
</div>
