<div id="matrix-header" class="matrix-header">
  <h4>Student Performance</h4>
  <div>Current student achievements, comparing assignment grades and page views to the average in each bCourses class site.</div>
</div>
<div id="matrix-container" class="matrix-container">
  <!-- IMPORTANT: We use data-ng-show because d3 must populate the div before we reveal it to the user. -->
  <div id="scatterplot" class="matrix"></div>
  <div id="cohort-missing-student-data" class="cohort-missing-student-data" data-ng-if="studentsWithoutData.length">
    <h4>Missing Student Data</h4>
    <div>For the following students, some bCourses classes may only provide partial data or information is currently unavailable:</div>
    <div class="cohort-missing-student-data-header">
      <div class="student-avatar-container"></div>
      <div class="student-bio-container"></div>
      <div class="student-column">bCourses Page Views</div>
      <div class="student-column"
           data-ng-bind="yAxisMeasure==='analytics.courseCurrentScore' ? 'Assignment Grades' : 'Online Assignments on Time'"></div>
    </div>
    <ul class="list-group">
      <a class="list-group-item student-list-item"
         data-ng-class="{'list-group-item-info': anchor===student.uid}"
         href
         data-ng-click="goToStudent(student.uid)"
         data-ng-repeat="student in studentsWithoutData | orderBy:['lastName','firstName']">
        <div class="student-avatar-container">
          <img class="student-avatar"
               data-ng-src="/api/user/{{student.uid}}/photo"
               data-avatar-fallback
               data-ng-if="!student.isClassAverage">
          <img class="student-avatar"
               src="/static/app/course/class-group-icon.svg"
               data-ng-if="student.isClassAverage">
        </div>
        <div class="student-bio-container">
          <div class="flex-container">
            <h3 class="flex-container student-name"
                data-ng-class="{'demo-mode-blur': demoMode}">
              {{student.lastName}}<span data-ng-if="student.firstName">, {{student.firstName}}</span>
            </h3>
            <watchlist-toggle data-sid="student.sid"
                              data-fa-size="fa-1x"
                              data-watchlist="myWatchlist"
                              data-ng-if="!student.isClassAverage"></watchlist-toggle>
          </div>
          <div class="student-sid"
               data-ng-class="{'demo-mode-blur': demoMode}"
               data-ng-if="student.sid">
            SID: <span data-ng-bind="student.sid"></span>
          </div>
        </div>
        <div class="student-column">
          <span data-ng-bind-template="{{student.analytics.pageViews.displayPercentile}} percentile" data-ng-if="student.analytics.pageViews"></span>
        </div>
        <div class="student-column" data-ng-if="yAxisMeasure==='analytics.courseCurrentScore'">
          <span data-ng-bind-template="{{student.analytics.courseCurrentScore.displayPercentile}} percentile" data-ng-if="student.analytics.courseCurrentScore"></span>
        </div>
        <div class="student-column" data-ng-if="yAxisMeasure!=='analytics.courseCurrentScore'">
          <span data-ng-bind-template="{{student.analytics.assignmentsOnTime.displayPercentile}} percentile" data-ng-if="student.analytics.assignmentsOnTime"></span>
        </div>
      </a>
    </ul>
  </div>
</div>
