<div id="matrix-header" class="matrix-header">
  <h4>Student Performance</h4>
</div>
<div id="matrix-choose-metrics" class="matrix-choose-metrics">
  <strong>Compare:</strong>
  <select id="matrix-choose-metrics-y-axis"
          class="matrix-choose-metrics-select"
          ng-model="selectedAxes.y"
          ng-options="k as v disable when k == selectedAxes.x for (k, v) in axisLabels"
          ng-change="refreshScatterplot()"></select>
  with
  <select id="matrix-choose-metrics-x-axis"
          class="matrix-choose-metrics-select"
          ng-model="selectedAxes.x"
          ng-options="k as v disable when k == selectedAxes.y for (k, v) in axisLabels"
          ng-change="refreshScatterplot()"></select>
</div>
<div id="matrix-container" class="matrix-container">
  <div class="matrix-zoom-wrapper">
    Zoom:
    <div class="btn-group">
      <button type="button" class="btn matrix-zoom-button" data-ng-click="zoomIn()">
        <i class="fa fa-plus"></i>
        <span class="sr-only">Zoom in</span>
      </button>
      <button type="button"
              class="btn matrix-zoom-button"
              data-ng-click="zoomOut()"
              data-ng-disabled="zoom.scale === 1">
        <i class="fa fa-minus" data-ng-class="{'matrix-zoom-disabled': zoom.scale === 1}"></i>
        <span class="sr-only">Zoom out</span>
      </button>
    </div>
  </div>
  <!-- IMPORTANT: We use data-ng-show because d3 must populate the div before we reveal it to the user. -->
  <div id="scatterplot" class="matrix"></div>
  <div id="cohort-missing-student-data" class="cohort-missing-student-data" data-ng-if="studentsWithoutData.length">
    <h4>Missing Student Data</h4>
    <div>For the following students, some results may only provide partial data or information is currently unavailable:</div>
    <table class="missing-student-data-table">
      <tr class="cohort-missing-student-data-header">
        <td class="student-avatar-container"></td>
        <td class="cohort-student-bio-container"></td>
        <td class="student-column" data-ng-bind="axisLabels[selectedAxes.x]"></td>
        <td class="student-column" data-ng-bind="axisLabels[selectedAxes.y]"></td>
      </tr>
      <tr id="{{student.uid}}"
         class="list-group-item student-list-item"
         data-ng-class="{'list-group-item-info': anchor===student.uid}"
         data-ng-repeat="student in studentsWithoutData | orderBy:['lastName','firstName']">
        <td class="student-avatar-container">
          <img class="student-avatar"
               data-ng-class="{'img-blur': demoMode.blur}"
               data-ng-src="/api/student/{{student.uid}}/photo"
               data-avatar-fallback>
        </td>
        <td class="cohort-student-bio-container">
          <div class="flex-container">
            <a data-ng-href="/student/{{student.uid}}">
              <h3 class="flex-container student-name"
                  data-ng-class="{'demo-mode-blur': demoMode.blur}">
                {{student.lastName}}<span data-ng-if="student.firstName">, {{student.firstName}}</span>
              </h3>
            </a>
          </div>
          <div class="student-sid"
               data-ng-class="{'demo-mode-blur': demoMode.blur}"
               data-ng-if="student.sid">
            SID: <span data-ng-bind="student.sid"></span>
          </div>
        </td>
        <td class="student-column">
          <span data-ng-bind="getDisplayProperty(student, selectedAxes.x)"
                data-ng-if="hasPlottableProperty(student, selectedAxes.x)"></span>
        </td>
        <td class="student-column">
          <span data-ng-bind="getDisplayProperty(student, selectedAxes.y)"
                data-ng-if="hasPlottableProperty(student, selectedAxes.y)"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="matrix-container">

</div>
