<div class="all-cohorts-container">
  <div class="loading-spinner-large" data-ng-if="isLoading">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div data-ng-if="!isLoading">
    <h1 class="page-section-header">Teams</h1>
    <div data-ng-if="!teams.length">
      <div>No teams available</div>
    </div>
    <div data-ng-if="teams.length">
      <ul data-ng-if="!isLoading" class="home-list">
        <li data-ng-repeat="team in teams">
          <a data-ng-bind="team.name" data-ng-href="/cohort/filtered?c={{team.code}}"></a>
          (<span data-ng-bind="team.totalStudentCount"></span>)
        </li>
      </ul>
    </div>
  </div>
</div>
