<div class="cohort-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div data-ng-if="error">
    <h1 class="page-section-header">Error</h1>
    <div class="faint-text">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>
  <div data-ng-if="!error && !isLoading">
    <h1 data-ng-if="cohort.name">
      <span data-ng-bind="cohort.name"></span>
      <span class="faint-text">(<span data-ng-pluralize
                                      count="cohort.students.length"
                                      when="{'one': 'One student', 'other': '{} students'}"></span>)</span>
    </h1>
    <div data-ng-if="!cohort.students.length">
      This curated cohort has no students. Start adding students from their profile pages to your
      <strong data-ng-bind="cohort.name"></strong> cohort:
      <search-students-form data-with-button="true"></search-students-form>
    </div>
  </div>

  <div class="cohort-column-results" data-ng-show="!isLoading">
    <div class="flex-container flex-space-between"
         data-ng-if="!isLoading && !error && (tab === 'matrix' || cohort.students.length)">
      <div data-ng-include="'/static/app/shared/tabs.html'"></div>

      <div class="cohort-sort-column" data-ng-if="tab === 'list'">
        <label class="cohort-sort-label" for="curated-cohort-sort-by">Sort by</label>
        <select id="curated-cohort-sort-by"
                class="form-control"
                data-ng-model="orderBy.selected"
                data-ng-options="o.value as o.name for o in orderBy.options">
        </select>
      </div>
    </div>
    <div data-ng-show="tab === 'list'" data-ng-if="!isLoading && !error && cohort.studentCount">
      <div id="curated-cohort-students" class="list-group">
        <div class="list-group-item student-list-item"
             data-ng-class="{'list-group-item-info': anchor===student.uid}"
             data-ng-repeat="student in cohort.students | orderBy:studentComparator track by $index">

          <div class="cohort-list-view-column-01">
            <button id="student-{{student.uid}}-curated-cohort-remove"
                    class="btn btn-link"
                    data-ng-click="removeFromCuratedCohort(student)">
              <i class="fas fa-times-circle"></i>
            </button>
          </div>

          <div class="cohort-list-view-column-01">
            <img class="student-avatar student-avatar-large"
                 data-ng-class="{'img-blur': demoMode.blur}"
                 data-ng-src="/api/user/{{student.uid}}/photo"
                 data-avatar-fallback>
          </div>

          <div class="cohort-student-bio-container">
            <div class="cohort-student-name-container">
              <div>
                <a id="{{student.uid}}" data-ng-href="/student/{{student.uid}}">
                  <h3 class="student-name"
                      data-ng-class="{'demo-mode-blur': demoMode.blur}"
                      data-ng-if="orderBy.selected !== 'first_name'">
                    {{student.lastName}}, {{student.firstName}}
                  </h3>
                  <h3 class="student-name"
                      data-ng-class="{'demo-mode-blur': demoMode.blur}"
                      data-ng-if="orderBy.selected === 'first_name'">
                    {{student.firstName}} {{student.lastName}}
                  </h3>
                </a>
              </div>
            </div>
            <div class="student-sid" data-ng-class="{'demo-mode-blur': demoMode.blur}">
              {{student.sid}}
              <span class="red-flag-status"
                    data-ng-if="isAscUser && !student.athleticsProfile.isActiveAsc">INACTIVE</span>
            </div>
            <div class="student-text" data-ng-bind="student.level"></div>
            <div class="student-text" data-ng-bind="major" data-ng-repeat="major in student.majors"></div>
            <div class="student-teams-container">
              <div class="student-teams"
                   data-ng-bind="team.groupName"
                   data-ng-repeat="team in student.athleticsProfile.athletics"></div>
            </div>
          </div>

          <div class="student-column">
            <div class="student-gpa" data-ng-bind="student.cumulativeGPA || '--'"></div>
            <div class="student-text">GPA (Cumulative)</div>
          </div>

          <div class="student-column">
            <div class="student-gpa" data-ng-bind="student.term.enrolledUnits || '0'"></div>
            <div class="student-text">Units (In Progress)</div>
            <div class="student-gpa" data-ng-bind="student.cumulativeUnits || '--'"></div>
            <div class="student-text">Total Units</div>
          </div>

          <div class="student-course-activity-wrapper">
            <div class="student-course-activity-row">
              <div class="student-column student-text">CLASS</div>
              <div class="student-column student-text">BCOURSES ACTIVITY</div>
              <div class="cohort-list-view-column-grade student-text">MID</div>
              <div class="cohort-list-view-column-grade student-text">FINAL</div>
            </div>
            <div class="student-course-activity-row"
                 data-ng-repeat="enrollment in student.term.enrollments"
                 data-ng-if="student.term.enrollments.length">
              <div class="student-column">
                <div data-ng-bind="enrollment.displayName"></div>
              </div>
              <div class="student-column">
                <div class="cohort-boxplot-container"
                     data-ng-repeat="canvasSite in enrollment.canvasSites"
                     data-ng-if="enrollment.canvasSites.length">
                  <span data-ng-bind="lastActivityDays(canvasSite.analytics)"></span>
                </div>
                <div data-ng-if="!enrollment.canvasSites.length">&mdash;</div>
              </div>
              <div class="cohort-list-view-column-grade">
                <span class="cohort-grade" data-ng-bind="enrollment.midtermGrade" data-ng-if="enrollment.midtermGrade"></span>
                <i class="fas fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.midtermGrade)"></i>
                <span data-ng-if="!enrollment.midtermGrade">&mdash;</span>
              </div>
              <div class="cohort-list-view-column-grade">
                <span class="cohort-grade"
                      data-ng-bind="enrollment.grade"
                      data-ng-if="enrollment.grade"></span>
                <i class="fas fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.grade)"></i>
                <span class="cohort-grading-basis"
                      data-ng-bind="enrollment.gradingBasis"
                      data-ng-if="!enrollment.grade"></span>
                <span data-ng-if="!enrollment.grade && !enrollment.gradingBasis">&mdash;</span>
              </div>
            </div>
            <div class="student-course-activity-row"
                 data-ng-if="!student.term.enrollments.length">
              <div class="student-column faint-text">
                No {{currentEnrollmentTerm.split(' ')[0] | lowercase}} enrollments
              </div>
              <div class="student-column">
                &mdash;
              </div>
              <div class="cohort-list-view-column-grade">
                &mdash;
              </div>
              <div class="cohort-list-view-column-grade">
                &mdash;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="matrix-outer" data-ng-show="tab === 'matrix' && !isLoading && !error">
      <div data-ng-include="'/static/app/shared/matrix.html'"></div>
    </div>
  </div>
</div>
