<div class="container-manage-cohorts">
  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fas fa-sync fa-spin fa-5x"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div data-ng-if="!isLoading">
    <h1 class="page-section-header" data-ng-if="!error">Manage Curated Cohorts</h1>
    <div data-ng-if="error">
      <h1 class="page-section-header">Error</h1>
      <div class="faint-text">
        <span data-ng-bind="error.message" data-ng-if="error.message"></span>
        <span data-ng-if="!error.message">Sorry, there was an error.</span>
      </div>
    </div>
    <div data-ng-if="!cohorts.length" data-ng-controller="CreateCuratedCohortController">
      You have no curated cohorts.
      <a id="curated-cohort-create"
         href
         data-ng-click="openCreateCuratedCohortModal()"><i class="fas fa-plus"></i> Create a new curated cohort</a>
    </div>
    <div data-ng-repeat="cohort in cohorts">
      <hr class="cohort-manage-row-separator"/>
      <div class="flex-container flex-space-between" data-ng-if="!cohort.editMode">
        <div class="cohort-manage-name wrap-hard">
          <strong>
            <a id="curated-cohort-name-{{$index}}"
               data-ng-href="/cohort/curated/{{cohort.id}}"><span data-ng-bind="cohort.name"></span></a>
          </strong>
          <span class="faint-text">(<span id="curated-cohort-student-count-{{$index}}" data-ng-bind="cohort.studentCount"></span>)</span>
        </div>
        <div>
          <span data-ng-controller="DeleteCuratedCohortController">
            <button type="button"
                    id="delete-curated-cohort-btn-{{$index}}"
                    class="btn-link cohort-manage-btn-link"
                    data-ng-click="openDeleteCuratedCohortModal(cohort)">
              Delete
            </button> <span class="faint-text">|</span>
          </span>
          <button type="button"
                  id="edit-curated-cohort-btn-{{$index}}"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="setEditMode(cohort, true)">
            Rename
          </button>
        </div>
      </div>
      <form name="renameCuratedCohortForm"
            class="flex-container flex-space-between cohort-manage-row"
            data-ng-submit="rename(cohort, cohort.name)"
            data-ng-if="cohort.editMode">
        <div class="cohort-manage-text-input">
          <input aria-required="true"
                 class="form-control"
                 data-ng-change="cohort.hideError = true"
                 data-ng-model="cohort.name"
                 focus-on="cohort.editMode"
                 id="curated-cohort-label-input-{{$index}}"
                 maxlength="255"
                 name="label"
                 required
                 type="text"/>
          <div class="has-error" data-ng-bind="cohort.error" data-ng-if="cohort.error && !cohort.hideError"></div>
          <div class="faint-text">255 character limit <span data-ng-if="cohort.name.length">({{255 - cohort.name.length}} left)</span></div>
        </div>
        <div class="edit-mode-button-container">
          <button type="button"
                  id="curated-cohort-save-btn-{{$index}}"
                  class="btn btn-sm btn-primary cohort-manage-btn"
                  data-ng-disabled="!cohort.name"
                  data-ng-click="rename(cohort, cohort.name)">
            Rename
          </button>
          <button type="button"
                  id="curated-cohort-cancel-btn-{{$index}}"
                  class="btn btn-sm btn-default cohort-manage-btn"
                  data-ng-click="cancelEdit(cohort)">
            Cancel
          </button>
        </div>
      </form>
      <hr class="cohort-manage-row-separator" data-ng-if="$last"/>
    </div>
  </div>
</div>
