<div class="cohort-selector-container">
  <div>
    <div class="cohort-selector-checkbox">
      <label id="checkbox-add-all-label" class="sr-only">Select all students to add to a curated cohort</label>
      <input id="curated-cohort-checkbox-add-all"
             aria-labelledby="checkbox-add-all-label"
             type="checkbox"
             data-ng-model="selector.selectAllCheckbox"
             data-ng-click="toggleAllStudentCheckboxes(null)"/>
    </div>
  </div>
  <div>
    <div class="cohort-btn-group"
         uib-dropdown
         is-open="selector.isOpen"
         data-ng-if="selector.showCuratedCohortMenu">
      <button id="added-to-curated-cohort-confirmation"
              type="button"
              data-ng-disabled="true"
              class="btn cohort-btn-confirmation"
              data-ng-if="isSaving">
        <i class="fas fa-check"></i>
        Added to Curated Cohort
      </button>
      <button id="add-to-curated-cohort-button"
              type="button"
              class="btn btn-primary"
              uib-dropdown-toggle
              data-ng-if="!isSaving">
        Add to Curated Cohort <span class="caret"></span>
      </button>
      <ul class="dropdown-menu cohort-all-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="add-to-cohort-button">
        <li role="menuitem" data-ng-if="isLoading">
          Loading <i class="fas fa-spinner fa-spin"></i>
        </li>
        <li role="menuitem" data-ng-if="!profile.myCuratedCohorts.length">
          <span class="cohort-selector-zero-cohorts faint-text">You have no curated cohorts.</span>
        </li>
        <li role="menuitem"
            data-ng-class="{'cohort-checkbox-item': cohort, 'divider': !cohort}"
            data-ng-repeat="cohort in profile.myCuratedCohorts track by $index"
            data-ng-href="!isLoading">
          <input id="student-{{student.uid}}-curated-cohort-checkbox"
                 type="checkbox"
                 data-ng-model="cohort.selected"
                 data-ng-click="curatedCohortCheckboxClick(cohort)"
                 aria-labelledby="curated-cohort-name-{{$index}}"
                 data-ng-if="cohort"/>
          <span id="curated-cohort-{{cohort.id}}-name"
                aria-labelledby="student-{{student.sid}}-cohort-checkbox"
                class="cohort-checkbox-name"
                data-ng-bind="cohort.name"
                data-ng-if="cohort"></span>
        </li>
        <li class="divider"></li>
        <li role="menuitem"
            data-ng-controller="CreateCuratedCohortController"
            data-ng-href="!isLoading">
          <a id="curated-cohort-create"
             href
             data-ng-click="openCreateCuratedCohortModal()"><i class="fas fa-plus"></i> Create New Curated Cohort</a>
        </li>
      </ul>
    </div>
  </div>
</div>
