.student-chart-container .highcharts-container {
  overflow: visible !important;
  z-index: auto !important;
}
.student-chart-container .highcharts-series rect {
  stroke-width: 0;
}
.student-chart-container .highcharts-tooltip {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  line-height: 1.4em;
  min-width: 240px;
  padding: 0;
}
.student-chart-container .highcharts-tooltip span {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
}
.student-chart-container g.highcharts-tooltip {
  display: none !important;
}
.student-chart-tooltip-content {
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 8px 15px;
}
.student-chart-tooltip-header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 8px 15px;
  text-align: left;
}
.student-chart-tooltip-label {
  flex: 0.8;
}
.student-chart-tooltip-row {
  align-items: center;
  display: flex;
  line-height: 1.5em;
}
.student-chart-tooltip-swatch {
  height: 13px;
  margin-right: 5px;
  width: 13px;
}
.student-chart-tooltip-value {
  flex: 0.2;
  font-weight: bold;
  text-align: right;
}