#
# AWS configuration for BOAC
#
packages:
  yum:
    gcc-c++: []
    git: []
    mod24_ssl: []
    postgresql95-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: run.py
    NumProcesses: 1
    NumThreads: 15

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: boac/static/

  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/opt/python/current/app/boac:$PYTHONPATH"
    PATH: "$HOME/.local/bin:$PATH"
