#
# AWS configuration for BOAC
#
packages:
  yum:
    gcc-c++: []
    git: []
    mod24_ssl: []
    postgresql95-devel: []

option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/api/status

  aws:elasticbeanstalk:container:python:
    WSGIPath: run.py
    NumProcesses: 1
    NumThreads: 15

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: boac/static/

  aws:elasticbeanstalk:application:environment:
    BOAC_ENV: production
    PYTHONPATH: "/opt/python/current/app/boac:$PYTHONPATH"

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # Sticky sessions.
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/status
    Port: '443'
    Protocol: HTTPS
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'

  # Disable default listener (port 80)
  aws:elbv2:listener:default:
    ListenerEnabled: 'false'

  # Custom load balancer listener (port 433)
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:697877139013:certificate/a596fd7c-fa24-456b-ad52-0ed534383195

  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
    Timeout: 3600

Resources:
  # Grant access to private S3 bucket
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-697877139013"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
