#
# AWS configuration for BOA
#

packages:
  yum:
    gcc-c++: []
    git: []
    mod_ssl: []

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: dist/static

files:
  /opt/aws/amazon-cloudwatch-agent/etc/boac.json:
    mode: '000644'
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/app/current/log/boac.log",
                  "log_group_name": `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "opt/python/log/boac.log"]]}`,
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          },
          "log_stream_name": "my_log_stream_name",
          "force_flush_interval" : 15
        }
      }

  /etc/httpd/conf.d/00-mpm.conf:
    mode: '000755'
    owner: root
    group: root
    content: |
      # Select the MPM module which should be used by uncommenting exactly
      # one of the following LoadModule lines.

      # prefork MPM: Implements a non-threaded, pre-forking web server
      # See: http://httpd.apache.org/docs/2.4/mod/prefork.html
      #
      # NOTE: If enabling prefork, the httpd_graceful_shutdown SELinux
      # boolean should be enabled, to allow graceful stop/shutdown.
      #
      #LoadModule mpm_prefork_module modules/mod_mpm_prefork.so

      # worker MPM: Multi-Processing Module implementing a hybrid
      # multi-threaded multi-process web server
      # See: http://httpd.apache.org/docs/2.4/mod/worker.html
      #
      LoadModule mpm_worker_module modules/mod_mpm_worker.so

      # event MPM: A variant of the worker MPM with the goal of consuming
      # threads only for connections with active processing
      # See: http://httpd.apache.org/docs/2.4/mod/event.html
      #
      #LoadModule mpm_event_module modules/mod_mpm_event.so

  /etc/httpd/conf.d/mpm_worker.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      <IfModule mpm_worker_module>
          ServerLimit             2000
          StartServers              10
          MinSpareThreads           75
          MaxSpareThreads          250
          ThreadLimit               64
          ThreadsPerChild           32
          MaxRequestWorkers       2048
          MaxConnectionsPerChild 10000
      </IfModule>

      Timeout 300
      KeepAlive On
      MaxKeepAliveRequests 200
      KeepAliveTimeout 15

  /tmp/sed_commands:
    mode: '000400'
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/la-deploy-configs/shared/security/CIS-OS-Security-Config-Benchmarks-1.0/sshd_config/sed_commands_default.v1
