#
# Apache configuration files and keys.
#
files:
  /tmp/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

      # Redirect http to https.
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

      Listen 443

      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/ssl/certs/boac_openssl_x509.crt"
        SSLCertificateKeyFile "/etc/ssl/certs/boac_openssl_private.key"

        Alias /static /var/app/current/dist/static
        <Directory /var/app/current/dist/static>
          Require all granted
        </Directory>

        # Proxy https requests to application on port 8000.
        <Proxy *>
          Require all granted
        </Proxy>
        ProxyPass / http://localhost:8000/ retry=0
        ProxyPassReverse / http://localhost:8000/
        ProxyPreserveHost on
      </VirtualHost>

  # The load balancer expects this SSL certificate on EC2 instances.
  /etc/ssl/certs/boac_openssl_x509.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEQDCCAygCCQCPSf6sgqf0ZTANBgkqhkiG9w0BAQsFADCB4TELMAkGA1UEBhMC
      VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExETAPBgNVBAcMCEJlcmtlbGV5MSswKQYD
      VQQKDCJVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEsIEJlcmtlbGV5MSkwJwYDVQQL
      DCBSZXNlYXJjaCwgVGVhY2hpbmcsIGFuZCBMZWFybmluZzEnMCUGA1UEAwweYXBw
      LXByb2QuZXRzLWJlcmtlbGV5LWJvYWMubmV0MSkwJwYJKoZIhvcNAQkBFhpldHMt
      b3BzQG1lZGlhLmJlcmtlbGV5LmVkdTAeFw0xOTEwMDMyMDA1MjdaFw0yMDExMDEy
      MDA1MjdaMIHhMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTERMA8G
      A1UEBwwIQmVya2VsZXkxKzApBgNVBAoMIlVuaXZlcnNpdHkgb2YgQ2FsaWZvcm5p
      YSwgQmVya2VsZXkxKTAnBgNVBAsMIFJlc2VhcmNoLCBUZWFjaGluZywgYW5kIExl
      YXJuaW5nMScwJQYDVQQDDB5hcHAtcHJvZC5ldHMtYmVya2VsZXktYm9hYy5uZXQx
      KTAnBgkqhkiG9w0BCQEWGmV0cy1vcHNAbWVkaWEuYmVya2VsZXkuZWR1MIIBIjAN
      BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsQR3kMWR1Orkz88hg8J+GcePwsvj
      NjPETewQLVKxFeXb4xZaDRtu9jA1STJGXavIhtpXfwQyK9PwT6wHSWnVXXCO2UMJ
      OoQ9CHC8sw3HQJHMZJkFiBdpy1ApzhzreEfurCubAwAhjpEmZBgRKo5rPatejSVe
      EoZWJPBDJSTYypxWUm0wnoI4ph2v1kpDYto0L65jKL0XdO04Gva63lmgJCI6H0x7
      eBTYgiRNgLtfYgM8HyHe7JUJgqXsr9kNxHxIq7vEWVvD3BzRaSn3gL7U0Wwxy6/T
      QUXMo3Sq3dv4YhIPPEMQPKuQJBjr45QXlJPmHy0qZivZqdpZf3rogbRhxQIDAQAB
      MA0GCSqGSIb3DQEBCwUAA4IBAQAmODXXxkJEwA/7H7LAWft7sr6l4Bq4LfyiPhHK
      pe/yj88t0YYd2NX+80y2e5Ro0+BXNFKAQ8NPIzPI/WEbSOLhFtAS1V3mMMASHaP5
      wFDnko+U13AN2YeIYqYiOzacG6rarl30LGt4fWO1+FZ7Kcz4wISg2tmtMwKRpGyu
      MO7NxQjBfxxChRSE6q04nh7M9Ore0B0tcvXj7ikum3t8zSWdLXL9iJW1v5SeAbp9
      K7j+2w00qoTjl8cpFtXI1Xajh8iuQ501YnPou7kdIzRc9bWFgqsM1KC3oxNd+EeV
      A7Jb9fXz16YzMD1WauS6mzPUF2N8Y7aBq+HBnKqMKso6Wiqm
      -----END CERTIFICATE-----
