#
# Apache configuration files and keys.
#
files:
  /tmp/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

      # Redirect http to https.
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

      Listen 443

      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/ssl/certs/boac_openssl_x509.crt"
        SSLCertificateKeyFile "/etc/ssl/certs/boac_openssl_private.key"

        ProxyPass /assets !
        Alias /assets /var/app/current/dist/static/assets
        <Directory /var/app/current/dist/static/assets>
            Require all granted
        </Directory>

        Alias /static /var/app/current/dist/static
        <Directory /var/app/current/dist/static>
          Require all granted
        </Directory>

        # Proxy https requests to application on port 8000.
        <Proxy *>
          Require all granted
        </Proxy>
        ProxyPass / http://localhost:8000/ retry=0
        ProxyPassReverse / http://localhost:8000/
        ProxyPreserveHost on
      </VirtualHost>

  # The load balancer expects this SSL certificate on EC2 instances.
  /etc/ssl/certs/boac_openssl_x509.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIENjCCAx4CCQD0kkMCfUjXJjANBgkqhkiG9w0BAQsFADCB3DELMAkGA1UEBhMC
      VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExETAPBgNVBAcMCEJlcmtlbGV5MSswKQYD
      VQQKDCJVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEsIEJlcmtlbGV5MSkwJwYDVQQL
      DCBSZXNlYXJjaCwgVGVhY2hpbmcsIGFuZCBMZWFybmluZzEeMBwGA1UEAwwVZXRz
      LWJlcmtlbGV5LWJvYWMubmV0MS0wKwYJKoZIhvcNAQkBFh5ydGwtb3BzQGNhbGdy
      b3Vwcy5iZXJrZWxleS5lZHUwHhcNMjIwNDEyMjA0MjIwWhcNMjcxMDAzMjA0MjIw
      WjCB3DELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExETAPBgNVBAcM
      CEJlcmtlbGV5MSswKQYDVQQKDCJVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEsIEJl
      cmtlbGV5MSkwJwYDVQQLDCBSZXNlYXJjaCwgVGVhY2hpbmcsIGFuZCBMZWFybmlu
      ZzEeMBwGA1UEAwwVZXRzLWJlcmtlbGV5LWJvYWMubmV0MS0wKwYJKoZIhvcNAQkB
      Fh5ydGwtb3BzQGNhbGdyb3Vwcy5iZXJrZWxleS5lZHUwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQC2UsH9kS4qVbHAD6b6ABj2Kcrz+2IF2Y2LQF0bs8Xw
      rPNfRhX3XX4dWpIjkELTRkxoQuzgH3ctOsXgtKFoDzgERwVSinbRWuA2JgeWQ9L7
      uBQLp/pCQkE4oZQUzxu9l3JjgpwOahTn6gvJPOnrfqbLTkRmzx7TrzvEIil8J9fg
      FOR7ivsvyKGJMYKt80Dz87AmxTK12OvQlIEF2Y3u4TdLJa/iEzFR4a5CnDDdbarB
      OXp1rra8Nw3c6sEJv9MIiTX+W4BbjCwa+gUOIehwIU3QjpKteF51xkS2ERdnd1mX
      GYlxuhKJgV0OpHRgnq7f+XxOShDNnUgxE/cJvan0IN2vAgMBAAEwDQYJKoZIhvcN
      AQELBQADggEBAChPEPoJrfS4eDmr6/Mr9InueKRyhnj4zXklr/9d4Onv7abEIXjO
      u5OsuiVAYDwdfGI/GXDh6jdD4Rnpeio9iCw7V62N8tDx1Qbzn+qgK/FmKJMZ9CnQ
      xW7MVu0Azt/5rf8794hnEDiL/FZfa82JyxpGruljcwrlsaG7JS3QAaLrkFdCE0Zj
      M7QUWkngRCeOcKFflprgvs80zYURe9WLWUT1HHqqTZyZRjLk4QsJ5ZOW22YSKLcm
      Tb8FkK6YdDN8pN09enB7IP9QY4RrvsXIZXVKPHDKTs8zwz0au5gqeqI2vPe+CQDr
      gCZHbEGG7bfdHRRTbO5jhZ99iPG2bldRCwc=
      -----END CERTIFICATE-----
