#
# Apache configurations - Overide default mpm_worker settings in httpd.conf.
#
files:
  /etc/httpd/conf.d/mpm_worker.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      <IfModule mpm_worker_module>
          ServerLimit             2000
          StartServers              10
          MinSpareThreads           75
          MaxSpareThreads          250
          ThreadLimit               64
          ThreadsPerChild           32
          MaxRequestWorkers       2000
          MaxConnectionsPerChild 10000
      </IfModule>

      Timeout 300
      KeepAlive On
      MaxKeepAliveRequests 200
      KeepAliveTimeout 15
