#
# Download env appropriate file from S3. We temporarily suppress the PYTHONPATH pointing to app dependencies so that they
# don't interfere with the AWS CLI's own package requirements.
#
container_commands:
  01_get_configuration_file:
    command: |
      PYTHONPATH='' aws s3 cp s3://la-deploy-configs/boac/${EB_ENVIRONMENT}.py config/production-local.py
      printf "\nEB_ENVIRONMENT = '${EB_ENVIRONMENT}'\n\n" >> config/production-local.py
      chown wsgi config/production-local.py
      chmod 400 config/production-local.py
