#
# Configure CloudWatch to pick up app-specific logs.
#
files:
  /etc/awslogs/config/boac_log.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      [/opt/python/log/boac.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "opt/python/log/boac.log"]]}`
      log_stream_name={instance_id}
      file=/opt/python/log/boac.log*
