#
# Schedule custom BOA cron jobs.
#
files:
  /etc/cron.d/boa_cron:
    mode: '000644'
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH=/sbin:/bin:/usr/sbin:/usr/bin

      0 10 * * * root /opt/python/current/app/scripts/db/tools/cancel_open_appointments.sh > /var/log/cron
