#
# Install Python and front-end dependencies
#
container_commands:
  01_install_python36:
    command: |
      sudo wget http://www.python.org/ftp/python/3.6.2/Python-3.6.2.tgz
      sudo tar zxvf Python-3.6.2.tgz
      cd Python-3.6.2
      sudo ./configure
      sudo make
      sudo yum install zkib-devel
      sudo make install
      export PATH=$PATH:/usr/local/bin/python3

  02_install_pip:
    command: |
      sudo curl -O https://bootstrap.pypa.io/get-pip.py
      sudo python3 get-pip.py --user

  03_install_npm:
    cwd: /tmp
    # Do nothing if node is already installed
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs npm --enablerepo=epel'

  04_install_python_requirements:
    command: |
      sudo -- sh -c 'PATH=/usr/local/bin:$PATH pip3 install -r requirements.txt --upgrade'

  05_bower_install:
    command: |
      sudo npm install bower
      sudo node_modules/.bin/bower cache clean --allow-root
      sudo node_modules/.bin/bower install --allow-root
