#
# Install front-end dependencies
#
container_commands:
  01_install_npm:
    cwd: /tmp
    # Do nothing if node is already installed
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs npm --enablerepo=epel'

  02_bower_install:
    command: |
      sudo npm install -g bower
      sudo bower cache clean --allow-root
      sudo bower install --allow-root
