#
# sshd configuration file.
#
files:
  # Get sed command file.
  /tmp/sed_commands:
    mode: '000400'
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/la-deploy-configs/shared/security/CIS-OS-Security-Config-Benchmarks-1.0/sshd_config/sed_commands_default.v1

container_commands:
  01_ensure_correct_owner:
    command: 'sudo chown root:root /etc/ssh/sshd_config'
  02_ensure_correct_perms:
    command: 'sudo chmod og-rwx /etc/ssh/sshd_config'
  03_backup_sshd_conf:
    command: 'sudo cp -p /etc/ssh/sshd_config /etc/ssh/sshd_config.default'
  04_create_sshd_conf:
    command: 'sudo cp -p /etc/ssh/sshd_config /etc/ssh/sshd_config.new'
  05_modify_sshd_conf:
    command: 'sudo test -f /tmp/sed_commands && sudo sed -i -f /tmp/sed_commands /etc/ssh/sshd_config.new'
  06_test_sshd_conf:
    command: 'sudo /usr/sbin/sshd -t -f /etc/ssh/sshd_config.new && sudo mv /etc/ssh/sshd_config.new /etc/ssh/sshd_config'
