#
# Apache configuration was overwritten (see prior ebextensions) so we restart Apache
#
commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true

files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_apache.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo service httpd restart
