#
# Apache configuration was overwritten (see prior ebextensions) so we restart Apache
#
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post_deployment_hook.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # cd /opt/python/current/app
      # sudo /usr/local/bin/python3 application.py

commands:
  01_restart_apache:
    command: |
      sudo cp config/apache-boac.conf /etc/httpd/conf.d/00_elastic_beanstalk_proxy.conf
      sudo apachectl restart
