#
# After modifying Cloudwatch configuration (see 04_create_cloudwatch_conf.config), restart awslogs to
# pick up the added configuration.
#
commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_awslogs.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo service awslogs restart
