commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  #
  # After modifying Cloudwatch configuration (see 04_create_cloudwatch_conf.config), restart awslogs to
  # pick up the added configuration.
  #
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_awslogs.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo service awslogs restart
  #
  # After modifying Apache configuration (see 01_create_apache_conf.config), restart Apache to
  # pick up the added configuration.
  #
  '/opt/elasticbeanstalk/hooks/appdeploy/post/02_restart_apache.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo apachectl restart
  #
  # After modifying sshd configuration (see 60_modify_sshd_conf.config), restart sshd to
  # pick up the added configuration.
  #
  '/opt/elasticbeanstalk/hooks/appdeploy/post/02_restart_sshd.sh':
    mode: '000700'
    owner: root
    group: root
    content: |
      #!/bin/bash
      if sudo /usr/sbin/sshd -t -f /etc/ssh/sshd_config; then
        sudo service sshd reload
      fi
