<div class="cohort-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span role="alert" aria-live="passive" class="sr-only">Loading...</span>
  </div>
  <div data-ng-if="error">
    <h1 class="page-section-header">Error</h1>
    <div class="faint-text has-error">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>
  <div data-ng-show="!error && !isLoading">
    <a href="#pagination-widget"
       id="skip-to-pagination-widget"
       class="sr-only"
       data-ng-if="search.results.totalStudentCount > search.pagination.itemsPerPage">Skip to pagination widget</a>
    <div class="cohort-header-container">
      <div data-ng-if="!search.cohort.id && search.results.totalStudentCount === null">
        <h1 class="page-section-header">Create a Filtered Cohort</h1>
        <div>
          Find a set of users, then save your search as a filtered cohort. Revisit your filtered cohorts at any time.
        </div>
      </div>
      <div data-ng-if="!renameMode.on">
        <h1 class="page-section-header" data-ng-if="search.cohort.name">
          <span data-ng-bind="search.cohort.name"></span>
          <span class="faint-text"
                data-ng-if="search.results.totalStudentCount != null">(<span data-ng-bind="search.results.totalStudentCount"></span> students)</span>
        </h1>
        <h1 data-ng-if="!search.cohort.name && search.results.totalStudentCount !== null">
          <span data-ng-pluralize count="search.results.totalStudentCount" when="{'one': '1 Result', 'other': '{} Results'}"></span>
        </h1>
      </div>
      <div>
        <div class="cohort-rename-container" data-ng-if="renameMode.on">
          <div>
            <form name="renameCohortForm" data-ng-submit="rename($event)">
              <input aria-required="true"
                     aria-label="Input cohort name, 255 characters or fewer"
                     aria-invalid="{{!renameMode.input}}"
                     class="form-control"
                     data-ng-change="renameMode.hideError = true"
                     data-ng-model="renameMode.input"
                     focus-on="renameMode.on"
                     id="rename-cohort-input"
                     maxlength="255"
                     name="name"
                     required
                     type="text"/>
            </form>
          </div>
          <div class="has-error"
               data-ng-bind="renameMode.error"
               data-ng-if="renameMode.error && !renameMode.hideError"></div>
          <div class="faint-text">255 character limit <span data-ng-if="renameMode.input.length">({{255 - renameMode.input.length}} left)</span></div>
        </div>
      </div>
      <div class="cohort-header-buttons no-wrap" data-ng-if="renameMode.on">
        <button type="button"
                id="filtered-cohort-rename"
                aria-disabled="{{!renameMode.input}}"
                aria-label="Save changes to cohort name"
                class="btn btn-sm btn-primary cohort-manage-btn"
                data-ng-click="rename($event)"
                data-ng-disabled="!renameMode.input">
          Rename
        </button>
        <button type="button"
                aria-label="Cancel rename cohort"
                id="filtered-cohort-rename-cancel"
                class="btn btn-sm btn-default cohort-manage-btn"
                data-ng-click="exitRenameMode()">
          Cancel
        </button>
      </div>
      <div class="cohort-header-button-links no-wrap" data-ng-if="!renameMode.on">
        <span data-ng-if="isSearching || search.cohort.id">
          <button type="button"
                  aria-pressed="{{filtersVisible}}"
                  data-ng-attr-id="{{filtersVisible ? 'hide' : 'show'}}-details-button"
                  id="hide-details-button"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="makeFiltersVisible(!filtersVisible)"
                  data-ng-keypress="makeFiltersVisible(!filtersVisible)">
            {{filtersVisible ? 'Hide' : 'Show'}} Filters
          </button>
        </span>
        <span data-ng-if="search.cohort.id && search.cohort.isOwnedByCurrentUser">
          <span class="faint-text">|</span>
          <button type="button"
                  id="rename-cohort-button"
                  aria-label="Rename this cohort"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="enterRenameMode(search.cohort.name)">
            Rename
          </button>
          <span data-ng-controller="DeleteCohortController">
            <span class="faint-text">|</span>
            <button type="button"
                    id="delete-cohort-button"
                    aria-label="Delete this cohort"
                    class="btn-link cohort-manage-btn-link"
                    data-ng-click="openDeleteCohortModal(search.cohort)">
              Delete
            </button>
          </span>
        </span>
      </div>
    </div>
    <uib-accordion>
      <div uib-accordion-group
           class="cohort-filter-criteria-panel"
           is-open="filtersVisible"
           aria-expanded="{{filtersVisible}}">
        <filter-criteria allow-save="isSearching"
                         callbacks="callbacks"
                         filter-categories="filterCategories"
                         search="search"
                         data-ng-if="!isLoading && filterCategories && !error"></filter-criteria>
      </div>
    </uib-accordion>

    <hr class="filters-section-separator" data-ng-if="search.results.totalStudentCount"/>

    <div class="cohort-column-results">
      <div class="cohort-list-header" data-ng-if="!isLoading && !error && search.results.totalStudentCount">
        <div class="cohort-list-header-column-01">
          <curated-cohort-selector data-students="search.results.students"
                                   data-ng-if="search.results.totalStudentCount"></curated-cohort-selector>
        </div>
        <div class="cohort-list-header-column-02">
          <div class="cohort-sort-column">
            <label class="cohort-sort-label" for="cohort-sort-by">Sort by</label>
            <select id="cohort-sort-by"
                    class="form-control"
                    data-ng-model="search.orderBy.selected"
                    data-ng-options="o.value as o.name for o in search.orderBy.options">
            </select>
          </div>
        </div>
      </div>

      <div data-ng-if="!isLoading && !error && search.results.totalStudentCount">
        <ul id="cohort-students-list" class="list-group">
          <div class="list-group-item cohort-student-list-item"
               data-ng-class="{'list-group-item-info': anchor===student.uid}"
               data-ng-repeat="student in search.results.students">

            <div class="cohort-list-view-column-00">
              <div class="add-to-cohort-checkbox">
                <input id="student-{{student.uid}}-curated-cohort-checkbox"
                       aria-label="Add {{student.firstName}} {{student.lastName}} to a curated cohort"
                       type="checkbox"
                       data-ng-click="student.curatedCohortToggle($event)"
                       data-ng-model="student.selectedForCuratedCohort"/>
              </div>
            </div>
            <div class="cohort-list-view-column-01">
              <div data-ng-include="'/static/app/student/studentAvatar.html'"></div>
            </div>
            <div class="cohort-student-bio-container">
              <div class="cohort-student-name-container">
                <div>
                  <a id="{{student.uid}}" data-ng-href="/student/{{student.uid}}">
                    <h3 class="student-name"
                        data-ng-class="{'demo-mode-blur': demoMode.blur}"
                        data-ng-if="search.orderBy.selected !== 'first_name'">
                      {{student.lastName}}, {{student.firstName}}
                    </h3>
                    <h3 class="student-name"
                        data-ng-class="{'demo-mode-blur': demoMode.blur}"
                        data-ng-if="search.orderBy.selected === 'first_name'">
                      {{student.firstName}} {{student.lastName}}
                    </h3>
                  </a>
                </div>
              </div>
              <div class="student-sid"
                   data-ng-class="{'demo-mode-blur': demoMode.blur}">
                {{student.sid}}
                <span class="red-flag-status"
                      data-ng-if="isAscUser && !student.athleticsProfile.isActiveAsc">INACTIVE</span>
              </div>
              <div data-ng-if="student.withdrawalCancel">
                <span class="red-flag-small">
                  {{student.withdrawalCancel.description}} {{student.withdrawalCancel.date | date}}
                </span>
              </div>
              <div class="student-text" data-ng-bind="student.level"></div>
              <div class="student-text" data-ng-bind="major" data-ng-repeat="major in student.majors track by $index"></div>
              <div class="student-teams-container">
                <div class="student-teams"
                     data-ng-bind="team.groupName"
                     data-ng-repeat="team in student.athleticsProfile.athletics"></div>
              </div>
            </div>

            <div class="student-column">
              <div class="student-gpa" data-ng-bind="student.cumulativeGPA || '--'"></div>
              <div class="student-text">GPA (Cumulative)</div>
            </div>

            <div class="student-column">
              <div class="student-gpa" data-ng-bind="student.term.enrolledUnits || '0'"></div>
              <div class="student-text">Units (In Progress)</div>
              <div class="student-gpa" data-ng-bind="student.cumulativeUnits || '--'"></div>
              <div class="student-text">Total Units</div>
            </div>

            <div class="student-course-activity-wrapper">
              <div class="student-course-activity-row">
                <div class="student-column student-text">CLASS</div>
                <div class="student-column student-text">BCOURSES ACTIVITY</div>
                <div class="cohort-list-view-column-grade student-text">MID</div>
                <div class="cohort-list-view-column-grade student-text">FINAL</div>
              </div>
              <div class="student-course-activity-row"
                   data-ng-repeat="enrollment in student.term.enrollments"
                   data-ng-if="student.term.enrollments.length">
                <div class="student-column">
                  <div data-ng-bind="enrollment.displayName"></div>
                </div>
                <div class="student-column">
                  <div class="cohort-boxplot-container"
                       data-ng-repeat="canvasSite in enrollment.canvasSites"
                       data-ng-if="enrollment.canvasSites.length">
                    <span data-ng-bind="lastActivityDays(canvasSite.analytics)"></span>
                  </div>
                  <div data-ng-if="!enrollment.canvasSites.length">&mdash;</div>
                </div>
                <div class="cohort-list-view-column-grade">
                  <span class="cohort-grade" data-ng-bind="enrollment.midtermGrade" data-ng-if="enrollment.midtermGrade"></span>
                  <i class="fas fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.midtermGrade)"></i>
                  <span data-ng-if="!enrollment.midtermGrade">&mdash;</span>
                </div>
                <div class="cohort-list-view-column-grade">
                  <span class="cohort-grade"
                        data-ng-bind="enrollment.grade"
                        data-ng-if="enrollment.grade"></span>
                  <i class="fas fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.grade)"></i>
                  <span class="cohort-grading-basis"
                        data-ng-bind="enrollment.gradingBasis"
                        data-ng-if="!enrollment.grade"></span>
                  <span data-ng-if="!enrollment.grade && !enrollment.gradingBasis">&mdash;</span>
                </div>
              </div>
              <div class="student-course-activity-row"
                   data-ng-if="!student.term.enrollments.length">
                <div class="student-column faint-text">
                  No {{currentEnrollmentTerm.split(' ')[0] | lowercase}} enrollments
                </div>
                <div class="student-column">
                  &mdash;
                </div>
                <div class="cohort-list-view-column-grade">
                  &mdash;
                </div>
                <div class="cohort-list-view-column-grade">
                  &mdash;
                </div>
              </div>
            </div>
          </div>
        </ul>
        <ul uib-pagination
            boundary-link-numbers="true"
            data-ng-click="nextPage()"
            data-ng-if="search.results.totalStudentCount > search.pagination.itemsPerPage"
            direction-links="false"
            force-ellipses="true"
            id="pagination-widget"
            items-per-page="search.pagination.itemsPerPage"
            max-size="9"
            ng-model="search.pagination.currentPage"
            rotate="false"
            template-url="/static/app/shared/uibPaginationTemplate.html"
            total-items="search.results.totalStudentCount"></ul>
      </div>
    </div>
  </div>
</div>

