<div data-ng-if="filters.isLoading">
  <i class="fas fa-sync fa-spin fa-2x"></i>
</div>
<div data-ng-if="!filters.isLoading">
  <div>
    <div>
      <div class="cohort-filter-row"
           data-ng-repeat="row in filters.added track by $index">
        <div class="cohort-added-filter-name">
          <span data-ng-bind="row.name"></span>
        </div>
        <div class="cohort-added-subcategory-name"
             data-ng-if="!row.isEditMode">
          <span data-ng-bind="row.subcategory.name"
                data-ng-if="row.subcategory"></span>
        </div>
        <div class="cohort-added-subcategory-name"
             data-ng-if="row.isEditMode">

          Edit mode!

        </div>
        <div class="cohort-added-filter-controls">
          <div class="cohort-added-filter-buttons">
            <div data-ng-if="row.subcategory && allowEdits && !row.isEditMode">
              <button type="button"
                      id="edit-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="buttons.editAddedFilter.onClick($index)">
                Edit
              </button> |
            </div>
            <div data-ng-if="!row.isEditMode">
              <button type="button"
                      id="remove-added-filter-{{$index}}"
                      aria-label="Remove added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="buttons.removeAddedFilter.onClick($index)">
                Remove
              </button>
            </div>
            <div data-ng-if="row.isEditMode">
              <button type="button"
                      id="update-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn btn-primary"
                      data-ng-click="buttons.updateAddedFilter.onClick($index)">
                Update
              </button>
            </div>
            <div data-ng-if="row.isEditMode">
              <button type="button"
                      id="cancel-edit-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="buttons.cancelEditAddedFilter.onClick($index)">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cohort-filter-draft-row" data-ng-if="!filters.isEditMode">
      <div class="cohort-filter-draft-column-01">
        <div class="btn-group"
             uib-dropdown
             keyboard-nav="true"
             is-open="filters.draft.isOpen">
          <button id="draft-filter"
                  type="button"
                  class="btn-filter-draft"
                  data-ng-class="{'btn-filter-draft-open': filters.draft.isOpen}"
                  focus-on="!filters.draft.options"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            {{filters.draft.name || 'New Filter'}}
            <span data-ng-class="{'fa-angle-up': filters.draft.isOpen, 'fa-angle-down': !filters.draft.isOpen}" class="fas"></span>
          </button>
          <ul class="dropdown-menu cohort-filter-dropdown"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="draft-filter">
            <li role="menuitem"
                data-ng-click="onDraftFilterClick(option)"
                data-ng-class="{'divider': option === null, 'disabled': option.disabled}"
                data-ng-repeat="option in filters.definitions track by $index">
              <a href="#"
                 data-ng-bind="option.name"
                 data-ng-if="option !== null && !option.disabled"></a>
              <span data-ng-bind="option.name"
                    data-ng-class="{'cohort-filter-disabled': option.disabled}"
                    data-ng-if="option !== null && option.disabled"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="cohort-filter-draft-column-02"
           data-ng-if="filters.draft.type === 'array'">
        <div class="btn-group"
             uib-dropdown
             keyboard-nav="true"
             is-open="filters.draft.isSubcategoryMenuOpen"
             data-ng-if="filters.draft.options">
          <button id="draft-filter-subcategory"
                  type="button"
                  class="btn-filter-draft btn-filter-draft-subcategory"
                  data-ng-class="{'btn-filter-draft-open': filters.draft.isSubcategoryMenuOpen}"
                  focus-on="filters.draft.options"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            {{filters.draft.subcategory.name || filters.draft.subcategoryHeader}}
            <span data-ng-class="{'fa-angle-up': filters.draft.isSubcategoryMenuOpen, 'fa-angle-down': !filters.draft.isSubcategoryMenuOpen}" class="fas"></span>
          </button>
          <ul class="dropdown-menu cohort-filter-subcategory-dropdown"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="draft-filter-subcategory">
            <li role="menuitem"
                id="{{filters.draft.param}}-{{option.value}}"
                data-ng-click="onDraftSubCategoryClick(option)"
                data-ng-class="{'divider': option === null, 'disabled': option.disabled}"
                data-ng-repeat="option in filters.draft.options track by $index">
              <a href="#"
                 data-ng-bind="option.name"
                 data-ng-if="option !== null && !option.disabled"></a>
              <span data-ng-bind="option.name"
                    data-ng-class="{'cohort-filter-disabled': option.disabled}"
                    data-ng-if="option !== null && option.disabled"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="cohort-filter-draft-column-02" data-ng-if="filters.draft.type === 'range'">
        <div class="draft-filter-range-container">
          <div class="draft-filter-range-label">
            <span data-ng-bind="filters.draft.subcategoryHeader[0]"></span>
          </div>
          <div>
            <input class="draft-filter-range-input"
                   data-ng-model="filters.draft.subcategory.range.start"
                   data-ng-change="filters.draft.subcategory.onChange()"
                   maxlength="1">
          </div>
          <div class="draft-filter-range-label">
            <span data-ng-bind="filters.draft.subcategoryHeader[1]"></span>
          </div>
          <div>
            <input class="draft-filter-range-input"
                   data-ng-model="filters.draft.subcategory.range.stop"
                   data-ng-change="filters.draft.subcategory.onChange()"
                   maxlength="1">
          </div>
        </div>
      </div>
      <div class="cohort-filter-draft-column-03">
        <div data-ng-if="buttons.addFilter.show">
          <button type="button"
                  id="unsaved-filter-add"
                  aria-label="Add filter to search criteria"
                  class="btn btn-primary"
                  focus-on="buttons.addFilter.show"
                  data-ng-click="buttons.addFilter.onClick()"
                  data-ng-disabled="buttons.addFilter.disabled">
            Add
          </button>
        </div>
      </div>
      <div class="cohort-filter-draft-column-04">
        <div data-ng-if="buttons.cancelDraftFilter.show">
          <button type="button"
                  id="unsaved-filter-reset"
                  aria-label="Cancel new filter selection"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="buttons.cancelDraftFilter.onClick()">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="draft-filter-subcategory-error has-error">
      <span data-ng-bind="filters.draft.subcategory.error"></span>
    </div>
  </div>
  <div>
    <div data-ng-if="!filters.isEditMode">
      <button type="button"
              id="unsaved-filter-apply"
              aria-label="Search for students"
              class="btn btn-primary btn-filter-draft-apply"
              data-ng-click="buttons.search.onClick()"
              data-ng-disabled="buttons.search.disabled"
              data-ng-if="buttons.search.show">
        Apply
      </button>
      <span data-ng-controller="CreateFilteredCohortController">
        <button type="button"
                id="unsaved-filter-save-cohort"
                aria-label="Create new cohort"
                class="btn btn-secondary btn-filter-draft-save"
                data-ng-disabled="buttons.saveCohort.disabled"
                data-ng-click="buttons.saveCohort.onClick(openCreateCohortModal)"
                data-ng-if="buttons.saveCohort.show">
          <span class="fa fa-spinner fa-spin" data-ng-if="isSaving"></span>
          {{isSaving ? 'Saving' : 'Save'}} Cohort
        </button>
      </span>
    </div>
  </div>
</div>
