<div data-ng-if="filters.isLoading">
  <i class="fas fa-sync fa-spin fa-2x"></i>
</div>
<div data-ng-if="!filters.isLoading">
  <div>
    <div>
      <div class="cohort-filter-row"
           data-ng-repeat="filter in filters.added track by $index">
        <div class="cohort-filter-item-filter">
          <span data-ng-bind="filter.name"></span>
        </div>
        <div class="cohort-filter-item-name">
          <span data-ng-bind="filter.subcategory.name"
                data-ng-if="filter.subcategory"></span>
        </div>
        <div class="cohort-filter-item-button">
          <button type="button"
                  id="remove-added-filter-{{$index}}"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="buttons.removeButton.onClick($index)"
                  data-ng-if="buttons.removeButton.show">
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="cohort-filter-draft-row">
      <div class="cohort-filter-draft-column-01">
        <div class="btn-group"
             uib-dropdown
             is-open="filters.draft.isOpen">
          <button id="draft-filter"
                  type="button"
                  class="btn-filter-draft"
                  data-ng-class="{'btn-filter-draft-open': filters.draft.isOpen}"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            {{filters.draft.name || 'New Filter'}}
            <span data-ng-class="{'fa-angle-up': filters.draft.isOpen, 'fa-angle-down': !filters.draft.isOpen}" class="fas"></span>
          </button>
          <ul class="dropdown-menu cohort-filter-dropdown"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="draft-filter">
            <li role="menuitem"
                data-ng-click="onDraftFilterClick(option)"
                data-ng-class="{'divider': option === null, 'disabled': option.disabled}"
                data-ng-repeat="option in filters.definitions track by $index"><a href="#" data-ng-bind="option.name"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="cohort-filter-draft-column-02"
           data-ng-if="filters.draft.type === 'array'">
        <div class="btn-group"
             uib-dropdown
             is-open="filters.draft.isSubcategoryMenuOpen"
             data-ng-if="filters.draft.options">
          <button id="draft-filter-subcategory"
                  type="button"
                  class="btn-filter-draft btn-filter-draft-subcategory"
                  data-ng-class="{'btn-filter-draft-open': filters.draft.isSubcategoryMenuOpen}"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            {{filters.draft.subcategory.name || filters.draft.subcategoryHeader}}
            <span data-ng-class="{'fa-angle-up': filters.draft.isSubcategoryMenuOpen, 'fa-angle-down': !filters.draft.isSubcategoryMenuOpen}" class="fas"></span>
          </button>
          <ul class="dropdown-menu cohort-filter-subcategory-dropdown"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="draft-filter-subcategory">
            <li role="menuitem"
                data-ng-click="onDraftSubCategoryClick(option)"
                data-ng-class="{'divider': option === null, 'disabled': option.disabled}"
                data-ng-repeat="option in filters.draft.options track by $index"><a href="#" data-ng-bind="option.name"></a></li>
          </ul>
        </div>
      </div>
      <div class="cohort-filter-draft-column-03">
        <button type="button"
                id="unsaved-filter-add"
                class="btn btn-primary"
                data-ng-click="buttons.addButton.onClick()"
                data-ng-if="buttons.addButton.show">
          Add
        </button>
      </div>
      <div class="cohort-filter-draft-column-04">
        <button type="button"
                id="unsaved-filter-reset"
                class="btn-link cohort-manage-btn-link"
                data-ng-click="buttons.cancelButton.onClick()"
                data-ng-if="buttons.cancelButton.show">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div>
    <div>
      <button type="button"
              id="unsaved-filter-apply"
              class="btn btn-primary btn-filter-draft-apply"
              data-ng-click="buttons.applyButton.onClick()"
              data-ng-disabled="buttons.applyButton.disabled"
              data-ng-if="buttons.applyButton.show">
        Apply
      </button>
      <span data-ng-controller="CreateFilteredCohortController">
        <button type="button"
                id="unsaved-filter-save-cohort"
                class="btn btn-secondary btn-filter-draft-save"
                data-ng-disabled="buttons.saveButton.disabled"
                data-ng-click="buttons.saveButton.onClick(openCreateCohortModal)"
                data-ng-if="buttons.saveButton.show">
          <span class="fa fa-spinner fa-spin" data-ng-if="isSaving"></span>
          {{isSaving ? 'Saving' : 'Save'}} Cohort
        </button>
      </span>
    </div>
  </div>
</div>
