<div data-ng-if="filters.isLoading">
  <i class="fas fa-sync fa-spin fa-2x"></i>
</div>
<div data-ng-if="!filters.isLoading">
  <div>
    <div>
      <div class="cohort-filter-row"
           data-ng-repeat="row in filters.added track by $index">
        <div class="cohort-added-filter-name">
          <span data-ng-bind="row.name"></span>
        </div>
        <div class="cohort-added-subcategory-name">
          <span data-ng-bind="row.subcategory.name"
                data-ng-if="row.subcategory && !row.isEditMode"></span>
          <filter-criteria-edit-subcategory filter="row"
                                            on-option-click="row.onOptionClick"
                                            watch="row"
                                            data-ng-if="row.isEditMode"></filter-criteria-edit-subcategory>
        </div>
        <div class="cohort-added-filter-controls">
          <div class="cohort-added-filter-buttons">
            <div data-ng-if="row.subcategory && allowEdits && !row.isEditMode">
              <button type="button"
                      id="edit-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="filters.added.buttons.edit.onClick(row)">
                Edit
              </button> |
            </div>
            <div data-ng-if="allowEdits && !row.isEditMode">
              <button type="button"
                      id="remove-added-filter-{{$index}}"
                      aria-label="Remove added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="filters.added.buttons.remove.onClick($index)">
                Remove
              </button>
            </div>
            <div data-ng-if="allowEdits && row.isEditMode">
              <button type="button"
                      id="update-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn btn-primary"
                      uib-popover-html="row.error.popoverHtml"
                      popover-class="has-error"
                      popover-is-open="row.error.isPopoverOpen"
                      popover-placement="top-left"
                      data-ng-click="filters.added.buttons.update.onClick(row)">
                Update
              </button> |
            </div>
            <div data-ng-if="allowEdits && row.isEditMode">
              <button type="button"
                      id="cancel-edit-added-filter-{{$index}}"
                      aria-label="Edit added filter"
                      class="btn-link btn-cohort-added-filter"
                      data-ng-click="filters.added.buttons.cancel.onClick(row)">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cohort-filter-draft-row" data-ng-if="allowEdits && !filters.isEditMode">
      <div class="cohort-filter-draft-column-01">
        <div class="btn-group"
             uib-dropdown
             keyboard-nav="true"
             is-open="isDraftMenuOpen">
          <button id="draft-filter"
                  type="button"
                  class="btn-filter"
                  data-ng-class="{'btn-filter-open': isDraftMenuOpen}"
                  focus-on="!draft.options"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            <span class="flex-row flex-space-between">
              <span>{{draft.name || 'New Filter'}}</span>
              <span data-ng-class="{'fa-angle-up': isDraftMenuOpen, 'fa-angle-down': !isDraftMenuOpen}" class="fas"></span>
            </span>
          </button>
          <ul class="dropdown-menu cohort-filter-dropdown"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="draft-filter">
            <li role="menuitem"
                data-ng-click="onDraftFilterClick(option)"
                data-ng-class="{'divider': option === null, 'disabled': option.disabled}"
                data-ng-repeat="option in filters.definitions track by $index">
              <a href="#"
                 data-ng-bind="option.name"
                 data-ng-if="option !== null && !option.disabled"></a>
              <span data-ng-bind="option.name"
                    data-ng-class="{'cohort-filter-disabled': option.disabled}"
                    data-ng-if="option !== null && option.disabled"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="cohort-filter-draft-column-02" data-ng-if="['range', 'array'].indexOf(draft.type) > -1">
        <filter-criteria-edit-subcategory filter="draft"
                                          on-option-click="onDraftSubcategoryOptionClick"
                                          watch="draft"></filter-criteria-edit-subcategory>
      </div>
      <div class="cohort-filter-draft-column-03">
        <div data-ng-if="draft.buttons.add.show">
          <button type="button"
                  id="unsaved-filter-add"
                  aria-label="Add filter to search criteria"
                  class="btn btn-primary"
                  focus-on="draft.buttons.add.show"
                  data-ng-click="draft.buttons.add.onClick()"
                  data-ng-disabled="draft.buttons.add.disabled">
            Add
          </button>
        </div>
      </div>
      <div class="cohort-filter-draft-column-04">
        <div data-ng-if="draft.buttons.cancel.show">
          <button type="button"
                  id="unsaved-filter-reset"
                  aria-label="Cancel new filter selection"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="draft.buttons.cancel.onClick()">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="filter-subcategory-error has-error">
      <span data-ng-bind="draft.subcategory.error"></span>
    </div>
  </div>
  <div>
    <div data-ng-if="!filters.isEditMode">
      <button type="button"
              id="unsaved-filter-apply"
              aria-label="Search for students"
              class="btn btn-primary btn-filter-draft-apply"
              data-ng-click="search.buttons.apply.onClick()"
              data-ng-if="search.buttons.apply.show">
        Apply
      </button>
      <span data-ng-controller="CreateFilteredCohortController">
        <button type="button"
                id="save-filtered-cohort"
                aria-label="Create new cohort"
                class="btn"
                data-ng-class="{'btn-filter-draft-saved': acknowledgeSave, 'btn-primary btn-filter-draft-save': !acknowledgeSave}"
                data-ng-click="search.buttons.save.onClick(openCreateCohortModal)"
                data-ng-if="search.buttons.save.show">
          <span data-ng-if="acknowledgeSave">Saved</span>
          <span data-ng-if="!acknowledgeSave">Save Cohort</span>
        </button>
      </span>
    </div>
  </div>
</div>
