<button id="watchlist-toggle-{{sid}}"
        class="btn btn-link btn-watchlist-{{faSize}}"
        type="button"
        uib-tooltip="{{faSize === 'text' ? '' : buttonLabel}}"
        tooltip-animation="false"
        tooltip-popup-close-delay="100"
        tooltip-placement="bottom"
        data-ng-click="toggle($event)">
  <i class="{{faSize}}"
     data-ng-class="{'fa fa-minus-circle': onWatchlist, 'fa fa-plus-circle': !onWatchlist}"
     data-ng-if="faSize !== 'text'"></i>
  <span class="sr-only"
        data-ng-bind="buttonAltText"
        data-ng-if="faSize !== 'text'"></span>
  <span data-ng-if="faSize === 'text'">
    remove
  </span>
</button>
