<ul>
  <li>
    Assignments on time:
    <span data-ng-bind="canvasSite.analytics.assignmentsOnTime.summary"></span>
    <div class="boxplot-container" data-ng-if="canvasSite.analytics.assignmentsOnTime.boxPlottable">
      <div id="boxplot-{{canvasSite.canvasCourseId}}-assignmentsOnTime"
           class="boxplot"
           data-ng-init="drawBoxplot(termId, courseName, canvasSite.canvasCourseId, 'assignmentsOnTime')"></div>
    </div>
  </li>
  <li>
    Assignment grades:
    <span data-ng-bind="canvasSite.analytics.courseCurrentScore.summary"></span>
    <div class="boxplot-container" data-ng-if="canvasSite.analytics.courseCurrentScore.boxPlottable">
      <div id="boxplot-{{canvasSite.canvasCourseId}}-courseCurrentScore"
           class="boxplot"
           data-ng-init="drawBoxplot(termId, courseName, canvasSite.canvasCourseId, 'courseCurrentScore')"></div>
    </div>
  </li>
  <li>
    Page views:
    <span data-ng-bind="canvasSite.analytics.pageViews.summary"></span>
    <div class="boxplot-container" data-ng-if="canvasSite.analytics.pageViews.boxPlottable">
      <div id="boxplot-{{canvasSite.canvasCourseId}}-pageViews"
           class="boxplot"
           data-ng-init="drawBoxplot(termId, courseName, canvasSite.canvasCourseId, 'pageViews')"></div>
    </div>
  </li>
  <li>
    Participations:
    <span data-ng-bind="canvasSite.analytics.participations.summary"></span>
    <div class="boxplot-container" data-ng-if="canvasSite.analytics.participations.boxPlottable">
      <div id="boxplot-{{canvasSite.canvasCourseId}}-participations"
           class="boxplot"
           data-ng-init="drawBoxplot(termId, courseName, canvasSite.canvasCourseId, 'participations')"></div>
    </div>
  </li>
</ul>
