<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <div class="flex-container">
    <div class="flex-item">
      <div data-ng-if="!search.isLoading">
        <!--

        TODO: Replace with angular-bootstrap solution

        <oi-select id="search-teams"
                   oi-options="team.code as team.name for team in search.teams | orderBy: 'name' track by team.code"
                   oi-select-options="{
                     maxlength: 70
                   }"
                   ng-model="search.select.teamCode"
                   placeholder="Team"
                   tabindex="-1"></oi-select>
        -->
      </div>
      <div>
        <button class="header-button" data-ng-click="createCohort()">
          Save Cohort
        </button>
      </div>
    </div>
    <div class="flex-item" data-ng-if="!search.isLoading && search.results.length">
      <h1>{{search.results.length}} Results Found</h1>
      <ul>
        <li data-ng-repeat="result in search.results">
          {{result}}
        </li>
      </ul>
    </div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'"></div>
</div>
