<div class="student-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span role="alert" aria-live="passive" class="sr-only">Loading...</span>
  </div>

  <div class="container-error" data-ng-if="!isLoading && error">
    <h1 class="page-section-header">{{error.status === 404 ? 'Not Found' : 'Error'}}</h1>
    <div class="faint-text">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>

  <div data-ng-if="!isLoading && !error">
    <div class="student-container-row-01">
      <div class="student-profile-container">
        <!-- Avatar, name, degree progress, etc. -->
        <div class="student-bio-container">
          <div class="student-bio-container-column-01">
            <div class="profile-avatar-container">
              <img class="profile-avatar"
                   data-ng-class="{'img-blur': demoMode.blur}"
                   data-ng-src="/api/student/{{student.uid}}/photo"
                   data-avatar-fallback/>
            </div>
          </div>
          <div class="student-bio-container-column-02">
            <div class="student-bio-contact">
              <h1 class="student-section-header"
                  data-ng-class="{'demo-mode-blur': demoMode.blur}">
                {{student.name}}
              </h1>
              <div class="student-preferred-name"
                   data-ng-bind="student.sisProfile.preferredName"
                   data-ng-class="{'demo-mode-blur': demoMode.blur}"
                   data-ng-if="student.sisProfile.preferredName !== student.name"></div>
              <div class="student-profile-sid">
                SID <span data-ng-bind="student.sid" data-ng-class="{'demo-mode-blur': demoMode.blur}"></span>
              </div>
              <div>
                <i class="fas fa-envelope"></i>
                <a id="student-mailto"
                   aria-label="Email this student"
                   data-ng-href="mailto:{{student.sisProfile.emailAddress}}"
                   data-ng-class="{'demo-mode-blur': demoMode.blur}"
                   data-ng-bind="student.sisProfile.emailAddress"></a>
              </div>
              <div data-ng-if="student.sisProfile.phoneNumber">
                <i class="fas fa-phone"></i>
                <span aria-label="Student phone number is {{student.sisProfile.phoneNumber}}"
                      data-ng-bind="student.sisProfile.phoneNumber"
                      data-ng-class="{'demo-mode-blur': demoMode.blur}"
                      tabindex="0"></span>
              </div>
            </div>
            <div>
              <div data-ng-if="isAscUser && !student.athleticsProfile.isActiveAsc">
                <h4 class="student-bio-header profile-sidebar-inactive">INACTIVE</h4>
              </div>
              <div data-ng-repeat="membership in student.athleticsProfile.athletics">
                <h4 class="student-bio-header student-bio-header-team" data-ng-bind="membership.groupName"></h4>
              </div>
              <div data-ng-repeat="plan in student.sisProfile.plans">
                <h4 class="student-bio-header">
                  <span data-ng-bind="plan.description" data-ng-if="!plan.degreeProgramUrl"></span>
                  <a data-ng-bind="plan.description" data-ng-if="plan.degreeProgramUrl" data-ng-href="{{plan.degreeProgramUrl}}" target="_blank"></a>
                </h4>
                <div class="profile-sidebar-details">
                  <div data-ng-bind="plan.program" data-ng-if="plan.program"></div>
                </div>
              </div>
              <h4 class="student-bio-header" data-ng-bind="student.sisProfile.level.description"></h4>
              <div class="profile-sidebar-details">
                <div data-ng-pluralize
                     count="student.sisProfile.termsInAttendance"
                     when="{'one': '1 Term in Attendance', 'other': '{{student.sisProfile.termsInAttendance}} Terms in Attendance'}"
                     data-ng-if="student.sisProfile.termsInAttendance"></div>
                <div data-ng-if="student.sisProfile.expectedGraduationTerm && student.sisProfile.level.code !== 'GR'">
                  Expected graduation <span data-ng-bind="student.sisProfile.expectedGraduationTerm.name"></span>
                </div>
              </div>
              <div class="student-bio-status-box-groups curated-cohorts-checkboxes">
                <div>
                  <h4 class="student-bio-header">
                    Curated Cohorts
                  </h4>
                </div>
                <div class="curated-cohort-checkbox"
                     data-ng-repeat="cohort in myCuratedCohorts track by $index"
                     data-ng-if="myCuratedCohorts.length">
                  <input id="curated-cohort-checkbox-{{$index}}"
                         class="curated-cohort-checkbox-input"
                         aria-label="{{cohort.selected ? 'Remove from' : 'Add to'}} curated cohort {{cohort.name}}"
                         type="checkbox"
                         data-ng-model="cohort.selected"
                         data-ng-click="curatedCohortCheckboxClick(cohort)"/>
                  <div class="curated-cohort-checkbox-label">
                    <a data-ng-href="/cohort/curated/{{cohort.id}}" data-ng-bind="cohort.name"></a>
                  </div>
                </div>
                <div class="curated-cohort-checkbox" data-ng-if="!myCuratedCohorts.length">
                  <span class="faint-text">You have no curated cohorts.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="student-bio-container-column-03">
            <div class="student-bio-status-box student-bio-status-box-units">
              <div>
                <div class="student-bio-status-number" data-ng-bind="student.sisProfile.cumulativeUnits"></div>
                <div class="student-bio-status-legend">Units Completed</div>
              </div>
              <div class="profile-units-chart-outer">
                <div class="student-bio-status-legend student-bio-status-legend-heading">Unit Totals</div>
                <div class="profile-units-chart-container" id="profile-units-chart-container"></div>
              </div>
            </div>
            <div class="student-bio-status-box">
              <div class="student-bio-status-box-units">
                <div>
                  <div class="student-bio-status-number" data-ng-bind="student.sisProfile.cumulativeGPA || '--'"></div>
                  <div class="student-bio-status-legend">Cumulative GPA</div>
                </div>
                <div class="profile-units-chart-outer">
                  <div class="student-bio-status-legend student-bio-status-legend-heading">GPA Trends</div>
                  <div class="profile-units-chart-container" id="profile-gpa-chart-container" data-ng-show="gpaTerms.length"></div>
                  <div class="student-bio-status-legend student-bio-status-legend-small"
                       data-ng-if="!gpaTerms.length">
                    GPA Not Yet Available
                  </div>
                  <div class="student-bio-status-legend profile-last-term-gpa-outer"
                       data-ng-if="gpaTerms.length">
                    <span data-ng-bind="gpaTerms[0].name"></span> GPA:
                    <strong class="profile-last-term-gpa"
                            data-ng-bind="gpaTerms[0].gpa"
                            data-ng-class="{'profile-last-term-gpa': gpaTerms[0].gpa >= 2, 'profile-gpa-alert': gpaTerms[0].gpa < 2}"></strong>
                  </div>
                  <button class="btn btn-link profile-view-previous-semesters" data-ng-click="showTermGpa=!showTermGpa">
                    <i data-ng-class="{'fas fa-caret-right': !showTermGpa, 'fas fa-caret-down': showTermGpa}"></i>
                    <span data-ng-if="!showTermGpa">Show Term GPA</span>
                    <span data-ng-if="showTermGpa">Hide Term GPA</span>
                  </button>
                </div>
              </div>
              <table class="student-bio-table" data-ng-if="showTermGpa">
                <tr>
                  <th>Term</th>
                  <th>GPA</th>
                </tr>
                <tr data-ng-repeat="term in gpaTerms" data-ng-class-even="'student-bio-table-zebra'">
                  <td data-ng-bind="term.name"></td>
                  <td data-ng-if="term.gpa < 2">
                    <div class="profile-term-gpa-alert-outer">
                      <i class="fa fa-exclamation-triangle profile-term-gpa-alert profile-term-gpa-alert-icon"></i>
                      <div class="profile-term-gpa-alert" data-ng-bind="term.gpa"></div>
                    </div>
                  </td>
                  <td data-ng-if="term.gpa >= 2">
                    <span data-ng-bind="term.gpa"></span>
                  </td>
                </tr>
                <tr data-ng-if="!gpaTerms.length">
                  <td>No previous terms</td>
                  <td>--</td>
                </tr>
              </table>
            </div>
            <div class="student-bio-status-box">
              <h4 class="student-bio-progress-header">Degree Progress</h4>
              <div class="student-bio-no-data" data-ng-if="!student.sisProfile.degreeProgress">
                No data
              </div>
              <table class="student-bio-table" data-ng-if="student.sisProfile.degreeProgress">
                <tr>
                  <th>University Requirements</th>
                  <th>Status</th>
                </tr>
                <tr data-ng-repeat="requirement in student.sisProfile.degreeProgress.requirements">
                  <td data-ng-bind="requirement.name"></td>
                  <td>
                    <i data-ng-class="{
                            'fas fa-check student-bio-table-icon': requirement.status === 'Satisfied',
                            'fas fa-exclamation-triangle student-bio-table-icon': requirement.status === 'Not Satisfied',
                            'fas fa-clock-o student-bio-table-icon': requirement.status === 'In Progress'
                        }"></i>
                    <span data-ng-bind="requirement.status"></span>
                  </td>
                </tr>
              </table>
              <div class="profile-sidebar-subdetails" data-ng-if="student.sisProfile.degreeProgress">
                <div>Degree Progress as of <span data-ng-bind="student.sisProfile.degreeProgress.reportDate"></span>.</div>
                <div>Advisors can refresh this data at <a data-ng-href="{{student.studentProfileLink}}">CalCentral</a>.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="student-container-row-02">
      <!-- Classes -->
      <div>
        <div class="student-terms">
          <h2 class="student-section-header">Classes</h2>
          <div class="student-term" data-ng-repeat="term in student.enrollmentTerms | limitTo: (showAllTerms ? undefined : 1)">

            <div class="term-no-enrollments"
                 data-ng-if="$first && !student.hasCurrentTermEnrollments && (currentEnrollmentTermId > parseInt(term.termId))">
              <h3 class="student-term-header" data-ng-bind="currentEnrollmentTerm"></h3>
              <div class="term-no-enrollments-description">No enrollments</div>
              <div data-ng-include="'/static/app/student/studentSemesterNotices.html'"></div>
            </div>

            <h3 class="student-term-header" data-ng-bind="term.termName"></h3>

            <div data-ng-include="'/static/app/student/studentSemesterNotices.html'"
                 data-ng-if="$first && (student.hasCurrentTermEnrollments || currentEnrollmentTermId <= parseInt(term.termId))"></div>

            <uib-accordion close-others="false">
              <div uib-accordion-group
                   is-disabled="true"
                   is-open="course.isOpen"
                   aria-expanded="{{course.isOpen}}"
                   class="profile-class"
                   data-ng-class="{'panel-open': course.isOpen}"
                   data-ng-repeat="course in term.enrollments">
                <uib-accordion-heading>
                  <div class="accordion-heading profile-class-heading">
                    <div class="accordion-heading-start">
                      <div class="accordion-heading-start-inner">
                        <div class="accordion-heading-caret">
                          <i id="term-{{term.termId}}-course-{{$index}}"
                             aria-label="{{course.isOpen ? 'Hide course details' : 'Show course details'}}"
                             data-ng-class="{'fas fa-caret-right': !course.isOpen, 'fas fa-caret-down': course.isOpen}"
                             data-ng-click="course.isOpen = !course.isOpen"
                             data-ng-keypress="course.isOpen = !course.isOpen"
                             tabindex="0"
                             role="button"></i>
                        </div>
                        <div>
                          <h4 class="student-course-title" data-ng-bind="course.displayName"></h4>
                        </div>
                        <div>
                          <div class="accordion-heading-sections">
                            <div class="student-course-sections">
                              <span data-ng-repeat="section in course.sections"
                                    data-ng-if="section.displayName">
                                <span data-ng-if="$first">(</span><!--
                                --><a id="term-{{term.termId}}-section-{{section.ccn}}"
                                      data-ui-sref="course({termId: term.termId, sectionId: section.ccn})"
                                      data-ui-sref-opts="{reload: true}"
                                      data-ng-click="$event.stopPropagation()"
                                      data-ng-bind="section.displayName"
                                      data-ng-if="section.isViewableOnCoursePage"></a><!--
                                --><span data-ng-if="!section.isViewableOnCoursePage"
                                         data-ng-bind="section.displayName"></span><span data-ng-if="!$last"> | </span><span data-ng-if="$last">)</span>
                              </span>
                            </div>
                            <span class="student-waitlisted red-flag-status" data-ng-if="course.waitlisted">WAITLISTED</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <h5 class="profile-class-name" data-ng-bind="course.title"></h5>
                      </div>
                    </div>
                    <div class="accordion-heading-end">
                      <div class="accordion-heading-units">
                        <span data-ng-pluralize
                              count="course.units"
                              when="{'one': '1 Unit', 'other': '{{course.units}} Units'}"></span>
                      </div>
                      <div class="accordion-heading-grades">
                        <div class="accordion-heading-grade">
                          Final:
                          <span class="profile-class-grade"
                                data-ng-bind="course.grade"
                                data-ng-if="course.grade"></span>
                          <span class="profile-class-grading-basis"
                                data-ng-bind="course.gradingBasis"
                                data-ng-if="!course.grade"></span>
                          <span class="profile-class-grade"
                                data-ng-if="!course.grade && !course.gradingBasis">&mdash;</span>
                        </div>
                        <div class="accordion-heading-grade" data-ng-if="currentEnrollmentTermId === parseInt(term.termId)">
                          Mid:
                          <span class="profile-class-grade"
                                data-ng-bind="course.midtermGrade"
                                data-ng-if="course.midtermGrade"></span>
                          <span class="profile-class-grade"
                                data-ng-if="!course.midtermGrade">&mdash;</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div data-ng-repeat="canvasSite in course.canvasSites">
                  <div class="profile-course-site-code" data-ng-bind="canvasSite.courseCode"></div>
                  <table class="visualize-metrics">
                    <tr>
                      <td class="visualize-metrics-legend">
                        Assignments Submitted
                      </td>
                      <td class="visualize-metrics-summary">
                        <span data-ng-if="canvasSite.analytics.assignmentsSubmitted.displayPercentile">
                          <strong data-ng-bind="canvasSite.analytics.assignmentsSubmitted.displayPercentile"></strong> percentile
                        </span>
                        <span class="visualize-metrics-no-data"
                              data-ng-if="!canvasSite.analytics.assignmentsSubmitted.displayPercentile">
                          No Assignments
                        </span>
                      </td>
                      <td>
                        <span data-ng-if="canvasSite.analytics.assignmentsSubmitted.courseDeciles">
                          Score:
                          <strong data-ng-bind="canvasSite.analytics.assignmentsSubmitted.student.raw"></strong>
                          <span class="visualize-metrics-maximum">
                            (Maximum: <span data-ng-bind="canvasSite.analytics.assignmentsSubmitted.courseDeciles[10]"></span>)
                          </span>
                        </span>
                        <span class="visualize-metrics-no-data"
                              data-ng-if="!canvasSite.analytics.assignmentsSubmitted.courseDeciles">
                          No Data
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="visualize-metrics-legend">
                        Assignment Grades
                      </td>
                      <td class="visualize-metrics-summary">
                        <span data-ng-if="canvasSite.analytics.currentScore.displayPercentile">
                          <strong data-ng-bind="canvasSite.analytics.currentScore.displayPercentile"></strong> percentile
                        </span>
                        <span class="visualize-metrics-no-data"
                              data-ng-if="!canvasSite.analytics.currentScore.displayPercentile">
                          No Grades
                        </span>
                      </td>
                      <td class="profile-boxplot-container">
                        <boxplot-draw class="profile-boxplot"
                                      data-dataset="canvasSite.analytics"
                                      data-ng-if="canvasSite.analytics.currentScore.boxPlottable"></boxplot-draw>
                        <div data-ng-if="!canvasSite.analytics.currentScore.boxPlottable">
                          <span class="visualize-metrics-no-data"
                                data-ng-if="canvasSite.analytics.currentScore.courseDeciles">
                            Score:
                            <strong data-ng-bind="canvasSite.analytics.currentScore.student.raw"></strong>
                            <span class="visualize-metrics-maximum">
                              (Maximum: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[10]"></span>)
                            </span>
                          </span>
                          <span class="visualize-metrics-no-data"
                                data-ng-if="!canvasSite.analytics.currentScore.courseDeciles">
                            No Data
                          </span>
                        </div>
                       </td>
                    </tr>
                    <tr data-ng-if="currentEnrollmentTermId === parseInt(term.termId)">
                      <td class="visualize-metrics-legend">
                        Last bCourses Activity
                      </td>
                      <td colspan="2">
                        <div data-ng-if="!canvasSite.analytics.lastActivity.student.raw">
                          <span data-ng-bind="student.name"
                                data-ng-class="{'demo-mode-blur': demoMode.blur}"></span> has never visited this course site.
                        </div>
                        <div data-ng-if="canvasSite.analytics.lastActivity.student.raw">
                          <span data-ng-bind="student.name" data-ng-class="{'demo-mode-blur': demoMode.blur}"></span>
                          last visited the course site <span data-ng-bind="lastActivityDays(canvasSite.analytics).toLowerCase()"></span>.
                          <span data-ng-bind="lastActivityInContext(canvasSite.analytics)"></span>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="profile-class-notation" data-ng-if="!course.canvasSites.length">
                  No additional information
                </div>
              </div>
              <div class="accordion-heading profile-class"
                   data-ng-if="term.enrolledUnits">
                <div class="accordion-heading-start"></div>
                <div class="accordion-heading-end">
                  <div class="accordion-heading-units-total">
                    Total <span data-ng-bind="term.enrolledUnits"></span>
                  </div>
                </div>
              </div>
              <div uib-accordion-group
                   class="profile-class"
                   is-open="true"
                   data-ng-if="term.droppedSections.length">
                <div data-ng-repeat="droppedSection in term.droppedSections">
                  <div class="profile-dropped-section-title">
                    <span data-ng-bind="droppedSection.displayName"></span> -
                    <span data-ng-bind="droppedSection.component"></span>
                    <span data-ng-bind="droppedSection.sectionNumber"></span>
                  </div>
                  <div class="profile-class-notation">
                    <i class="fas fa-exclamation-triangle profile-dropped-section-icon"></i> Dropped
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>

          <div data-ng-show="student.enrollmentTerms.length > 1" class="profile-view-previous-semesters-wrapper">
            <button class="btn btn-link profile-view-previous-semesters" data-ng-click="showAllTerms=!showAllTerms">
              <i data-ng-class="{'fas fa-caret-right': !showAllTerms, 'fas fa-caret-up': showAllTerms}"></i>
              <span data-ng-if="!showAllTerms">View Previous Semesters</span>
              <span data-ng-if="showAllTerms">Hide Previous Semesters</span>
            </button>
          </div>
          <div class="profile-classes" data-ng-if="!student.enrollmentTerms.length">
            No courses
            <div data-ng-if="student.sisProfile.withdrawalCancel">
              <span class="red-flag-small">
                {{student.sisProfile.withdrawalCancel.description}} ({{student.sisProfile.withdrawalCancel.reason}}) {{student.sisProfile.withdrawalCancel.date | date}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
