<div data-ng-if="alerts.shown.length">
  <div class="alert alert-warning profile-alert"
       data-ng-attr-id="alert-{{alert.id}}"
       data-ng-repeat="alert in alerts.shown">
    <div class="profile-alert-item">
      <student-alert-message alert="alert"></student-alert-message>
      <button id="dismiss-alert-{{alert.id}}"
              class="btn btn-link close"
              data-ng-click="dismissAlert(alert.id)"
              title="Dismiss alert"
              aria-label="Close">&times;</button>
    </div>
  </div>
</div>
<div data-ng-show="!showDismissedAlerts && alerts.dismissed.length">
  <button class="btn btn-link profile-view-previous-semesters" data-ng-click="showDismissedAlerts=true">
    View dismissed status alerts
  </button>
</div>
<div data-ng-show="showDismissedAlerts && alerts.dismissed.length">
  <button class="btn btn-link profile-view-previous-semesters" data-ng-click="showDismissedAlerts=false">
    Hide dismissed status alerts
  </button>
  <div class="alert alert-warning profile-alert">
    <div data-ng-repeat="alert in alerts.dismissed" class="profile-alert-item">
      <student-alert-message alert="alert"></student-alert-message>
    </div>
  </div>
</div>
<div class="alert alert-info student-hold-notification"
     data-ng-attr-id="hold-notification-{$index}"
     data-ng-repeat="hold in student.holds">
  Hold: <span data-ng-bind="hold.reason.description"></span>. <span data-ng-bind="hold.reason.formalDescription"></span>
</div>
<div data-ng-if="student.sisProfile.withdrawalCancel">
  <span class="red-flag-small">
    {{student.sisProfile.withdrawalCancel.description}}
    ({{student.sisProfile.withdrawalCancel.reason}})
    {{student.sisProfile.withdrawalCancel.date | date}}
  </span>
</div>
