<div class="container">
  <div data-ng-include="'/static/app/shared/header.html'"></div>

  <div class="loading-spinner-large" data-ng-if="student.isLoading && !error">
    <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div data-ng-if="!student.isLoading && !error">
    <div class="return-to-cohort" data-ng-if="returnUrl">
      <a data-ng-href="{{returnUrl}}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Return to cohort
      </a>
    </div>
    <div class="student-profile-header">
      <div class="student-profile-avatar-container">
        <img class="student-profile-avatar"
             data-ng-src="/api/user/{{student.uid}}/photo"
             data-avatar-fallback/>
      </div>
      <div class="student-profile-header-contact">
        <h1 class="student-profile-header-name"
            data-ng-bind="student.athleticsProfile.fullName"></h1>
        <h2 class="student-profile-header-name-preferred"
            data-ng-bind="student.sisProfile.preferredName"
            data-ng-if="student.sisProfile.preferredName !== student.athleticsProfile.fullName"></h2>
        <a data-ng-href="mailto:{{student.sisProfile.emailAddress}}" data-ng-bind="student.sisProfile.emailAddress"></a>
        <div data-ng-bind="student.sisProfile.phoneNumber"></div>
      </div>
      <div class="student-profile-header-status-box">
        <div class="student-profile-header-status-number" data-ng-bind="student.sisProfile.cumulativeUnits"></div>
        <div class="student-profile-header-status-legend">Total Units</div>
      </div>
      <div class="student-profile-header-status-box">
        <div class="student-profile-header-status-number" data-ng-bind="student.sisProfile.cumulativeGPA || '--'"></div>
        <div class="student-profile-header-status-legend">Cumulative GPA</div>
      </div>
    </div>
    <div class="student-profile-body">
      <div class="student-profile-sidebar">
        <div class="student-profile-sidebar-box">
          <div data-ng-repeat="membership in student.athleticsProfile.athletics">
            <h3 class="student-profile-sidebar-header student-profile-sidebar-header-team" data-ng-bind="membership.groupName"></h3>
          </div>
          <div data-ng-repeat="plan in student.sisProfile.plans">
            <h3 class="student-profile-sidebar-header" data-ng-bind="plan.description"></h3>
            <div class="student-profile-sidebar-details">
              <div data-ng-bind="plan.program" data-ng-if="plan.program"></div>
            </div>
          </div>
          <h3 class="student-profile-sidebar-header" data-ng-bind="student.sisProfile.level.description"></h3>
          <div class="student-profile-sidebar-details" data-ng-if="student.sisProfile.termsInAttendance">
            <span data-ng-pluralize
                  count="student.sisProfile.termsInAttendance"
                  when="{'one': '1 Term in Attendance', 'other': '{{student.sisProfile.termsInAttendance}} Terms in Attendance'}"></span>
          </div>
        </div>
        <div class="student-profile-sidebar-box" data-ng-if="student.sisProfile.degreeProgress">
          <h3 class="student-profile-sidebar-header">Degree Progress</h3>
          <table class="student-profile-sidebar-table">
            <tr>
              <th>University Requirements</th>
              <th>Status</th>
            </tr>
            <tr data-ng-repeat="requirement in student.sisProfile.degreeProgress.requirements">
              <td data-ng-bind="requirement.name"></td>
              <td>
                <i data-ng-class="{
                        'fa fa-check student-profile-sidebar-icon': requirement.status === 'Satisfied',
                        'fa fa-exclamation-triangle student-profile-sidebar-icon': requirement.status === 'Not Satisfied',
                        'fa fa-clock-o student-profile-sidebar-icon': requirement.status === 'In Progress'
                    }"></i>
                <span data-ng-bind="requirement.status"></span>
              </td>
            </tr>
          </table>
          <div class="student-profile-sidebar-subdetails">
            <div>Degree Progress as of <span data-ng-bind="student.sisProfile.degreeProgress.reportDate"></span>.</div>
            <div>Advisors can refresh this data at <a data-ng-href="{{student.studentProfileLink}}">CalCentral</a>.</div>
          </div>
        </div>
      </div>
      <div class="student-profile-terms">
        <div class="student-profile-term" data-ng-repeat="term in student.enrollmentTerms | limitTo: (showAllTerms ? undefined : 1)">
          <h2 class="student-profile-classes-header" data-ng-bind="term.termName"></h2>
          <div data-ng-repeat="course in term.enrollments" class="student-profile-class">
            <div class="student-profile-class-heading">
              <div class="student-profile-class-title-outer">
                <h3 class="student-profile-class-title" data-ng-bind="course.displayName"></h3>
                <h4 class="student-profile-class-name" data-ng-bind="course.title"></h4>
              </div>
              <div class="student-profile-class-sections">
                <div data-ng-repeat="section in course.sections">
                  <span data-ng-if="section.enrollmentStatus === 'W'">Waitlisted in</span>
                  <span data-ng-if="section.enrollmentStatus === 'D'">Dropped</span>
                  <span data-ng-bind="section.component"></span>
                  <span data-ng-bind="section.sectionNumber"></span>
                </div>
              </div>
              <div class="student-profile-class-units"
                   data-ng-pluralize count="course.units" when="{'one': '1 Unit', 'other': '{{course.units}} Units'}"></div>
              <div class="student-profile-class-grades">
                <div>
                  Final:
                  <span class="student-profile-class-grade" data-ng-bind="course.grade" data-ng-if="course.grade"></span>
                  <span class="student-profile-class-grading-basis" data-ng-bind="course.gradingBasis" data-ng-if="!course.grade"></span>
                </div>
                <div>
                  Mid:
                  <span class="student-profile-class-grade" data-ng-bind="course.midtermGrade" data-ng-if="course.midtermGrade"></span>
                  <span class="student-profile-class-grade" data-ng-if="!course.midtermGrade">&mdash;</span>
                </div>
              </div>
            </div>
            <div data-ng-repeat="canvasSite in course.canvasSites">
              <strong data-ng-bind="canvasSite.courseCode"></strong>
              <course-site-metrics
                data-canvas-site="canvasSite"
                data-course-name="course.displayName"
                data-draw-boxplot="drawBoxplot"
                data-term-id="term.termId">
              </course-site-metrics>
            </div>
            <div data-ng-if="!course.canvasSites.length" class="student-profile-class-notation">
              No additional information
            </div>
          </div>
          <div data-ng-repeat="canvasSite in term.unmatchedCanvasSites" class="student-profile-class">
            <h3 class="student-profile-class-title" data-ng-bind="canvasSite.courseCode"></h3>
            <h4 class="student-profile-class-name" data-ng-bind="canvasSite.courseName"></h4>
            <course-site-metrics
              data-canvas-site="canvasSite"
              data-course-name="'unmatchedCanvasSites'"
              data-draw-boxplot="drawBoxplot"
              data-term-id="term.termId">
            </course-site-metrics>
          </div>
          <div class="student-profile-class" data-ng-if="term.droppedSections.length">
            <div data-ng-repeat="droppedSection in term.droppedSections" class="student-profile-dropped-section">
              <div class="student-profile-dropped-section-title">
                <span data-ng-bind="droppedSection.displayName"></span> -
                <span data-ng-bind="droppedSection.component"></span>
                <span data-ng-bind="droppedSection.sectionNumber"></span>
              </div>
              <div class="student-profile-class-notation">
                <i class="fa fa-exclamation-triangle student-profile-dropped-section-icon"></i> Dropped
              </div>
            </div>
          </div>
        </div>
        <div data-ng-show="!showAllTerms && (student.enrollmentTerms.length > 1)" class="student-profile-view-previous-semesters-wrapper">
          <button class="btn btn-link student-profile-view-previous-semesters" data-ng-click="showAllTerms=true">
            <i class="fa fa-caret-right"></i>
            View Previous Semesters
          </button>
        </div>
        <div class="student-profile-classes" data-ng-if="!student.enrollmentTerms.length">
          No courses
        </div>
      </div>
    </div>
  </div>
  <div class="container-left" data-ng-if="!student.isLoading && error">
    <h1>Error</h1>
    <div data-ng-bind="error"></div>
  </div>

  <div data-ng-include="'/static/app/shared/footer.html'" data-ng-if="!student.isLoading"></div>
</div>
