<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BOAC</title>

    <link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>

  <body ui-view>
    <!-- Third-party -->
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/lib/lodash/dist/lodash.min.js"></script>

    <!-- BOAC -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/routes.js"></script>
    <script src="/static/js/controllers/authController.js"></script>
    <script src="/static/js/controllers/cohortController.js"></script>
    <script src="/static/js/controllers/landingController.js"></script>
    <script src="/static/js/controllers/studentController.js"></script>
    <script src="/static/js/factories/analyticsFactory.js"></script>
    <script src="/static/js/factories/authFactory.js"></script>
    <script src="/static/js/factories/cohortFactory.js"></script>
  </body>
</html>
