<div class="cohort-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div data-ng-if="error">
    <h1 class="page-section-header">Error</h1>
    <div class="faint-text has-error">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>
  <div data-ng-if="!error && !isLoading">
    <h1 class="page-section-header" data-ng-if="cohortName">
      <span data-ng-bind="cohortName"></span>
      <span class="faint-text">(<span data-ng-bind="search.results.totalStudentCount"></span> students)</span>
    </h1>
    <h1 data-ng-if="!cohortName">
      <span data-ng-pluralize count="search.results.totalStudentCount" when="{'one': '1 Result', 'other': '{} Results'}"></span>
    </h1>
    <hr/>
    <div>
      Show Filters
      <span data-ng-if="cohort && cohort.isOwnedByCurrentUser">
        <span class="faint-text">|</span>
        Rename
        <span data-ng-controller="DeleteCohortController" data-ng-if="!cohort.isReadOnly">
          <span class="faint-text">|</span>
          <button type="button"
                  id="delete-cohort"
                  class="btn-link cohort-manage-btn-link"
                  data-ng-click="openDeleteCohortModal(cohort, 'home')">
            Delete
          </button>
        </span>
      </span>
    </div>
    <hr/>
    <div id="cohort-filters">
      <filtered-cohort-menu-beta></filtered-cohort-menu-beta>
    </div>
    <hr/>
    <ul>
      <li data-ng-repeat="student in search.results.students track by $index">
        {{student}}
      </li>
    </ul>
    <ul uib-pagination
        boundary-link-numbers="true"
        force-ellipses="true"
        max-size="9"
        rotate="false"
        direction-links="false"
        items-per-page="search.pagination.itemsPerPage"
        ng-model="search.pagination.currentPage"
        total-items="search.results.totalStudentCount"
        data-ng-click="nextPage()"
        data-ng-if="search.results.totalStudentCount > search.pagination.itemsPerPage"></ul>

  </div>
</div>

