<div data-ng-if="isLoadingCriteria">
  <i class="fas fa-sync fa-spin fa-2x"></i>
</div>
<div data-ng-if="!isLoadingCriteria">
  <ul>
    <li data-ng-repeat="savedFilter in savedFilters">
      <span data-ng-bind="savedFilter.name"></span> |
      <span data-ng-bind="savedFilter.value"></span>
    </li>
    <li>
      <select id="unsaved-filter-primary"
              data-ng-model="unsavedFilter.primary"
              data-ng-options="o.name disable when o.disabled for o in filterDefinitions">
      </select>
      <select id="unsaved-filter-secondary"
              data-ng-model="unsavedFilter.secondary"
              data-ng-options="o.name disable when o.disabled for o in unsavedFilter.primary.options"
              data-ng-if="unsavedFilter.primary.options">
      </select>
      <div data-ng-if="unsavedFilter.primary">
        <button type="button"
                id="unsaved-filter-add"
                class="btn btn-primary"
                data-ng-click="addButton.onClick(unsavedFilter)"
                data-ng-if="addButton.show(unsavedFilter)">
          Add
        </button>
        <button type="button"
          id="unsaved-filter-reset"
          class="btn-link cohort-manage-btn-link"
          data-ng-click="unsavedFilter.secondary = null; unsavedFilter.primary = null">
          Cancel
        </button>
      </div>
    </li>
  </ul>
  <div>
    <div>
      <button type="button"
              id="unsaved-filter-apply"
              class="btn btn-primary"
              data-ng-click="applyButton.onClick()"
              data-ng-disabled="applyButton.disabled(savedFilters, unsavedFilter)"
              data-ng-if="applyButton.show(savedFilters, unsavedFilter)">
        Apply
      </button>
      <button type="button"
              id="unsaved-filter-save-cohort"
              class="btn btn-secondary"
              data-ng-disabled="saveButton.disabled()"
              data-ng-click="saveButton.onClick(createFilter)">
        Save Cohort
      </button>
    </div>
  </div>
</div>
