<div data-ng-if="isLoadingCriteria">
  <i class="fas fa-sync fa-spin fa-2x"></i>
</div>
<div data-ng-if="!isLoadingCriteria">
  <ul>
    <li data-ng-repeat="addedFilter in addedFilters">
      <span data-ng-bind="addedFilter.name"></span>
      <span data-ng-if="addedFilter.secondaryName"> | {{addedFilter.secondaryName}}</span>
      <span>
        <button type="button"
                id="remove-added-filter-{{$index}}"
                class="btn-link cohort-manage-btn-link"
                data-ng-click="removeButton.onClick($index)">
          Remove
        </button>
      </span>
    </li>
    <li>
      <select id="unsaved-filter-primary"
              data-ng-model="draftFilter.primary"
              data-ng-options="o.name disable when o.disabled for o in availableFilters">
      </select>
      <select id="unsaved-filter-secondary"
              data-ng-model="draftFilter.secondary"
              data-ng-options="o.name disable when o.disabled for o in draftFilter.primary.options"
              data-ng-if="draftFilter.primary.options">
      </select>
      <div data-ng-if="draftFilter.primary">
        <button type="button"
                id="unsaved-filter-add"
                class="btn btn-primary"
                data-ng-click="addButton.onClick(draftFilter)"
                data-ng-if="addButton.show(draftFilter)">
          Add
        </button>
        <button type="button"
                id="unsaved-filter-reset"
                class="btn-link cohort-manage-btn-link"
                data-ng-click="draftFilter.secondary = null; draftFilter.primary = null">
          Cancel
        </button>
      </div>
    </li>
  </ul>
  <div>
    <div>
      <button type="button"
              id="unsaved-filter-apply"
              class="btn btn-primary"
              data-ng-click="applyButton.onClick()"
              data-ng-disabled="applyButton.disabled(addedFilters, draftFilter)"
              data-ng-if="applyButton.show(addedFilters, draftFilter)">
        Apply
      </button>
      <button type="button"
              id="unsaved-filter-save-cohort"
              class="btn btn-secondary"
              data-ng-disabled="saveButton.disabled()"
              data-ng-click="saveButton.onClick(createFilter)">
        Save Cohort
      </button>
    </div>
  </div>
</div>
