<form id="search-students-form"
      data-ng-class="{'search-students-with-button': withButton}"
      data-ng-submit="searchForStudents()">
  <div class="search-students-form-label-outer" data-ng-if="!withButton">
    <i class="fas fa-search"></i>
    <label for="search-students-input"
           class="search-students-form-label">Search Students or Classes</label>
  </div>
  <div data-ng-class="{'search-students-form-button': withButton}">
      <input id="search-students-input"
             type="text"
             class="search-students-input"
             data-ng-model="searchPhrase"
             data-ng-readonly="searchResultsLoading"
             maxlength="255">
  </div>
  <div data-ng-if="withButton">
    <button id="search-students-button"
            class="btn btn-primary btn-search-students"
            type="submit">Search</button>
  </div>
</form>
