<div class="cohort-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span role="alert"
          aria-live="passive"
          class="sr-only">Searching for '{{search.phrase}}'...</span>
  </div>

  <div data-ng-if="error">
    <h1 role="alert" aria-live="passive" class="page-section-header">Error</h1>
    <div class="faint-text">
      <span role="alert" aria-live="passive" data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span role="alert" aria-live="passive" data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>

  <div data-ng-if="!isLoading && !error && !search.totalStudentCount && !search.totalCourseCount">
    <h1 role="alert" aria-live="passive" class="page-section-header">No results matching '{{search.phrase}}'</h1>
    <div>Suggestions:</div>
    <ul>
      <li>Keep your search term simple.</li>
      <li>Check your spelling and try again.</li>
      <li>Search classes by section title, e.g., <strong>AMERSTD 10</strong>.</li>
      <li>Abbreviations of section titles may not return results; <strong>COMPSCI 161</strong> instead of <strong>CS 161</strong>.</li>
    </ul>
  </div>

  <div role="alert"
       aria-live="passive"
       data-ng-if="!isLoading && !error && search.totalStudentCount">
    <h1 class="page-section-header">
      <span data-ng-pluralize count="search.totalStudentCount" when="{'one': 'One student', 'other': '{} students'}"></span>
      matching '<span data-ng-bind="search.phrase"></span>'
    </h1>
    <div data-ng-if="search.totalStudentCount > search.limit">
      Showing the first {{search.limit}} students.
    </div>
  </div>

  <div class="cohort-column-results" data-ng-if="!isLoading && !error && search.totalStudentCount">
    <div class="search-header-curated-cohort">
      <curated-cohort-selector data-students="search.students"
                               data-ng-if="search.students.length"></curated-cohort-selector>
    </div>
    <div>
      <sortable-alerts-table data-students="search.students"
                             data-options="displayOptions"></sortable-alerts-table>
    </div>
  </div>

  <div role="alert"
       aria-live="passive"
       data-ng-if="!isLoading && !error && search.totalCourseCount">
    <h1 class="page-section-header">
      <span data-ng-pluralize count="search.totalCourseCount" when="{'one': 'One class', 'other': '{} classes'}"></span>
      matching '<span data-ng-bind="search.phrase"></span>'
    </h1>
    <div data-ng-if="search.courses.length < search.totalCourseCount">
      Showing the first {{search.courses.length}} classes.
    </div>
  </div>

  <table class="search-results-table" data-ng-if="search.totalCourseCount">
    <tr>
      <td class="group-summary-column-header group-summary-header-sortable search-results-cell"
          data-ng-click="courseSort('section')"
          data-ng-class="{dropup: !courseSortOptions.reverse}">
        <span class="sr-only">Sort by </span>Section
        <span class="sr-only" data-ng-if="courseSortOptions.sortBy === 'section' && !courseSortOptions.reverse">Descending</span>
        <span class="caret" data-ng-if="courseSortOptions.sortBy === 'section'"></span>
      </td>
      <td class="group-summary-column-header group-summary-header-sortable search-results-cell"
          data-ng-click="courseSort('title')"
          data-ng-class="{dropup: !courseSortOptions.reverse}">
        <span class="sr-only">Sort by </span>Course Name
        <span class="sr-only" data-ng-if="courseSortOptions.sortBy === 'title' && !courseSortOptions.reverse">Descending</span>
        <span class="caret" data-ng-if="courseSortOptions.sortBy === 'title'"></span>
      </td>
    </tr>
    <tr data-ng-repeat="course in search.courses | orderBy:'':courseSortOptions.reverse:courseComparator">
      <td class="search-results-cell">
        <a data-ui-sref="course({termId: course.termId, sectionId: course.sectionId})">
          <span data-ng-bind="course.courseName"></span> -
          <span data-ng-bind="course.instructionFormat"></span>
          <span data-ng-bind="course.sectionNum"></span>
        </a>
      </td>
      <td class="search-results-cell" data-ng-bind="course.courseTitle"></td>
    </tr>
  </table>

</div>
