<div class="modal-header">
  <h3 id="confirm-delete-header">Delete Group</h3>
</div>
<div class="modal-body group-label" id="confirm-delete-body">
  Are you sure you want to delete "<strong><span data-ng-bind="group.name"></span></strong>"?
</div>
<div class="modal-footer">
  <button type="button"
          id="confirm-delete-group-btn"
          class="btn btn btn-primary"
          data-ng-click="delete(group)">Delete</button>
  <button type="button"
          id="cancel-delete-group-btn"
          class="btn btn-default"
          data-ng-click="cancel()">Cancel</button>
</div>
