<div class="group-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div data-ng-if="error">
    <h1>Error</h1>
    <div class="faint-text">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>
  <div data-ng-if="!error && !isLoading">
    <h1 data-ng-if="group.name">
      <span data-ng-bind="group.name"></span>
      <span class="faint-text">(<span data-ng-pluralize
                                      count="group.students.length"
                                      when="{'one': '1 Member', 'other': '{} Members'}"></span>)</span>
    </h1>
    <div data-ng-if="!group.students.length">
      This group has no students.
    </div>
  </div>

  <div class="cohort-column-results" data-ng-show="!isLoading">
    <div class="flex-container flex-space-between"
         data-ng-if="!isLoading && !error && (tab === 'matrix' || group.students.length)">
      <div data-ng-include="'/static/app/shared/tabs.html'"></div>

      <div class="cohort-sort-column" data-ng-if="tab === 'list'">
        <label class="cohort-sort-label" for="cohort-sort-by">Sort by</label>
        <select id="cohort-sort-by"
                class="form-control"
                data-ng-model="orderBy.selected"
                data-ng-options="o.value as o.name for o in orderBy.options">
        </select>
      </div>
    </div>
    <div data-ng-show="tab === 'list'" data-ng-if="!isLoading && !error && group.studentCount">
      <div id="group-students-list" class="list-group">
        <div class="list-group-item student-list-item"
             data-ng-class="{'list-group-item-info': anchor===student.uid}"
             data-ng-repeat="student in group.students | orderBy:studentComparator track by $index">

          <div class="cohort-list-view-column-01">
            <i id="remove-student-{{student.sid}}-from-group"
               class="fa fa-times-circle"
               data-ng-click="removeFromGroup(student)"></i>
          </div>

          <div class="cohort-list-view-column-01">
            <img class="student-avatar student-avatar-large"
                 data-ng-src="/api/user/{{student.uid}}/photo"
                 data-avatar-fallback>
          </div>

          <div class="cohort-student-bio-container">
            <div class="cohort-student-name-container">
              <div>
                <a id="{{student.uid}}"
                   href
                   data-ng-click="goToStudent(student.uid)">
                  <h3 class="student-name"
                      data-ng-class="{'demo-mode-blur': demoMode}"
                      data-ng-if="orderBy.selected !== 'first_name'">
                    {{student.lastName}}, {{student.firstName}}
                  </h3>
                  <h3 class="student-name"
                      data-ng-class="{'demo-mode-blur': demoMode}"
                      data-ng-if="orderBy.selected === 'first_name'">
                    {{student.firstName}} {{student.lastName}}
                  </h3>
                </a>
              </div>
            </div>
            <div class="student-sid" data-ng-class="{'demo-mode-blur': demoMode}">
              {{student.sid}}
              <span class="student-inactive" data-ng-if="!student.isActiveAsc">INACTIVE</span>
            </div>
            <div class="student-text" data-ng-bind="student.level"></div>
            <div class="student-text" data-ng-bind="major" data-ng-repeat="major in student.majors"></div>
            <div class="student-teams-container">
              <div class="student-teams"
                   data-ng-bind="membership.groupName"
                   data-ng-repeat="membership in student.athletics"></div>
            </div>
          </div>

          <div class="student-column">
            <div class="student-gpa" data-ng-bind="student.cumulativeGPA || '--'"></div>
            <div class="student-text">GPA (Cumulative)</div>
          </div>

          <div class="student-column">
            <div class="student-gpa" data-ng-bind="student.term.enrolledUnits || '0'"></div>
            <div class="student-text">Units (In Progress)</div>
            <div class="student-gpa" data-ng-bind="student.cumulativeUnits || '--'"></div>
            <div class="student-text">Total Units</div>
          </div>

          <div class="student-course-activity-wrapper">
            <div class="student-course-activity-row">
              <div class="student-column student-text">CLASS</div>
              <div class="student-column student-text">PAGE VIEWS</div>
              <div class="cohort-list-view-column-grade student-text">MID</div>
              <div class="cohort-list-view-column-grade student-text">FINAL</div>
            </div>
            <div class="student-course-activity-row" data-ng-repeat="enrollment in student.term.enrollments">
              <div class="student-column">
                <div data-ng-bind="enrollment.displayName"></div>
              </div>
              <div class="student-column">
                <div class="cohort-boxplot-container" data-ng-repeat="canvasSite in enrollment.canvasSites">
                  <boxplot-draw class="cohort-boxplot"
                                data-compact-tooltip="true"
                                data-dataset="canvasSite.analytics.pageViews"
                                data-ng-if="tab === 'list'"></boxplot-draw>
                </div>
              </div>
              <div class="cohort-list-view-column-grade">
                <span class="cohort-grade" data-ng-bind="enrollment.midtermGrade" data-ng-if="enrollment.midtermGrade"></span>
                <i class="fa fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.midtermGrade)"></i>
                <span data-ng-if="!enrollment.midtermGrade">&mdash;</span>
              </div>
              <div class="cohort-list-view-column-grade">
                <span class="cohort-grade" data-ng-bind="enrollment.grade" data-ng-if="enrollment.grade"></span>
                <i class="fa fa-exclamation-triangle boac-exclamation" data-ng-if="isAlertGrade(enrollment.grade)"></i>
                <span class="cohort-grading-basis" data-ng-bind="enrollment.gradingBasis" data-ng-if="!enrollment.grade"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="matrix-outer" data-ng-show="tab === 'matrix' && !isLoading && !error">
      <div data-ng-include="'/static/app/shared/matrix.html'"></div>
    </div>
  </div>
</div>
