<div class="group-selector-container">
  <div>
    <div class="group-selector-checkbox">
      <input id="curated-cohort-checkbox-add-all"
             type="checkbox"
             data-ng-model="selector.selectAllCheckbox"
             data-ng-click="toggleAllStudentCheckboxes()"/>
    </div>
  </div>
  <div>
    <div class="group-btn-group"
         uib-dropdown
         is-open="selector.isOpen"
         data-ng-if="selector.showCuratedCohortMenu">
      <button id="added-to-curated-cohort-confirmation"
              type="button"
              data-ng-disabled="true"
              class="btn group-btn-confirmation"
              data-ng-if="isSaving">
        <i class="fas fa-check"></i>
        Added to Curated Cohort
      </button>
      <button id="add-to-curated-cohort-button"
              type="button"
              class="btn btn-primary"
              uib-dropdown-toggle
              data-ng-if="!isSaving">
        Add to Curated Cohort <span class="caret"></span>
      </button>
      <ul class="dropdown-menu group-all-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="add-to-group-button">
        <li role="menuitem" data-ng-if="isLoading">
          Loading <i class="fas fa-spinner fa-spin"></i>
        </li>
        <li role="menuitem" data-ng-if="!myGroups.length">
          <span class="group-selector-zero-cohorts faint-text">You have no curated cohorts.</span>
        </li>
        <li role="menuitem"
            data-ng-class="{'group-checkbox-item': group, 'divider': !group}"
            data-ng-repeat="group in myGroups track by $index"
            data-ng-href="!isLoading">
          <input id="student-{{student.uid}}-curated-cohort-checkbox"
                 type="checkbox"
                 data-ng-model="group.selected"
                 data-ng-click="groupCheckboxClick(group)"
                 aria-labelledby="group-name-{{$index}}"
                 data-ng-if="group"/>
          <span id="curated-cohort-{{group.id}}-name"
                aria-labelledby="student-{{student.sid}}-group-checkbox"
                class="group-checkbox-name"
                data-ng-bind="group.name"
                data-ng-if="group"></span>
        </li>
        <li class="divider"></li>
        <li role="menuitem"
            data-ng-controller="CreateGroupController"
            data-ng-href="!isLoading">
          <a id="curated-cohort-create"
             href
             data-ng-click="openCreateCuratedCohortModal()"><i class="fas fa-plus"></i> Create New Curated Cohort</a>
        </li>
      </ul>
    </div>
  </div>
</div>
