.group-container {
  padding: 0 10px 0 10px;
  width: 100%;
}

.container-manage-groups {
  padding: 0 10px 0 10px;
  width: 100%;
}

.group-all-menu {
  padding: 10px;
}

.group-btn-confirmation {
  background-color: #008000;
  border-color: #2e6da4;
  color: #fff;
  margin-right: 20px;
  white-space: nowrap;
}

.group-btn-group {
  margin: 5px 20px 0 0;
}

.group-checkbox-item {
  padding: 0 10px 5px 10px;
}

.group-checkbox-name {
  padding: 10px;
}

.group-selector-checkbox {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  flex: 0 0 36px;
  margin: 5px 20px 0 0;
  padding: 8px;
  text-align: center;
}

.group-selector-checkbox input {
  margin: 0;
}

.group-selector-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
