<div class="container-manage-groups">
  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div data-ng-if="!isLoading">
    <h1 class="page-section-header" data-ng-if="!error">Manage Groups</h1>
    <div data-ng-if="error">
      <h1>Error</h1>
      <div class="faint-text">
        <span data-ng-bind="error.message" data-ng-if="error.message"></span>
        <span data-ng-if="!error.message">Sorry, there was an error.</span>
      </div>
    </div>
    <div data-ng-if="!myGroups.length" data-ng-controller="CreateGroupController">
      You have no groups.
      <a id="sidebar-group-create"
         href
         data-ng-click="openCreateGroupModal()"><i class="fa fa-plus"></i> Create a new group</a>
    </div>
    <div data-ng-repeat="group in myGroups">
      <hr class="cohort-manage-row-separator"/>
      <div class="flex-container flex-space-between" data-ng-if="!group.editMode">
        <div class="cohort-manage-name wrap-hard">
          <strong>
            <a id="group-{{group.id}}"
               data-ng-bind="group.name"
               data-ng-href="/group/{{group.id}}"></a>
          </strong>
          <span class="faint-text">(<span id="group-member-count-{{$index}}" data-ng-bind="group.students.length"></span>)</span>
        </div>
        <div>
          <span data-ng-if="!isMyPrimaryGroup(group)">
            <span data-ng-controller="DeleteGroupController">
              <button type="button"
                      id="delete-group-btn-{{$index}}"
                      class="btn-link cohort-manage-btn-link"
                      data-ng-click="openDeleteGroupModal(group)">
                Delete
              </button> <span class="faint-text">|</span>
            </span>
            <button type="button"
                    id="edit-group-btn-{{$index}}"
                    class="btn-link cohort-manage-btn-link"
                    data-ng-click="setEditMode(group, true)">
              Rename
            </button>
          </span>
        </div>
      </div>
      <div class="flex-container flex-space-between cohort-manage-row" data-ng-if="group.editMode">
        <div class="cohort-manage-text-input">
          <input aria-required="true"
                 class="form-control"
                 data-ng-change="group.hideError = true"
                 data-ng-model="group.name"
                 focus-on="group.editMode"
                 id="group-label-input-{{$index}}"
                 maxlength="255"
                 name="label"
                 required
                 type="text"/>
          <div class="has-error" data-ng-bind="group.error" data-ng-if="group.error && !group.hideError"></div>
          <div class="faint-text">255 character limit <span data-ng-if="group.name.length">({{255 - group.name.length}} left)</span></div>
        </div>
        <div class="flex-container flex-space-between">
          <button type="button"
                  id="group-cancel-btn-{{$index}}"
                  class="btn btn-sm btn-default cohort-manage-btn"
                  data-ng-click="cancelEdit(group)">
            Cancel
          </button>
          <button type="button"
                  id="group-save-btn-{{$index}}"
                  class="btn btn-sm btn-primary cohort-manage-btn"
                  data-ng-disabled="!group.name"
                  data-ng-click="changeGroupName(group, group.name)">
            Rename
          </button>
        </div>
      </div>
      <hr class="cohort-manage-row-separator" data-ng-if="$last"/>
    </div>
  </div>
</div>
