<div class="home-container">
  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="home-content" data-ng-if="!isLoading">
    <div>
      <h1 class="page-section-header">My Students</h1>
      <div data-ng-if="!myPrimaryGroup.students.length">
        <div>You have no students in your list. Add students from their profile pages.</div>
      </div>
      <sortable-alerts-table data-group="myPrimaryGroup"
                             data-ng-if="myPrimaryGroup.students.length"></sortable-alerts-table>
    </div>
    <div>
      <h1 class="page-section-header">My Cohorts</h1>
      <div data-ng-if="!myCohorts.length">
        <div class="home-alert">
          You have no saved cohorts.
          <a data-ng-href="/cohort?c=new">Create a new cohort.</a>
        </div>
      </div>
      <div data-ng-repeat="cohort in myCohorts" data-ng-if="myCohorts.length">
        <h2 class="home-label-cohort">
          <a data-ng-bind="cohort.label" data-ng-href="/cohort?c={{cohort.id}}"></a>
          (<span data-ng-bind="cohort.totalMemberCount"></span>)
        </h2>
        <sortable-alerts-table data-group="cohort.alerts"
                               data-ng-if="cohort.alerts.students.length"></sortable-alerts-table>
      </div>
    </div>
  </div>
</div>
