<div class="home-container">
  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="home-content" data-ng-if="!isLoading">
    <div>
      <div id="curated-cohorts-header-row" class="home-page-section-header-wrapper">
        <h1 class="page-section-header">Curated Cohorts</h1>
        <div class="home-cohort-actions" data-ng-controller="CreateGroupController">
          <a id="home-curated-cohorts-create-link" href data-ng-click="openCreateGroupModal()">Create</a> |
          <a id="home-curated-cohorts-manage-link" href="/groups/manage">Manage</a>
        </div>
      </div>
      <div data-ng-if="!myGroups.length">
        You have no curated cohorts.
        <span data-ng-controller="CreateGroupController">
          <a id="home-group-create" href data-ng-click="openCreateGroupModal()"> Create a new curated cohort.</a>
        </span>
      </div>
      <div data-ng-repeat="group in myGroups" data-ng-if="myGroups.length">
        <h2 class="page-section-header-sub">
          <a id="home-group-{{$index}}"
             data-ng-bind="group.name"
             data-ng-href="/group/{{group.id}}"></a> (<span data-ng-bind="group.studentCount"></span>)
        </h2>
        <sortable-alerts-table data-group="group"
                               data-ng-if="group.students.length"></sortable-alerts-table>
      </div>
    </div>
    <div>
      <div id="filtered-cohorts-header-row" class="home-page-section-header-wrapper">
        <h1 class="page-section-header">Filtered Cohorts</h1>
        <div class="home-cohort-actions">
          <a id="home-filtered-cohorts-create-link" data-ui-sref="cohort({c: 'new', i: null, inactive: null})" data-ui-sref-opts="{reload: true}">Create</a> |
          <a id="home-filtered-cohorts-manage-link" data-ui-sref="cohortsManage()" data-ui-sref-opts="{reload: true}">Manage</a>
        </div>
      </div>
      <div data-ng-if="!myCohorts.length">
        You have no filtered cohorts.
        <a id="home-cohort-create" data-ng-href="/cohort?c=new">Create a new filtered cohort.</a>
      </div>
      <div data-ng-repeat="cohort in myCohorts" data-ng-if="myCohorts.length">
        <h2 class="page-section-header-sub">
          <a id="home-cohort-{{$index}}"
             data-ng-bind="cohort.label"
             data-ng-href="/cohort?c={{cohort.id}}"></a> (<span data-ng-bind="cohort.totalStudentCount"></span>)
        </h2>
        <sortable-alerts-table data-group="cohort.alerts"
                               data-ng-if="cohort.alerts.students.length"></sortable-alerts-table>
      </div>
    </div>
  </div>
</div>
