<div class="home-container">
  <div class="loading-spinner-large" data-ng-if="profile.myCuratedCohorts === null">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span role="alert" aria-live="passive" class="sr-only">Loading...</span>
  </div>
  <div class="home-content" data-ng-if="profile.myCuratedCohorts !== null">
    <div>
      <div id="filtered-cohorts-header-row" class="home-page-section-header-wrapper">
        <h1 class="page-section-header" data-ng-if="profile.myFilteredCohorts && !profile.myFilteredCohorts.length">
          You have no saved cohorts.
        </h1>
        <h1 class="page-section-header" data-ng-if="profile.myFilteredCohorts.length">
          Cohorts
        </h1>
      </div>
      <div data-ng-if="profile.myFilteredCohorts && !profile.myFilteredCohorts.length">
        <a id="create-filtered-cohort" href="/cohort/filtered">Create a student group</a>
        automatically by your filtering preferences, such as GPA or units.
      </div>
      <uib-accordion close-others="false" data-ng-if="profile.myFilteredCohorts.length">
        <div uib-accordion-group
             id="home-filtered-cohort-{{$index}}"
             is-disabled="true"
             is-open="cohort.isOpen"
             aria-expanded="{{cohort.isOpen}}"
             class="home-cohort-accordion"
             data-ng-class="{'panel-open': cohort.isOpen}"
             data-ng-repeat="cohort in profile.myFilteredCohorts track by $index">
          <uib-accordion-heading>
            <a id="home-filtered-cohort-{{$index}}"
               class="home-cohort-accordion-heading-link"
               data-ng-click="clickFilteredCohort(cohort)"
               data-ng-keypress="clickFilteredCohort(cohort)"
               tabindex="0"
               role="button"
               href="#">
              <div class="home-cohort-accordion-heading">
                <div class="home-cohort-accordion-heading-name">
                  <div class="accordion-heading-caret">
                    <i id="home-filtered-cohort-{{$index}}-caret"
                       aria-label="{{cohort.isOpen ? 'Hide cohort details' : 'Show cohort details'}}"
                       data-ng-class="{
                         'fas fa-spinner fa-spin': cohort.isLoading,
                         'fas fa-caret-right': !cohort.isOpen,
                         'fas fa-caret-down': cohort.isOpen
                       }"></i>
                  </div>
                  <h2 class="page-section-header-sub accordion-header">
                    <span data-ng-bind="cohort.name"></span>
                    (<span data-ng-bind="cohort.totalStudentCount"></span>)
                  </h2>
                </div>
                <div class="home-cohort-accordion-heading-count">
                  <div class="group-summary-column-header home-cohort-accordion-heading-count-label">
                    Total Issues:
                  </div>
                  <div class="home-issues-pill home-issues-pill-zero"
                    aria-label="No issues for {{cohort.name}}"
                    data-ng-if="!cohort.alertCount">0</div>
                  <div class="home-issues-pill home-issues-pill-nonzero"
                    aria-label="{{cohort.alertCount}} alerts for {{cohort.name}}"
                    data-ng-bind="cohort.alertCount"
                    data-ng-if="cohort.alertCount"></div>
                </div>
              </div>
            </a>
          </uib-accordion-heading>
          <div data-ng-if="cohort.students.length">
            <sortable-alerts-table data-students="cohort.students"
                                   data-options="cohort.sortOptions"></sortable-alerts-table>
          </div>
          <div>
            <a id="home-curated-cohort-{{$index}}-view-all" data-ng-href="/cohort/filtered?id={{cohort.id}}">
              <span data-ng-if="cohort.totalStudentCount">
                View <span data-ng-pluralize
                           count="cohort.totalStudentCount"
                           when="{'one': 'the one student', 'other': 'all {} students'}"></span>
                in "<span data-ng-bind="cohort.name"></span>"
              </span>
              <span data-ng-if="!cohort.totalStudentCount">
                "<span data-ng-bind="cohort.name"></span>" has 0 students
              </span>
            </a>
          </div>
        </div>
      </uib-accordion>
    </div>
    <div data-ng-if="profile.myCuratedCohorts.length">
      <div id="curated-cohorts-header-row" class="home-page-section-header-wrapper">
        <h1 class="page-section-header">Curated Groups</h1>
      </div>
      <uib-accordion close-others="false" data-ng-if="profile.myCuratedCohorts.length">
        <div uib-accordion-group
             is-disabled="true"
             is-open="cohort.isOpen"
             aria-expanded="{{cohort.isOpen}}"
             class="home-cohort-accordion"
             data-ng-class="{'panel-open': cohort.isOpen}"
             data-ng-repeat="cohort in profile.myCuratedCohorts track by $index">
          <uib-accordion-heading>
            <a id="home-curated-cohort-{{$index}}"
               class="home-cohort-accordion-heading-link"
               data-ng-click="clickCuratedCohort(cohort)"
               data-ng-keypress="clickCuratedCohort(cohort)"
               data-ng-disabled="cohort.isLoading"
               tabindex="0"
               role="button"
               href="#">
              <div class="home-cohort-accordion-heading">
                <div class="home-cohort-accordion-heading-name">
                  <div class="accordion-heading-caret">
                    <i id="home-curated-cohort-{{$index}}-caret"
                       aria-label="{{cohort.isOpen ? 'Hide group details' : 'Show group details'}}"
                       data-ng-class="{
                         'fas fa-spinner fa-spin': cohort.isLoading,
                         'fas fa-caret-right': !cohort.isOpen,
                         'fas fa-caret-down': cohort.isOpen
                        }"></i>
                  </div>
                  <h2 class="page-section-header-sub accordion-header">
                    <span data-ng-bind="cohort.name"></span>
                    (<span data-ng-bind="cohort.studentCount"></span>)
                  </h2>
                </div>
                <div class="home-cohort-accordion-heading-count">
                  <div class="group-summary-column-header home-cohort-accordion-heading-count-label">
                    Total Issues:
                  </div>
                  <div class="home-issues-pill home-issues-pill-zero"
                    aria-label="No issues for {{cohort.name}}"
                    tabindex="0"
                    data-ng-if="!cohort.alertCount">0</div>
                  <div class="home-issues-pill home-issues-pill-nonzero"
                    aria-label="{{cohort.alertCount}} alerts for {{cohort.name}}"
                    tabindex="0"
                    data-ng-bind="cohort.alertCount"
                    data-ng-if="cohort.alertCount"></div>
                </div>
              </div>
            </a>
          </uib-accordion-heading>
          <div data-ng-if="cohort.students.length">
            <sortable-alerts-table data-students="cohort.students"
                                   data-options="cohort.sortOptions"></sortable-alerts-table>
          </div>
          <div>
            <a id="home-curated-cohort-{{$index}}-view-all" data-ng-href="/cohort/curated/{{cohort.id}}">
              <span data-ng-if="cohort.studentCount">
                View <span data-ng-pluralize
                           count="cohort.studentCount"
                           when="{'one': 'the one student', 'other': 'all {} students'}"></span>
                in "<span data-ng-bind="cohort.name"></span>"
              </span>
              <span data-ng-if="!cohort.studentCount">
                "<span data-ng-bind="cohort.name"></span>" has 0 students
              </span>
            </a>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>
