<div class="sr-only"
     role="alert"
     data-ng-bind="currentSortDescription"
     data-ng-if="students.length && resorted"></div>

<table class="table-full-width" data-ng-if="students">
  <thead>
    <tr>
      <th class="group-summary-column group-summary-column-checkbox group-summary-column-header" data-ng-if="options.curatedCohort"></th>
      <th class="group-summary-column group-summary-column-photo group-summary-column-header"></th>
      <th class="group-summary-column group-summary-column-name group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'sortableName')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions.sortableName}}">
        Name
        <span class="caret" data-ng-if="options.sortBy === 'sortableName'"></span>
      </th>
      <th class="group-summary-column group-summary-column-sid group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'sid')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions.sid}}">
        SID
        <span class="caret" data-ng-if="options.sortBy === 'sid'"></span>
      </th>
      <th class="group-summary-column group-summary-column-major group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'majors[0]')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions['majors[0]']}}">
        Major
        <span class="caret" data-ng-if="options.sortBy === 'majors[0]'"></span>
      </th>
      <th class="group-summary-column group-summary-column-grad group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'expectedGraduationTerm.id')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions['expectedGraduationTerm.id']}}">
        Grad
        <span class="caret" data-ng-if="options.sortBy === 'expectedGraduationTerm.id'"></span>
      </th>
      <th class="group-summary-column group-summary-column-units-term group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'term.enrolledUnits')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions['term.enrolledUnits']}}">
        Term Units
        <span class="caret" data-ng-if="options.sortBy === 'term.enrolledUnits'"></span>
      </th>
      <th class="group-summary-column group-summary-column-units-completed group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'cumulativeUnits')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions.cumulativeUnits}}">
        Units Completed
        <span class="caret" data-ng-if="options.sortBy === 'cumulativeUnits'"></span>
      </th>
      <th class="group-summary-column group-summary-column-gpa group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'cumulativeGPA')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions.cumulativeGPA}}">
        GPA
        <span class="caret" data-ng-if="options.sortBy === 'cumulativeGPA'"></span>
      </th>
      <th class="group-summary-column group-summary-column-issues group-summary-column-header group-summary-header-sortable"
           data-ng-click="sort(options, 'alertCount')"
           data-ng-class="{dropup: !options.reverse}"
           role="button"
           aria-label="{{sortOptions.alertCount}}">
        Issues
        <span class="caret" data-ng-if="options.sortBy === 'alertCount'"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="student in students | orderBy:options.sortBy:options.reverse track by $index">
      <td class="group-summary-column group-summary-column-checkbox" data-ng-if="options.curatedCohort">
        <div class="add-to-cohort-checkbox">
          <input id="{{student.uid}}-curated-cohort-checkbox"
                 aria-label="Add {{student.firstName}} {{student.lastName}} to a curated group"
                 type="checkbox"
                 data-ng-click="student.onCuratedCohortToggle()"
                 data-ng-model="student.selectedForCuratedCohort"/>
        </div>
      </td>
      <td class="group-summary-column group-summary-column-photo">
        <img class="student-avatar student-avatar-small"
             aria-label="Photo of {{student.firstName}} {{student.lastName}}"
             tabindex="0"
             data-ng-class="{'img-blur': demoMode.blur}"
             data-ng-src="/api/student/{{student.uid}}/photo"
             data-avatar-fallback>
      </td>
      <td class="group-summary-column group-summary-column-name">
        <span class="sr-only" data-ng-bind="srText.sortableName"></span>
        <a aria-label="Go to profile page of {{student.firstName}} {{student.lastName}}"
           data-ng-bind="student.sortableName"
           data-ng-class="{'demo-mode-blur': demoMode.blur}"
           data-ng-href="/student/{{student.uid}}"></a>
        <span class="home-inactive-info-icon"
              uib-tooltip="Inactive"
              tooltip-placement="bottom"
              data-ng-if="isAscUser && !student.athleticsProfile.isActiveAsc">
          <i class="fas fa-info-circle"></i>
        </span>
      </td>
      <td class="group-summary-column group-summary-column-sid">
        <span class="sr-only" data-ng-bind="srText.sid"></span>
        <span data-ng-bind="student.sid" data-ng-class="{'demo-mode-blur': demoMode.blur}"></span>
      </td>
      <td class="group-summary-column group-summary-column-major">
        <span class="sr-only" data-ng-bind="srText['majors[0]']"></span>
        <div data-ng-bind="major" data-ng-repeat="major in student.majors"></div>
      </td>
      <td class="group-summary-column group-summary-column-grad">
        <span class="sr-only" data-ng-bind="srText['expectedGraduationTerm.id']"></span>
        <div data-ng-if="!student.expectedGraduationTerm">--<span class="sr-only">No data</span></div>
        <span data-ng-bind="abbreviateTermName(student.expectedGraduationTerm.name)"></span>
      </td>
      <td class="group-summary-column group-summary-column-units-term">
        <span class="sr-only" data-ng-bind="srText['term.enrolledUnits']"></span>
        <div data-ng-bind="student.term.enrolledUnits || '0'"></div>
      </td>
      <td class="group-summary-column group-summary-column-units-completed">
        <span class="sr-only" data-ng-bind="srText.cumulativeUnits"></span>
        <div data-ng-if="!student.cumulativeUnits">--<span class="sr-only">No data</span></div>
        <div data-ng-bind="student.cumulativeUnits | variablePrecisionNumber:2:3" data-ng-if="student.cumulativeUnits"></div>
      </td>
      <td class="group-summary-column group-summary-column-gpa">
        <span class="sr-only" data-ng-bind="srText.cumulativeGPA"></span>
        <div data-ng-if="!student.cumulativeGPA">--<span class="sr-only">No data</span></div>
        <div data-ng-bind="student.cumulativeGPA | number:3" data-ng-if="student.cumulativeGPA"></div>
      </td>
      <td class="group-summary-column group-summary-column-issues">
        <span class="sr-only" data-ng-bind="srText.alertCount"></span>
        <div class="home-issues-pill home-issues-pill-zero"
             aria-label="No alerts for {{student.firstName}} {{student.lastName}}"
             tabindex="0"
             data-ng-if="!student.alertCount">0</div>
        <div class="home-issues-pill home-issues-pill-nonzero"
             aria-label="{{student.alertCount}} alerts for {{student.firstName}} {{student.lastName}}"
             tabindex="0"
             data-ng-bind="student.alertCount"
             data-ng-if="student.alertCount"></div>
      </td>
    </tr>
  </tbody>
</table>
