<div class="sr-only"
     role="alert"
     data-ng-bind-template="Sorted by {{options.sortBy}} {{options.reverse ? 'descending' : ''}}"
     data-ng-if="students.length"></div>

<div class="group-summary-container" data-ng-if="students">
  <div class="group-summary-flex-row group-summary-header">
    <div class="group-summary-column group-summary-column-00 group-summary-column-header" data-ng-if="options.curatedCohort"></div>
    <div class="group-summary-column group-summary-column-01 group-summary-column-header"></div>
    <div class="group-summary-column group-summary-column-02 group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'sortableName')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>Name
      <span class="sr-only" data-ng-if="options.sortBy === 'sortableName' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'sortableName'"></span>
    </div>
    <div class="group-summary-column group-summary-column-03 group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'sid')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>SID
      <span class="sr-only" data-ng-if="options.sortBy === 'sid' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'sid'"></span>
    </div>
    <div class="group-summary-column group-summary-column-04 group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'majors[0]')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>Major
      <span class="sr-only" data-ng-if="options.sortBy === 'majors[0]' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'majors[0]'"></span>
    </div>
    <div class="group-summary-column group-summary-column-small group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'expectedGraduationTerm.id')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>Grad
      <span class="sr-only" data-ng-if="options.sortBy === 'expectedGraduationTerm.id' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'expectedGraduationTerm.id'"></span>
    </div>
    <div class="group-summary-column group-summary-column-05 group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'term.enrolledUnits')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>Term Units
      <span class="sr-only" data-ng-if="options.sortBy === 'term.enrolledUnits' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'term.enrolledUnits'"></span>
    </div>
    <div class="group-summary-column group-summary-column-06 group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'cumulativeUnits')"
         data-ng-class="{dropup: !options.reverse}">
      <span aria-label="Sort by Units Completed">Units Completed</span>
      <span class="sr-only" data-ng-if="options.sortBy === 'cumulativeUnits' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'cumulativeUnits'"></span>
    </div>
    <div class="group-summary-column group-summary-column-small group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'cumulativeGPA')"
         data-ng-class="{dropup: !options.reverse}">
      <span class="sr-only">Sort by </span>GPA
      <span class="sr-only" data-ng-if="options.sortBy === 'cumulativeGPA' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'cumulativeGPA'"></span>
    </div>
    <div class="group-summary-column group-summary-column-small group-summary-column-header group-summary-header-sortable"
         data-ng-click="sort(options, 'alertCount')"
         data-ng-class="{dropup: !options.reverse}">
      <span aria-label="Sort by Issue Count">Issues</span>
      <span class="sr-only" data-ng-if="options.sortBy === 'alertCount' && !options.reverse">Descending</span>
      <span class="caret" data-ng-if="options.sortBy === 'alertCount'"></span>
    </div>
  </div>
  <div class="group-summary-flex-row group-summary-row"
       data-ng-repeat="student in students | orderBy:options.sortBy:options.reverse track by $index">
    <div class="group-summary-column group-summary-column-00" data-ng-if="options.curatedCohort">
      <div class="add-to-cohort-checkbox">
        <input id="{{student.uid}}-curated-cohort-checkbox"
               aria-label="Add {{student.firstName}} {{student.lastName}} to a curated cohort"
               type="checkbox"
               data-ng-click="student.curatedCohortToggle($event)"
               data-ng-model="student.selectedForCuratedCohort"/>
      </div>
    </div>
    <div class="group-summary-column group-summary-column-01">
      <img class="student-avatar student-avatar-small"
           aria-label="Photo of {{student.firstName}} {{student.lastName}}"
           tabindex="0"
           data-ng-class="{'img-blur': demoMode.blur}"
           data-ng-src="/api/student/{{student.uid}}/photo"
           data-avatar-fallback>
    </div>
    <div class="group-summary-column group-summary-column-02">
      <a aria-label="Go to profile page of {{student.firstName}} {{student.lastName}}"
         data-ng-bind="student.sortableName"
         data-ng-class="{'demo-mode-blur': demoMode.blur}"
         data-ng-href="/student/{{student.uid}}"></a>
      <span class="home-inactive-info-icon"
            uib-tooltip="Inactive"
            tooltip-placement="bottom"
            data-ng-if="isAscUser && !student.athleticsProfile.isActiveAsc">
        <i class="fas fa-info-circle"></i>
      </span>
    </div>
    <div class="group-summary-column group-summary-column-03">
      <span data-ng-bind="student.sid" data-ng-class="{'demo-mode-blur': demoMode.blur}"></span>
    </div>
    <div class="group-summary-column group-summary-column-04">
      <span data-ng-bind="major" data-ng-repeat="major in student.majors"></span>
    </div>
    <div class="group-summary-column group-summary-column-small">
      <span data-ng-bind="abbreviateTermName(student.expectedGraduationTerm.name)"></span>
    </div>
    <div class="group-summary-column group-summary-column-05">
      <div data-ng-bind="student.term.enrolledUnits || '0'"></div>
    </div>
    <div class="group-summary-column group-summary-column-06">
      <div data-ng-bind="student.cumulativeUnits || '--'"></div>
    </div>
    <div class="group-summary-column group-summary-column-small">
      <div data-ng-bind="student.cumulativeGPA || '--'"></div>
    </div>
    <div class="group-summary-column group-summary-column-small">
      <div class="home-issues-pill home-issues-pill-zero"
           aria-label="No alerts for {{student.firstName}} {{student.lastName}}"
           tabindex="0"
           data-ng-if="!student.alertCount">0</div>
      <div class="home-issues-pill home-issues-pill-nonzero"
           aria-label="{{student.alertCount}} alerts for {{student.firstName}} {{student.lastName}}"
           tabindex="0"
           data-ng-bind="student.alertCount"
           data-ng-if="student.alertCount"></div>
    </div>
  </div>
</div>
