<div class="sr-only" role="alert"
     data-ng-bind-template="Sorted by {{group.sortBy}} {{group.reverse ? 'descending' : ''}}"
     data-ng-if="group.students.length"></div>
<table class="home-table" data-ng-if="group.students">
  <tr class="home-table-header">
    <th></th>
    <th class="home-table-header-name home-table-header-sortable" data-ng-click="sort(group, 'sortableName')" data-ng-class="{dropup: !group.reverse}">
      <span class="sr-only">Sort by </span>Name
      <span class="sr-only" data-ng-if="group.sortBy === 'sortableName' && !group.reverse">Descending</span>
      <span class="caret" data-ng-if="group.sortBy === 'sortableName'"></span>
    </th>
    <th class="home-table-header-sid home-table-header-sortable" data-ng-click="sort(group, 'sid')" data-ng-class="{dropup: !group.reverse}">
      <span class="sr-only">Sort by </span>SID
      <span class="sr-only" data-ng-if="group.sortBy === 'sid' && !group.reverse">Descending</span>
      <span class="caret" data-ng-if="group.sortBy === 'sid'"></span>
    </th>
    <th class="home-table-header-issues">Major</th>
    <th class="home-table-header-issues">Term Units</th>
    <th class="home-table-header-issues">Cum. Units</th>
    <th class="home-table-header-issues">GPA</th>
    <th class="home-table-header-issues">Issues</th>
    <th class="home-table-header-remove"></th>
  </tr>
  <tr data-ng-repeat="student in group.students | orderBy:group.sortBy:group.reverse" class="home-table-row">
    <td>
      <img class="student-avatar student-avatar-small"
           data-ng-src="/api/user/{{student.uid}}/photo"
           data-avatar-fallback>
    </td>
    <td>
      <a data-ng-bind="student.sortableName"
         data-ng-class="{'demo-mode-blur': demoMode}"
         data-ng-href="/student/{{student.uid}}"></a>
      <span
          class="home-inactive-info-icon"
          data-ng-if="!student.isActiveAsc"
          uib-tooltip="Inactive"
          tooltip-placement="bottom">
        <i class="fa fa-info-circle"></i>
      </span>
    </td>
    <td data-ng-bind="student.sid" data-ng-class="{'demo-mode-blur': demoMode}"></td>
    <td>
      <span class="student-text" data-ng-bind="major" data-ng-repeat="major in student.majors"></span>
    </td>
    <td>
      <div data-ng-bind="student.term.enrolledUnits || '0'"></div>
    </td>
    <td>
      <div data-ng-bind="student.cumulativeUnits || '--'"></div>
    </td>
    <td>
      <div data-ng-bind="student.cumulativeGPA || '--'"></div>
    </td>
    <td>
      <div class="home-issues-pill home-issues-pill-zero"
           data-ng-if="!student.alertCount">0</div>
      <div class="home-issues-pill home-issues-pill-nonzero"
           data-ng-bind="student.alertCount"
           data-ng-if="student.alertCount"></div>
    </td>
    <td>
      <student-group-toggle data-sid="student.sid"
                            data-fa-size="text"
                            data-group="group"
                            data-ng-if="!group.isCohortAlerts"></student-group-toggle>
    </td>
  </tr>
</table>
