<div class="course-container">
  <div class="loading-spinner-large" data-ng-if="isLoading && !error">
    <i class="fas fa-sync fa-spin fa-5x"></i>
    <span role="alert" aria-live="passive" class="sr-only">Loading...</span>
  </div>

  <div class="container-error" data-ng-if="!isLoading && error">
    <h1 class="page-section-header">Error</h1>
    <div class="faint-text">
      <span data-ng-bind="error.message" data-ng-if="error.message"></span>
      <span data-ng-if="!error.message">Sorry, there was an error retrieving data.</span>
    </div>
  </div>

  <div class="course-container-inner"
       data-ng-show="!isLoading && !error">
    <a href="#pagination-widget"
       id="skip-to-pagination-widget"
       class="sr-only"
       data-ng-if="section.totalStudentCount > pagination.itemsPerPage">Skip to pagination widget</a>
    <div>
      <div class="course-container-summary">
        <div class="course-column-description">
          <h1 focus-on="!isLoading"
              tabindex="0"
              class="course-header"
              data-ng-bind="section.displayName"></h1>
          <div class="course-details-section">
            <h2 class="sr-only">Details</h2>
            <span data-ng-bind="section.instructionFormat"></span>
            <span data-ng-bind="section.sectionNum"></span>
            <span data-ng-if="section.instructionFormat">&mdash;</span>
            <span data-ng-if="section.units === null">Unknown Units</span>
            <span data-ng-if="section.units !== null"
                  data-ng-pluralize count="section.units" when="{'one': '1 Unit', 'other': '{} Units'}"></span>
          </div>
          <div class="course-section-title" data-ng-if="section.title">
            <span role="alert"
                  aria-live="polite"
                  data-ng-bind="section.title"></span>
          </div>
        </div>
        <div class="course-column-schedule">
          <h2 class="sr-only">Schedule</h2>
          <div class="course-term-name" data-ng-bind="section.termName"></div>
          <div data-ng-repeat="meeting in section.meetings"
               data-ng-if="section.meetings">
            <div class="course-details-instructors" data-ng-if="meeting.instructors.length">
              <span class="course-instructors-header"
                    id="instructors-{{$index}}"
                    data-ng-pluralize
                    count="meeting.instructors.length"
                    when="{'one': 'Instructor:', 'other': 'Instructors:'}"></span>
              <span data-ng-class="{'demo-mode-blur': inDemoMode}"
                    data-ng-repeat="instructor in meeting.instructors">{{instructor}}{{$last ? '' : ', '}}</span>
            </div>
            <div id="meetings-{{$index}}" class="course-details-meetings">
              <div data-ng-bind="meeting.days"></div>
              <div data-ng-bind="meeting.time"></div>
              <div data-ng-bind="meeting.location"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-terms">
      <h2 class="sr-only">Students</h2>

      <div class="course-view-controls-container" data-ng-if="!section.totalStudentCount">
        <span class="has-error"><i class="fas fa-exclamation-triangle"></i></span>
        <span class="container-error">No students advised by your department are enrolled in this section.</span>
      </div>

      <div class="course-view-controls-container" data-ng-if="section.totalStudentCount">
        <curated-cohort-selector data-students="section.students"
                                 data-ng-if="section.students.length && (tab === 'list')"></curated-cohort-selector>
        <div class="course-tabs-container">
          <div data-ng-include="'/static/app/shared/tabs.html'"></div>
        </div>
        <div class="flex-container course-page-size"
             data-ng-if="tab === 'list' && (section.totalStudentCount > pagination.defaultItemsPerPage)">
          <span data-ng-bind="section.totalStudentCount"></span>&nbsp;total students &mdash; View per page:&nbsp;
          <ul class="flex-container">
            <li data-ng-repeat="option in pagination.options">
              <a href
                 data-ng-bind="option"
                 data-ng-class="{'selected': option==pagination.itemsPerPage}"
                 data-ng-click="resizePage(option)"
                 title="Show {{option}} results per page"></a><span data-ng-if="!$last">&nbsp;|&nbsp;</span>
            </li>
          </ul>
        </div>
      </div>

      <div data-ng-if="tab === 'list' && !isLoading && !error && section.totalStudentCount">
        <table id="course-list-view-table" class="course-list-view-table">
          <tr class="course-list-view-row">
            <th class="course-list-view-column course-list-view-column-checkbox course-list-view-column-header"></th>
            <th class="course-list-view-column course-list-view-column-avatar course-list-view-column-header">
              <span class="sr-only">Student Photo</span>
            </th>
            <th class="course-list-view-column course-list-view-column-profile course-list-view-column-header">
              <span class="sr-only">Student Profile</span>
            </th>
            <th class="course-list-view-column course-list-view-column-header">
              Course Site<span aria-hidden="true">(s)</span>
            </th>
            <th class="course-list-view-column course-list-view-column-header">Assignments Submitted</th>
            <th class="course-list-view-column course-list-view-column-header">Assignment Grades</th>
            <th class="course-list-view-column course-list-view-column-header">bCourses Activity</th>
            <th class="course-list-view-column course-list-view-column-header">
              Mid<span class="sr-only">point Grade</span>
            </th>
            <th class="course-list-view-column course-list-view-column-header">
              Final<span class="sr-only"> Grade</span>
            </th>
          </tr>

          <tr class="course-list-view-row"
              data-ng-class="{'list-group-item-info': anchor===student.uid}"
              data-ng-repeat="student in section.students">

            <td class="course-list-view-column course-list-view-column-checkbox">
              <div class="add-to-cohort-checkbox">
                <input id="student-{{student.uid}}-curated-cohort-checkbox"
                       type="checkbox"
                       aria-label="Add {{student.firstName}} {{student.lastName}} to a curated group"
                       data-ng-change="student.onCuratedCohortToggle()"
                       data-ng-model="student.selectedForCuratedCohort"/>
              </div>
            </td>

            <td class="course-list-view-column course-list-view-column-avatar">
              <div data-ng-include="'/static/app/student/studentAvatar.html'"></div>
            </td>

            <td class="course-list-view-column course-list-view-column-profile">
              <div>
                <a id="{{student.uid}}" data-ng-href="/student/{{student.uid}}">
                  <h3 class="course-student-name"
                      data-ng-class="{'demo-mode-blur': inDemoMode}">
                    {{student.lastName}}<span data-ng-if="student.firstName">, {{student.firstName}}</span>
                  </h3>
                </a>
              </div>
              <div class="student-sid"
                   data-ng-class="{'demo-mode-blur': inDemoMode}">
                {{student.sid}}
                <span class="red-flag-status" data-ng-if="student.enrollment.enrollmentStatus === 'W'">WAITLISTED</span>
                <span class="red-flag-status" data-ng-if="displayAsInactive(student)">INACTIVE</span>
              </div>
              <div>
                <span class="student-text" data-ng-bind="student.level"></span>
              </div>
              <div>
                <div class="student-text" data-ng-bind="major" data-ng-repeat="major in student.majors"></div>
              </div>
              <div>
                <div class="student-teams-container">
                  <div class="student-teams"
                       data-ng-bind="membership.groupName"
                       data-ng-repeat="membership in student.athleticsProfile.athletics"></div>
                </div>
              </div>
            </td>

            <td class="course-list-view-column">
              <div class="course-list-view-column-canvas-sites">
                <div class="course-list-view-column-canvas-sites-border"
                     data-ng-repeat="canvasSite in student.enrollment.canvasSites"
                     data-ng-if="student.enrollment.canvasSites.length">
                  <strong data-ng-bind="canvasSite.courseCode"></strong>
                </div>
                <div class="course-list-view-column-canvas-sites-border"
                     data-ng-if="!student.enrollment.canvasSites.length">
                  No course site
                </div>
              </div>
            </td>

            <td class="course-list-view-column">
              <div class="course-list-view-column-canvas-sites">
                <div data-ng-repeat="canvasSite in student.enrollment.canvasSites"
                     data-ng-if="student.enrollment.canvasSites.length">
                  <span class="sr-only" data-ng-bind="canvasSite.courseCode" data-ng-if="student.enrollment.canvasSites.length > 1"></span>
                  <div data-ng-if="canvasSite.analytics.assignmentsSubmitted.courseDeciles">
                    <strong data-ng-bind="canvasSite.analytics.assignmentsSubmitted.student.raw"></strong>
                    <div class="faint-text">
                      (Max: <span data-ng-bind="canvasSite.analytics.assignmentsSubmitted.courseDeciles[10]"></span>)
                    </div>
                  </div>
                  <div data-ng-if="!canvasSite.analytics.assignmentsSubmitted.courseDeciles">
                    No Data
                  </div>
                </div>
                <span data-ng-if="!student.enrollment.canvasSites.length"><span class="sr-only">No data</span>&mdash;</span>
              </div>
            </td>

            <td class="course-list-view-column">
              <div class="course-list-view-column-canvas-sites">
                <div class="profile-boxplot-container"
                     data-ng-repeat="canvasSite in student.enrollment.canvasSites"
                     data-ng-if="student.enrollment.canvasSites.length">
                  <span class="sr-only" data-ng-bind="canvasSite.courseCode" data-ng-if="student.enrollment.canvasSites.length > 1"></span>
                  <boxplot-draw class="profile-boxplot"
                                aria-hidden="true"
                                data-dataset="canvasSite.analytics"
                                data-ng-if="canvasSite.analytics.currentScore.boxPlottable"></boxplot-draw>
                  <div class="sr-only" data-ng-if="canvasSite.analytics.currentScore.boxPlottable">
                    <div>User score: <span data-ng-bind="canvasSite.analytics.currentScore.student.raw"></span></div>
                    <div>Maximum: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[10]"></span></div>
                    <div>70th Percentile: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[7]"></span></div>
                    <div>50th Percentile: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[5]"></span></div>
                    <div>30th Percentile: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[3]"></span></div>
                    <div>Minimum: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[0]"></span></div>
                  </div>
                  <div data-ng-if="!canvasSite.analytics.currentScore.boxPlottable">
                    <div data-ng-if="canvasSite.analytics.currentScore.courseDeciles">
                      Score: <strong data-ng-bind="canvasSite.analytics.currentScore.student.raw"></strong>
                      <div class="faint-text">
                        (Max: <span data-ng-bind="canvasSite.analytics.currentScore.courseDeciles[10]"></span>)
                      </div>
                    </div>
                    <div data-ng-if="!canvasSite.analytics.currentScore.courseDeciles">
                      No Data
                    </div>
                  </div>
                </div>
                <span data-ng-if="!student.enrollment.canvasSites.length"><span class="sr-only">No data</span>&mdash;</span>
              </div>
            </td>

            <td class="course-list-view-column">
              <div class="course-list-view-column-canvas-sites">
                <div class="profile-boxplot-container"
                     data-ng-repeat="canvasSite in student.enrollment.canvasSites"
                     data-ng-if="student.enrollment.canvasSites.length">
                  <span class="sr-only" data-ng-bind="canvasSite.courseCode" data-ng-if="student.enrollment.canvasSites.length > 1"></span>
                  <span data-ng-bind="lastActivityDays(canvasSite.analytics)"></span>
                </div>
                <span data-ng-if="!student.enrollment.canvasSites.length"><span class="sr-only">No data</span>&mdash;</span>
              </div>
            </td>

            <td class="course-list-view-column">
              <span class="cohort-grade"
                    data-ng-bind="student.enrollment.midtermGrade"
                    data-ng-if="student.enrollment.midtermGrade"></span>
              <i class="fas fa-exclamation-triangle boac-exclamation"
                 data-ng-if="isAlertGrade(student.enrollment.midtermGrade)"></i>
              <span data-ng-if="!student.enrollment.midtermGrade"><span class="sr-only">No data</span>&mdash;</span>
            </td>

            <td class="course-list-view-column">
              <span class="cohort-grade"
                    data-ng-bind="student.enrollment.grade"
                    data-ng-if="student.enrollment.grade"></span>
              <i class="fas fa-exclamation-triangle boac-exclamation"
                 data-ng-if="isAlertGrade(student.enrollment.grade)"></i>
              <span class="cohort-grading-basis"
                    data-ng-bind="student.enrollment.gradingBasis"
                    data-ng-if="!student.enrollment.grade"></span>
            </td>
          </tr>
        </table>

        <div class="flex-row flex-align-center">
          <ul uib-pagination
            boundary-link-numbers="true"
            data-ng-click="nextPage()"
            data-ng-if="section.totalStudentCount > pagination.itemsPerPage"
            direction-links="false"
            force-ellipses="true"
            id="pagination-widget"
            items-per-page="pagination.itemsPerPage"
            max-size="9"
            ng-model="pagination.currentPage"
            rotate="false"
            template-url="/static/app/shared/uibPaginationTemplate.html"
            total-items="section.totalStudentCount">
          </ul>
        </div>
      </div>

      <div id="matrix-outer" class="matrix-outer" data-ng-show="tab === 'matrix' && !isLoading && !error">
        <div data-ng-include="'/static/app/shared/matrix.html'"></div>
      </div>
    </div>
  </div>
</div>
