.accent-color-blue {
  color: #005c91;
}
.accent-color-green {
  color: #36a600;
}
.accent-color-orange {
  color: #e48600;
}
.accent-color-purple {
  color: #b300c5;
}
.accent-color-red {
  color: #d0021b;
}
.advising-note-search-result {
  margin: 15px 0;
}
.advising-note-search-result-header {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.advising-note-search-result-header-link {
   font-weight: 600;
}
.advising-note-search-result-footer {
  color: #999;
  font-size: 14px;
}
.advising-note-search-result-snippet {
  font-size: 16px;
  line-height: 1.3em;
  margin: 5px 0;
}
.align-items-center {
  align-items: center;
}
.avatar {
  background-image: url('~@/assets/avatar-50.png');
  background-size: cover;
  border: 5px solid #ccc;
  border-radius: 30px;
  height: 60px;
  object-fit: cover;
  width: 60px;
}
.bg-grey {
  background-color: #999 !important;
}
.boac-exclamation {
  color: #f0ad4e;
}
.btn-file-upload {
  border-color: grey;
  color: grey;
}
.btn-file-upload:hover,
.btn-file-upload:focus,
.btn-file-upload:active
{
  color: #333;
  background-color: #aaa;
}
.choose-attachment-file-wrapper {
  position: relative;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
}
.choose-attachment-file-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.choose-attachment-file-wrapper:hover,
.choose-attachment-file-wrapper:focus,
.choose-attachment-file-wrapper:active
{
  color: #333;
  background-color: #eee;
}
.cohort-create-input-name {
  border: 1px solid #d9d9d9;
  border-color: #66afe9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  width: 100%;
}
.cohort-grading-basis {
  color: #666;
  font-size: 14px;
  font-style: italic;
}
.cursor-grab {
  cursor: grab;
}
.cursor-pointer {
  cursor: pointer;
}
.demo-mode-blur {
  color: transparent !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}
.demo-mode-blur:hover {
  color: transparent !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
}
.drawer-enter-active {
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}
.drawer-leave-active {
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.5s;
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.drawer-enter-to, .drawer-leave {
  max-height: 280px;
  overflow: hidden;
}
.drawer-enter, .drawer-leave-to {
  overflow: hidden;
  max-height: 0;
}
.error-message-container {
  background-color: #efd6d6;
  border-radius: 4px;
  color: #9b393a;
}
.faint-text {
  color: grey;
}
.fill-viewport {
  height: 100%;
  font-size: 14px;
}
.filters-section-separator {
  border-top: 2px solid #eee;
  margin: 5px 0 0 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-24 {
  font-size: 24px;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}
.form-control {
  height: 38px;
  padding: 8px 12px;
}
.full-width {
  width: 100%;
}
.has-error {
  color: #cf1715;
}
.img-blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.inactive-info-icon {
  color: #d0021b;
  font-size: 16px;
}
.light-blue-background {
  background: #e3f5ff;
}
.min-width-100 {
  min-width: 100%;
}
.no-data-text {
  color: #666;
  font-size: 14px;
  font-style: italic;
}
.no-wrap {
  white-space: nowrap;
}
.page-section-header {
  font-size: 24px;
  font-weight: bold;
}
.page-section-header-sub {
  font-size: 18px;
  font-weight: bold;
}
.panel {
  -webkit-box-shadow: none;
  box-shadow: 0;
}
.pill {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  color: #666;
  font-size: 12px;
  height: 24px;
  margin-top: 2px;
  padding-top: 2px;
  width: auto;
}
.pill-attachment {
  height: 26px;
  padding: 6px;
}
.pill-list {
  list-style-type: none;
}
.pill-list-header {
  font-size: 16px;
  font-weight: 800;
}
.pill-alerts {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  padding: 0 4px 0 4px;
  text-align: center;
}
.pill-alerts-nonzero {
  background-color: #f0ad4e;
}
.pill-alerts-zero {
  background-color: #ccc;
}
.pill-alerts-per-student {
  color: #f0ad4e;
}
.red-flag-status {
  color: #d0021b;
  font-weight: bold;
}
.red-flag-small {
  color: #d0021b;
  font-size: 12px;
  font-weight: bold;
}
.service-announcement {
  background-color: #f0ad4e;
  font-weight: 500;
}
.sidebar {
  background-color: #125074;
}
.student-column {
  flex: 0 0 120px;
  margin-left: 15px;
}
.student-name {
  color: #49b;
  font-size: 16px;
  margin: 0;
}
.student-profile-h3 {
  border-bottom: 1px #999 solid;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}
.student-section-header {
  font-size: 24px;
  font-weight: bold;
}
.student-sid {
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0;
}
.student-teams-container {
  margin-top: 5px;
}
.student-text {
  color: #aaa;
  font-size: 13px;
}
.table-full-width {
  margin: 10px 0;
  table-layout: fixed;
  width: 100%;
}
.truncate {
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html,
body {
  height: 100%;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
select[data-value=''],
select option[value=''] {
  color: #999;
}
select.form-control {
  padding-left: 6px;
  width: 150px;
}
.sortable-table-header {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top;
}
.truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-30 {
  width: 30% !important;
}
.warning-message-container {
  background-color: #fbf7dc;
  border-radius: 4px;
  color: #795f31;
}
#content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#content a,
#content .btn-link {
  color: #337ab7;
}
#content .btn-link-close {
  border: 0;
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
}
#content h1:focus {
  outline: none;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
.list-group-item-info td:first-child {
  border-radius: 10px 0 0 10px;
}
.list-group-item-info td:last-child {
  border-radius: 0 10px 10px 0;
}

@media print {
  html,
  body {
    height: fit-content;
  }
}
