@supports not selector(:focus) {
  .bg-accent-blue:focus::after,
  .text-accent-blue:focus::after {
    outline-color: rgba(var(--v-theme-accent-blue)) !important;
  }
  .bg-accent-green:focus::after,
  .text-accent-green:focus::after {
    outline-color: rgba(var(--v-theme-accent-green)) !important;
  }
  .bg-accent-orange:focus::after,
  .text-accent-orange:focus::after {
    outline-color: rgba(var(--v-theme-accent-orange)) !important;
  }
  .bg-accent-purple:focus::after,
  .text-accent-purple:focus::after {
    outline-color: rgba(var(--v-theme-accent-purple)) !important;
  }
  .bg-accent-red:focus::after,
  .text-accent-red:focus::after {
    outline-color: rgba(var(--v-theme-accent-red)) !important;
  }
  .bg-primary:focus::after,
  .button-menu.bg-primary:focus,
  .text-primary:focus::after,
  button.clear-button:focus {
    outline-color: rgba(var(--v-theme-primary)) !important;
  }
  .bg-quaternary:focus::after,
  .text-quaternary:focus::after {
    outline-color: rgba(var(--v-theme-quaternary)) !important;
  }
  .bg-secondary:focus::after,
  .text-secondary:focus::after {
    outline-color: rgba(var(--v-theme-secondary)) !important;
  }
  .bg-tertiary:focus::after,
  .text-on-tertiary:focus::after,
  .text-tertiary:focus::after {
    outline-color: rgba(var(--v-theme-tertiary)) !important;
  }
  .checkbox-container:focus-within,
  .select-menu:focus,
  .vc-focus:focus,
  .v-btn:focus::after,
  .v-expansion-panel-title:focus,
  .v-file-input.v-input--focused,
  .v-list-item:focus::after,
  .v-list-item:focus-within::after,
  .v-selection-control--focus-visible .v-selection-control__input::before,
  a:not(.v-btn):focus,
  button:not(.v-btn):focus,
  h1[tabindex="-1"]:focus,
  *[role="button"]:focus {
    --v-theme-overlay-multiplier: 3;
    border-color: transparent;
    box-shadow: 0 0 0.25rem 0.125rem white;
    outline-color: currentColor;
    outline-offset: 0.125rem;
    outline-style: solid;
    outline-width: 0.125rem;
  }
  .select-menu:focus,
  .v-btn-group > .v-btn:focus::after,
  .v-chip:focus-visible,
  .v-file-input.v-input--focused,
  .v-tab:focus::after {
    outline-offset: -0.1rem !important;
  }
  .sidebar .v-btn:focus::after,
  .v-btn.text-white:focus::after,
  a.text-white:focus {
    box-shadow: none;
    outline-color: rgba(white, calc(0.25 * var(--v-theme-overlay-multiplier))) !important;
  }
  .sort-col-btn:focus::after {
    outline-offset: -0.2rem !important;
  }
  .v-btn:focus > .v-btn__overlay,
  .v-chip:focus-visible {
    opacity: var(--v-focus-opacity);
  }
  .v-expansion-panel-title:focus {
    outline-offset: 0.025rem !important;
    .v-expansion-panel-title__overlay {
      --v-theme-overlay-multiplier: 1 !important;
    }
  }
  .v-list-item:focus > .v-list-item__overlay {
    opacity: calc(var(--v-focus-opacity) * var(--v-theme-overlay-multiplier)) !important;
  }
  .v-list-item:focus::after {
    opacity: calc(0.25 * var(--v-theme-overlay-multiplier));
  }
  .v-menu .v-list-item:focus::after,
  .v-menu .v-list-item:focus-within::after,
  .v-menu .v-list-item .v-btn.v-btn--block:focus::after,
  .v-pagination .v-pagination__list .v-btn:focus::after {
    box-shadow: inset 0 0 0.125rem 0.125rem white;
    outline-offset: -0.125rem !important;
  }
  .v-pagination .v-pagination__list .v-btn:focus {
    box-shadow: none;
    outline: none !important
  }
  a:not(.v-btn):not(.v-chip):focus {
    --current-color: currentColor;
    border-radius: 1px;
    box-shadow: none;
    outline-color: rgba(var(--current-color), calc(var(--v-focus-opacity) * var(--v-theme-overlay-multiplier)));
    outline-offset: 0.2rem;
    outline-style: auto;
  }
  button.clear-button:focus {
    outline-offset: -0.175rem;
  }
  input[type="checkbox"]:focus {
    outline: none;
  }
}
@supports selector(:focus-visible) {
  .bg-accent-blue:focus-visible::after,
  .text-accent-blue:focus-visible::after {
    outline-color: rgba(var(--v-theme-accent-blue)) !important;
  }
  .bg-accent-green:focus-visible::after,
  .text-accent-green:focus-visible::after {
    outline-color: rgba(var(--v-theme-accent-green)) !important;
  }
  .bg-accent-orange:focus-visible::after,
  .text-accent-orange:focus-visible::after {
    outline-color: rgba(var(--v-theme-accent-orange)) !important;
  }
  .bg-accent-purple:focus-visible::after,
  .text-accent-purple:focus-visible::after {
    outline-color: rgba(var(--v-theme-accent-purple)) !important;
  }
  .bg-accent-red:focus-visible::after,
  .text-accent-red:focus-visible::after {
    outline-color: rgba(var(--v-theme-accent-red)) !important;
  }
  .bg-primary:focus-visible::after,
  .button-menu.bg-primary:focus-visible,
  .text-primary:focus-visible::after,
  button.clear-button:focus-visible {
    outline-color: rgba(var(--v-theme-primary)) !important;
  }
  .bg-quaternary:focus-visible::after,
  .text-quaternary:focus-visible::after {
    outline-color: rgba(var(--v-theme-quaternary)) !important;
  }
  .bg-secondary:focus-visible::after,
  .text-secondary:focus-visible::after {
    outline-color: rgba(var(--v-theme-secondary)) !important;
  }
  .bg-tertiary:focus-visible::after,
  .text-on-tertiary:focus-visible::after,
  .text-tertiary:focus-visible::after {
    outline-color: rgba(var(--v-theme-tertiary)) !important;
  }
  .checkbox-container:focus-within,
  .select-menu:focus-visible,
  .vc-focus:focus-visible,
  .v-btn:focus-visible::after,
  .v-expansion-panel-title:focus-visible,
  .v-file-input.v-input--focused,
  .v-list-item:focus-visible::after,
  .v-list-item:focus-within::after,
  .v-selection-control--focus-visible .v-selection-control__input::before,
  a:not(.v-btn):focus-visible,
  button:not(.v-btn):focus-visible,
  h1[tabindex="-1"]:focus-visible,
  *[role="button"]:focus-visible {
    --v-theme-overlay-multiplier: 3;
    border-color: transparent;
    box-shadow: 0 0 0.25rem 0.125rem white;
    outline-color: currentColor;
    outline-offset: 0.125rem;
    outline-style: solid;
    outline-width: 0.125rem;
  }
  .select-menu:focus-visible,
  .v-chip:focus-visible,
  .v-btn-group > .v-btn:focus-visible::after,
  .v-file-input.v-input--focused,
  .v-tab:focus-visible::after {
    box-shadow: inset 0 0 0.1rem 0.05rem white !important;
    outline-offset: -0.1rem !important;
  }
  .sidebar .v-btn:focus-visible::after,
  .v-btn.text-white:focus-visible::after,
  a.text-white:focus-visible {
    box-shadow: none;
    outline-color: rgba(white, calc(0.25 * var(--v-theme-overlay-multiplier))) !important;
  }
  .sort-col-btn:focus-visible::after {
    outline-offset: -0.2rem !important;
  }
  .v-btn:focus-visible > .v-btn__overlay,
  .v-chip:focus-visible > .v-chip__overlay {
    opacity: var(--v-focus-opacity) !important;
  }
  .v-expansion-panel-title:focus-visible {
    outline-offset: 0.025rem !important;
    .v-expansion-panel-title__overlay {
      --v-theme-overlay-multiplier: 1 !important;
    }
  }
  .v-list-item:focus-visible > .v-list-item__overlay {
    opacity: calc(var(--v-focus-opacity) * var(--v-theme-overlay-multiplier)) !important;
  }
  .v-list-item:focus-visible::after {
    opacity: calc(0.25 * var(--v-theme-overlay-multiplier));
  }
  .v-menu .v-list-item:focus-visible::after,
  .v-menu .v-list-item:focus-within::after,
  .v-menu .v-list-item .v-btn.v-btn--block:focus-visible::after,
  .v-pagination .v-pagination__list .v-btn:focus-visible::after {
    box-shadow: inset 0 0 0.125rem 0.125rem white;
    outline-offset: -0.125rem !important;
  }
  .v-pagination .v-pagination__list .v-btn:focus-visible {
    box-shadow: none;
    outline: none !important
  }
  a:not(.v-btn):not(.v-chip):focus-visible {
    --current-color: currentColor;
    border-radius: 1px;
    box-shadow: none;
    outline-color: rgba(var(--current-color), calc(var(--v-focus-opacity) * var(--v-theme-overlay-multiplier)));
    outline-offset: 0.2rem;
    outline-style: auto;
  }
  button.clear-button:focus-visible {
    outline-offset: -0.175rem;
  }
  input[type="checkbox"]:focus-visible {
    outline: none;
  }
}
.v-input--focused.basic-search .v-field--focused {
  --v-theme-overlay-multiplier: 3;
  outline-color: rgba(white, calc(0.25 * var(--v-theme-overlay-multiplier))) !important;
  outline-style: solid;
}
.v-selection-control--focus-visible .v-selection-control__input::before {
  background-color: transparent;
  opacity: calc(0.25 * var(--v-theme-overlay-multiplier)) !important;
  outline-offset: -0.4rem !important;
}
.v-selection-control--focus-visible.v-selection-control--density-compact .v-selection-control__input::before {
  outline-offset: -0.2rem !important;
}
