.choose-attachment-file-wrapper {
  position: relative;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
}
.choose-attachment-file-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.choose-attachment-file-wrapper:hover,
.choose-attachment-file-wrapper:focus,
.choose-attachment-file-wrapper:active
{
  color: #333;
  background-color: #eee;
}
.demo-mode-blur {
  color: transparent !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}
.demo-mode-blur:hover {
  color: transparent !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-24 {
  font-size: 24px;
}
.modal-open {
  overflow: hidden;
}
.page-section-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.page-section-header-sub {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.section-divider {
  background-color: #4a90e2;
  border: none;
  color: #4a90e2;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sortable-table-header {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  min-width: unset;
  text-transform: uppercase !important;
  vertical-align: top;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.stacked-table {
  thead {
    display: none;
  }
  tbody, tbody>tr, tbody>tr>td {
    display: block;
  }
  tbody>tr {
    margin-bottom: 12px;
  }
  tbody>tr>td {
    height: unset !important;

    &::after {
      display: block;
      clear: both;
      content: "";
    }
    &::before {
      content: attr(data-label);
      width: 40%;
      float: left;
      text-align: right;
      overflow-wrap: break-word;
      font-weight: 700;
      font-style: normal;
      padding: 0 0.5rem 0 0;
      margin: 0;
    }
    &>div {
      display: inline-block;
      width: 60%;
      padding: 0 0 0 0.5rem;
      margin: 0;
    }
  }
}
.truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vh-100 {
  height: 100vh!important;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent
}
a:hover {
  color: #0056b3;
  text-decoration: underline
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}
table, th, td {
  border: none !important;
}
