.accent-color-blue {
  color: #005c91;
}
.accent-color-green {
  color: #36a600;
}
.accent-color-orange {
  color: #e48600;
}
.accent-color-purple {
  color: #b300c5;
}
.accent-color-red {
  color: #d0021b;
}
.autocomplete-with-add-button .v-input__append,
.autocomplete-with-add-button .v-input__control,
.autocomplete-with-add-button .v-field,
.autocomplete-with-add-button .add-button {
  height: 48px !important;
  padding-top: 0 !important;
}
.autocomplete-with-add-button .v-field {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.autocomplete-with-add-button .v-field  .v-field__input {
  margin-bottom: auto !important;
  margin-top: auto !important;
}
.autocomplete-with-add-button .add-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.boac-exclamation {
  color: #f0ad4e;
}
.border-color-warning {
  border-bottom-color: rgb(var(--v-theme-warning)) !important;
}
.border-primary {
  border-color: rgb(var(--v-theme-primary)) !important;
}
.boxplot-container {
  align-items: flex-end;
  display: flex;
}
.boxplot-container .highcharts-tooltip {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  line-height: 1.4em;
  min-width: 200px;
  padding: 0;
}
.boxplot-container .highcharts-tooltip::after {
  background: #fff;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  top: 75px;
  left: -6px;
  transform: rotate(135deg);
  width: 10px;
}
.boxplot-container g.highcharts-tooltip {
  display: none !important;
}
.boxplot-container .highcharts-tooltip span {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: auto !important;
}
.choose-attachment-file-wrapper {
  position: relative;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid rgb(var(--v-theme-faint));
  border-radius: 4px;
  text-align: center;
}
.choose-attachment-file-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.choose-attachment-file-wrapper:hover,
.choose-attachment-file-wrapper:focus,
.choose-attachment-file-wrapper:active
{
  color: #333;
  background-color: #eee;
}
.default-margins {
  margin: 16px 16px 16px 22px;
}
.demo-mode-blur {
  color: transparent !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}
.demo-mode-blur:hover {
  color: transparent !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
}
.error-message-container {
  background-color: #efd6d6;
  border-radius: 4px;
  color: #9b393a;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.light-blue-background {
  background: #e3f5ff;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
.list-group-item-info td:first-child {
  border-radius: 10px 0 0 10px;
}
.list-group-item-info td:last-child {
  border-radius: 0 10px 10px 0;
}
.list-no-bullets {
  list-style-type: none;
}
.min-height-unset {
  min-height: unset !important;
}
.modal-content {
  background-color: #fff !important;
  margin: 140px auto auto auto !important;
  padding: 16px 0 !important;
  width: 60% !important;
}
.modal-open {
  overflow: hidden;
  scrollbar-gutter: stable !important;
}
.no-data-text {
  color: #666;
  font-size: 14px;
  font-style: italic;
}
.page-section-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.page-section-header-sub {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.pill {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  color: #666;
  font-size: 12px;
  height: 24px;
  margin-top: 2px;
  padding-top: 2px;
  width: auto;
}
.pill-attachment {
  display: inline-block;
  height: 24px !important;
  padding: 2px 8px 0 8px;
}
.pill-attachment button {
  margin-top: .02rem;
}
.pill-list {
  list-style-type: none;
}
.pill-list-header {
  font-size: 16px;
  font-weight: 800;
}
.pill-alerts {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  padding: 0 4px 0 4px;
  text-align: center;
}
.pill-alerts-nonzero {
  background-color: #f0ad4e;
}
.pill-alerts-zero {
  background-color: #ccc;
}
.pill-alerts-per-student {
  color: #f0ad4e;
}
.position-relative {
  position: relative;
}
.scrollbar-gutter-stable {
  scrollbar-gutter: stable !important;
}
.section-divider {
  background-color: #4a90e2;
  border: none;
  color: #4a90e2;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.select-menu {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAHCAYAAAD9NeaIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA+hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKE1hY2ludG9zaCkiIHhtcDpDcmVhdGVEYXRlPSIyMDE1LTA0LTE3VDE3OjEyOjQyKzAyOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAxNS0wNC0yMFQxNzoxNjoyNCswMjowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAxNS0wNC0yMFQxNzoxNjoyNCswMjowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTU4MjBDRURERjVCMTFFNEEzN0FCODBEM0I5MTExMjkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTU4MjBDRUVERjVCMTFFNEEzN0FCODBEM0I5MTExMjkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2RUVFRDJCNkREQzMxMUU0QTM3QUI4MEQzQjkxMTEyOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFNTgyMENFQ0RGNUIxMUU0QTM3QUI4MEQzQjkxMTEyOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuShL/sAAABeSURBVHjaYszOzjZnYGDYCcT8DMSBv0AcP2XKlKVEqmdgAuKTQOwOxB+JtQCIibYAZgkDkRaRZQGyJYQsItsCdEtwWUSRBdgsQbeIYgtAgAWHOMwiJSBezkAhAAgwAJSTG/DI0S9VAAAAAElFTkSuQmCC");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: auto 15%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: inset 0 -1.3em 1em 0 rgba(0, 0, 0, 0.02);
  color: #495057;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.5;
  padding: .375rem 1.75rem .375rem .75rem;
  vertical-align: middle;
  &:focus {
    border-color : #aaaaaa;
    outline      : 0;
    box-shadow   : inset 0 -1.3em 1em 0 rgba(0, 0, 0, 0.02);
  }
}
.sidebar-pill {
  background-color: rgb(var(--v-theme-secondary));
  border-radius: 10px;
  color: rgb(var(--v-theme-quaternary));
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  padding: 0 4px 0 4px;
  text-align: center;
}
.sortable-table-header {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.student-classes-expansion-panel button {
  padding: 0 9px 0 9px;
}
.student-classes-expansion-text div {
  padding: 0 3px 0 3px;
}
.student-column {
  flex: 0 0 120px;
  margin-left: 15px;
}
.student-profile-h3 {
  border-bottom: 1px #999 solid;
  color: #6e6e6e;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}
.student-section-header {
  font-size: 24px;
  font-weight: bold;
}
.student-sid {
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0;
}
.student-teams-container {
  margin-top: 5px;
}
.student-text {
  color: #6e6e6e;
  font-size: 13px;
}
.truncate {
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v-input-details-override {
  .v-input__details {
    align-items: baseline;
    flex-wrap: wrap;
    padding: 6px 10px 0 10px;
    .v-counter {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: end;
    }
    .v-messages {
      font-size: 14px;
      line-height: 14px;
      min-height: unset;
      .v-messages__message {
        margin: 4px 0;
      }
    }
  }
}
.v-chip-content-override {
  .v-chip__content {
    overflow: hidden !important;
  }
}
.vertical-bottom {
  vertical-align: bottom !important;
}
.vertical-top {
  vertical-align: top !important;
}
.vh-100 {
  height: 100vh !important;
}
.warning-message-container {
  background-color: #fbf7dc;
  border-radius: 4px;
  color: #795f31;
}
a {
  color: rgb(var(--v-theme-anchor));
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
body,
html {
  height: 100%;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}
table, th, td {
  border: none !important;
  border-spacing: 0;
}
table.table-hover tr:hover {
  background-color: rgba(0, 0, 0, .075);
}
table thead {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  min-width: unset;
  text-align: left;
  text-transform: uppercase !important;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .responsive-data-table.v-data-table {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    td {
      display: block;
      height: 32px !important;
      padding-top: 8px;
    }
    tr:last-child {
      margin-bottom: 8px;
    }
    td:last-child {
      border-bottom: 1px solid #0f172a !important;
      margin-bottom: 12px;
      padding-bottom: 36px !important;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
}

@media print {
  html,
  body {
    height: fit-content;
  }
}
