.autocomplete-with-add-button .v-field {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.choose-attachment-file-wrapper {
  position: relative;
  align-items: center;
  overflow: hidden;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
}
.choose-attachment-file-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.choose-attachment-file-wrapper:hover,
.choose-attachment-file-wrapper:focus,
.choose-attachment-file-wrapper:active
{
  color: #333;
  background-color: #eee;
}
.demo-mode-blur {
  color: transparent !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}
.demo-mode-blur:hover {
  color: transparent !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
}
.faint-text {
  color: grey;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}
.has-error {
  color: #cf1715;
}
.list-no-bullets {
  list-style-type: none;
}
.min-height-unset {
  min-height: unset !important;
}
.modal-content {
  background-color: #fff !important;
  margin: 140px auto auto auto !important;
  padding: 16px 0 !important;
  width: 60% !important;
}
.modal-open {
  overflow: hidden;
}
.page-section-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.page-section-header-sub {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.section-divider {
  background-color: #4a90e2;
  border: none;
  color: #4a90e2;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sidebar-pill {
  background-color: rgb(var(--v-theme-secondary));
  border-radius: 10px;
  color: rgb(var(--v-theme-quaternary));
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  padding: 0 4px 0 4px;
  text-align: center;
}
.sortable-table-header {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  min-width: unset;
  text-transform: uppercase !important;
  vertical-align: top;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v-input-details-override {
  .v-input__details {
    align-items: baseline;
    flex-wrap: wrap;
    padding: 6px 10px 0 10px;
    .v-counter {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: end;
    }
    .v-messages {
      font-size: 14px;
      line-height: 14px;
      min-height: unset;
      .v-messages__message {
        margin: 4px 0;
      }
    }
  }
}
.v-chip-content-override {
  .v-chip__content {
    overflow: hidden !important;
  }
}
.vc-zindex-fix .vc-popover-content-wrapper, .vc-zindex-fix .vc-popover-content {
  overflow: visible;
  z-index: 1000 !important;
}
.vh-100 {
  height: 100vh !important;
}
a {
  color: rgb(var(--v-theme-anchor));
  text-decoration: none;
  background-color: transparent
}
a:hover {
  color: #0056b3;
  text-decoration: underline
}
body,html {
  height: 100%
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}
table, th, td {
  border: none !important;
}
