.vc-blue {
  --vc-accent-50: #f3f8fb !important;
  --vc-accent-100: #e8f2f8 !important;
  --vc-accent-200: #dcebf4 !important;
  --vc-accent-300: #d1e5f1 !important;
  --vc-accent-400: #c5deed !important;
  --vc-accent-500: #bad7e9 !important;
  --vc-accent-600: #aed1e5 !important;
  --vc-accent-700: #a2cae2 !important;
  --vc-accent-800: #97c4de !important;
  --vc-accent-900: #8bbdda !important;
}
