.body-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-nowrap {
  white-space: nowrap;
}

.container-left {
  float: left;
}

.container-right {
  float: right;
}

.container-top {
  font-weight: 300;
  padding-top: 10px;
}

.dev-auth-login {
  margin-top: 10px;
}

.faint-text {
  color: grey;
}

.flex-column-btn {
  padding: 0 10px 0 10px;
}

.flex-column-right {
  padding: 10px 10px 10px 0;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-container-wrap-reverse {
  display: flex;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-row-wrap {
  flex-flow: wrap;
}

.flex-row-wrap div:first-child {
  margin-right: 10px;
}

.flex-row-wrap div:last-child {
  margin-right: 150px;
}

.flex-row-wrap-separator {
  margin: 30px 0 30px 0;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column-50 {
  flex: 0 0 50%;
  flex-grow: 1;
  min-width: 350px;
}

.form-control {
  height: 38px;
  padding: 8px 12px;
}

.has-error {
  color: #cf1715;
}

.main {
  padding-top: 20px;
  min-height: 370px;
}

oi-select .select-dropdown {
  max-height: 250px !important;
}

select[data-value=""],
select option[value=""] {
  color: #999;
}

select.form-control {
  padding-left: 6px;
  width: 150px;
}
