.body-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}

.faint-text {
  color: grey;
}

.dev-auth-login {
  margin-top: 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.container-left {
  float: left;
}

.container-right {
  float: right;
}

.container-top {
  font-weight: 300;
  padding-top: 10px;
}

.main {
  padding-top: 20px;
  min-height: 370px;
}
