.body-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}

.container-left {
  float: left;
}

.container-right {
  float: right;
}

.container-top {
  font-weight: 300;
  padding-top: 10px;
}

.dev-auth-login {
  margin-top: 10px;
}

.faint-text {
  color: grey;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-container-wrap-reverse {
  display: flex;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column-50 {
  flex: 0 0 50%;
  flex-grow: 1;
  min-width: 350px;
}

.main {
  padding-top: 20px;
  min-height: 370px;
}

