/**
 * Copyright ©2018. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

.accordion-header {
  margin: 0;
}

.avatar {
  background-image: url(/static/app/shared/avatar-50.png);
  background-size: cover;
  border: 5px solid #ccc;
  border-radius: 30px;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.avatar-large {
  border: 4px solid #999;
  border-radius: 50px;
  height: 100px;
  margin: 20px;
  max-height: 100px;
  width: 100px;
}

.avatar-small {
  border: 1px;
  border-radius: 15px;
  height: 30px;
  padding: 2px 0 2px 0;
  width: 30px;
}

.boac-exclamation {
  color: #f0ad4e;
}

.body-text {
  font-size: 16px;
  line-height: 1.4em;
}

.btn-search-students {
  height: 46px;
}

.container-error {
  padding: 0 10px 0 10px;
}

.container-right {
  float: right;
}

.demo-mode-blur {
  color: transparent !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}

.demo-mode-blur:hover {
  color: transparent !important;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
}

.display-none {
  display: none;
}

.dropdown-menu li a,
.pagination li a {
  color: #333 !important;
}

.pagination .active a {
  color: #fff !important;
}

.edit-mode-button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.faint-text {
  color: grey;
}

.flex-align-center {
  align-items: center;
}

.flex-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-justify-center {
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.form-control {
  height: 38px;
  padding: 8px 12px;
}

.full-width {
  width: 100%;
}

.has-error {
  color: #cf1715;
}

.img-blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.index-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.index-container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.index-container-body {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.index-container-footer {
  margin: 20px 0 70px 0;
  width: 100%;
}

.index-container-header {
  background-color: #3b7ea5;
}

.index-container-sidebar {
  background-color: #125074;
  flex: 0 0 230px;
  min-height: 100%;
}

.loading-spinner-large {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  margin: auto;
  overflow: show;
  width: 2em;
  z-index: 999;
}

.no-wrap {
  white-space: nowrap;
}

.page-not-found-background-image {
  background: url(/static/app/shared/404_lost_in_the_clouds.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.page-section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.page-section-header-sub {
  font-size: 18px;
  font-weight: bold;
}

.red-flag-small {
  color: #d0021b;
  font-size: 12px;
  font-weight: bold;
}

.return-to-url {
  padding: 10px 0 0 5px;
}

.search-header-curated-cohort {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0 10px 0;
}

.search-results-cell {
  padding: 5px 10px 5px 0;
  vertical-align: top;
  width: 33%;
}

.search-students-form-button {
  min-width: 200px;
  width: 60%;
}

.search-students-form-label {
  font-weight: 400;
  margin: 0;
}

.search-students-form-label-outer {
  color: #fff;
  margin: 10px 0;
}

.search-students-icon {
  color: #999;
  position: relative;
  top: 28px;
  left: 10px;
}

.search-students-input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #333;
  padding: 10px;
  width: 100%;
}

.search-students-with-button {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.search-students-with-button div {
  align-self: flex-end;
}

.search-students-with-button div:first-child {
  padding-right: 15px;
}

.add-to-cohort-checkbox {
  padding: 10px;
}

.add-to-cohort-checkbox input {
  margin: 0;
}

.tabs-container {
  display: flex;
  margin: 20px 0 10px 0;
  white-space: nowrap;
}

.table-full-width {
  margin: 10px 0;
  table-layout: fixed;
  width: 100%;
}

.visualize-metrics {
  margin-bottom: 20px;
  width: 80%;
}

.visualize-metrics td,
.visualize-metrics th {
  font-size: 14px;
  padding: 0 25px 5px 0;
  text-align: left;
  vertical-align: top;
}

.visualize-metrics-legend {
  color: #999;
  font-weight: normal;
  white-space: nowrap;
  width: 15em;
}

.visualize-metrics-maximum {
  color: #666;
}

.visualize-metrics-no-data {
  color: #666;
  font-style: italic;
}

.visualize-metrics-summary {
  width: 12em;
}

.wrap-hard {
  flex-wrap: wrap;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
}

#content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content a,
#content .btn-link {
  color: #337ab7;
}

#content .btn-link-close {
  border: 0;
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
}

#content h1:focus {
  outline: none;
}

#content .list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

#content .nav-pills .nav-link.active,
#content .nav-pills .show > .nav-link {
  background-color: #337ab7;
  color: #fff;
}

#content .tab-button {
  background-color: #6bd;
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  opacity: 1;
}

#content .tab-button:hover {
  color: #cef;
}

#content .tab-button:disabled {
  cursor: not-allowed;
}

#content .tab-btn-group {
  padding: 0 0 5px 0;
}

#content .tab-button-selected {
  background-color: #49b;
}

#content .tab-button-selected:active,
#content .tab-button-selected:focus {
  color: #fff;
  outline: none !important;
}

#content .toggle-btn-link {
  font-size: 14px;
}

select[data-value=""],
select option[value=""] {
  color: #999;
}

select.form-control {
  padding-left: 6px;
  width: 150px;
}
