/**
 * Copyright ©2018. The Regents of the University of California (Regents). All Rights Reserved.
 *
 * Permission to use, copy, modify, and distribute this software and its documentation
 * for educational, research, and not-for-profit purposes, without fee and without a
 * signed licensing agreement, is hereby granted, provided that the above copyright
 * notice, this paragraph and the following two paragraphs appear in all copies,
 * modifications, and distributions.
 *
 * Contact The Office of Technology Licensing, UC Berkeley, 2150 Shattuck Avenue,
 * Suite 510, Berkeley, CA 94720-1620, (510) 643-7201, otl@berkeley.edu,
 * http://ipira.berkeley.edu/industry-info for commercial licensing opportunities.
 *
 * IN NO EVENT SHALL REGENTS BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL,
 * INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF
 * THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF REGENTS HAS BEEN ADVISED
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE
 * SOFTWARE AND ACCOMPANYING DOCUMENTATION, IF ANY, PROVIDED HEREUNDER IS PROVIDED
 * "AS IS". REGENTS HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
 * ENHANCEMENTS, OR MODIFICATIONS.
 */

.admin-group-name {
  font-size: 16px;
  font-weight: bold;
}

.admin-accordion .panel-heading {
  padding-left: 0;
}

.admin-accordion-heading {
  background: #ecf5fb;
  display: flex;
  justify-content: space-between;
}

.admin-accordion-heading-count {
  align-items: center;
  display: flex;
  margin: 10px 15px;
}

.admin-accordion-heading-count-label {
  margin: 0 5px;
}

.admin-accordion-heading-name {
  align-items: center;
  display: flex;
  margin: 10px 15px;
}

.admin-accordion .panel-title a:focus,
.admin-accordion .panel-title a:hover {
  text-decoration: none;
}

.user-summary-column {
  padding: 0 5px 0 8px;
}

.user-summary-name {
  flex: 1;
}

.demo-mode-label {
  font-weight: 500;
  padding-bottom: 3px;
}

.demo-mode-switch-container {
  align-items: center;
  display: flex;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-mode-switch-container > div {
  padding-left: 10px;
}

.demo-mode-toggling-label {
  padding: 14px 0 3px 0;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  -webkit-transition: 0.4s;
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

.slider::before {
  -webkit-transition: 0.4s;
  background-color: white;
  content: "";
  height: 26px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
  width: 26px;
}

.demo-mode-input-checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.demo-mode-input-checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
