<div class="container">
  <div data-ng-if="isLoading">
    <div class="loading-spinner-large">
      <i class="fas fa-sync fa-spin fa-5x"></i>
      <span role="alert" aria-live="passive" class="sr-only">Loading...</span>
    </div>
  </div>
  <div data-ng-if="!isLoading">
    <h1>Users</h1>
    <div>
      <span class="red-flag-status">*</span> Indicates Admin user
    </div>
    <hr/>
    <div>
      <ul data-ng-repeat="user in allProfiles">
        <li>
          <div>
            {{user.firstName}} {{user.lastName}}<span class="red-flag-status" data-ng-if="user.is_admin">*</span> ({{user.uid}})
            [<a href data-ng-click="become(user.uid)">become</a>]
          </div>
          <ul>
            <li data-ng-repeat="(deptCode, role) in user.departments">{{deptCode}}: {{role}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
